<div class="{{#inArray page-category 'home'}}index-alerts{{else}}content-alert{{/inArray}}">
    <noscript>
        <div class="alert alert-danger alert-global" role="alert">Please enable JavaScript in your browser. Many features of this site rely on JavaScript and will not work without it.</div>
    </noscript>
    {{#if settings.alerts.enabled}}
    {{#each settings.alerts.messages}}
    <div id="alert-{{hash message}}" class="alert alert-{{#if class}}{{class}}{{else}}info{{/if}} {{#if dismissible}}alert-dismissable fade show{{/if}} alert-global" role="alert">
        {{{message}}}
        {{#if dismissible}}
        <button type="button" class="close alert-global-close" data-closes="alert-{{hash message}}" data-dismiss="alert" aria-label="Close" style="font-size:18px;"><span aria-hidden="true">&times;</span></button>
        {{/if}}
    </div>
    {{/each}}
    {{/if}}
</div>
