<title>{{title}} - ResourcePile</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{#if description}}{{description}}{{else}}{{#if subtitle}}{{subtitle}}{{else}}{{tagline}}{{/if}}{{/if}}"/>
<meta property="og:title" content="{{title}} - ResourcePile"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://mcresourcepile.github.io/"/>
<meta property="og:image" content="https://mcresourcepile.github.io/assets/img/logo-whitebg.jpg"/>
<meta property="og:description" content="{{#if description}}{{description}}{{else}}{{#if subtitle}}{{subtitle}}{{else}}{{tagline}}{{/if}}{{/if}}"/>
<meta property="og:site_name" content="ResourcePile"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="{{title}} - ResourcePile"/>
<meta name="tiwtter:description" content="{{#if description}}{{description}}{{else}}{{#if subtitle}}{{subtitle}}{{else}}{{tagline}}{{/if}}{{/if}}"/>
<meta name="tiwtter:image" content="https://mcresourcepile.github.io/assets/img/logo-whitebg.jpg"/>
<meta name="theme-color">
<link rel="shortcut icon" href="/assets/favicon.ico">