<title>{{title}} - ResourcePile</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{{settings.meta.description}}}"/>
<meta property="og:title" content="{{{settings.meta.title}}}"/>
<meta property="og:type" content="{{{settings.meta.type}}}"/>
<meta property="og:url" content="{{{settings.meta.url}}}"/>
<meta property="og:image" content="{{{settings.meta.image}}}"/>
<meta property="og:description" content="{{{settings.meta.description}}}"/>
<meta property="og:site_name" content="{{{settings.meta.name}}}"/>
<meta name="twitter:card" content="{{{settings.meta.twitter_card}}}"/>
<meta name="twitter:title" content="{{{settings.meta.title}}}"/>
<meta name="tiwtter:description" content="{{{settings.meta.description}}}"/>
<meta name="tiwtter:image" content="{{{settings.meta.image}}}"/>
<meta name="theme-color">
<link rel="shortcut icon" href="/assets/favicon.ico">