{{> featured_maps}}
<div id="searchable-collection" class="maps-output row center">
    <div class="col-lg-3 order-lg-2 order-1">
        <div class="dynamic-sidebar">
            <div class="scrollable">
                {{> search_sidebar}}
            </div>
        </div>
    </div>
    <div class="col-lg-9 order-lg-1 order-2 dynamic list">
        {{#each (sortBy data.maps "name")}}
        {{> map_thumbnail}}
        {{/each}}
    </div>
</div>
<div id="maps-data" data-source="{{settings.maps.group}}"></div>
{{> map_modal_compact_image}}
{{> map_modal_download}}
{{> map_modal_error}}
{{> map_modal_external_opened}}
{{> map_modal_rate_limit}}
{{> map_modal_started_download}}
