{{#if order}}
{{#order}}
<nav>
    <div class="row tm-pager">
        <div class="col-lg-4 col-md-6 tm-pager-last">
            {{#if last}}
            <a class="btn btn-outline-primary" href="/tournaments/{{@root.settings.tournaments.host}}/{{snakecase (lowercase last)}}" role="button">
                <i class="fas fa-long-arrow-alt-left"></i> Last: {{@root.order.last}}
            </a>
            {{else}}
            <button type="button" class="btn btn-outline-primary" disabled>
                <i class="fas fa-long-arrow-alt-left"></i> Last
            </button>
            {{/if}}
        </div>
        <div class="col-lg-4 tm-pager-number">
            <p>{{type}} #{{number}}</p>
        </div>
        <div class="col-lg-4 col-md-6 tm-pager-next">
            {{#if next}}
            <a class="btn btn-outline-primary" href="/tournaments/{{@root.settings.tournaments.host}}/{{snakecase (lowercase next)}}" role="button">
                Next: {{@root.order.next}} <i class="fas fa-long-arrow-alt-right"></i>
            </a>
            {{else}}
            <button type="button" class="btn btn-outline-primary" disabled>
                Next <i class="fas fa-long-arrow-alt-right"></i>
            </button>
            {{/if}}
        </div>
    </div>
</nav>
{{/order}}
{{/if}}
<div class="center">
    {{#if @root.settings.tournaments.default_banner}}
    <div class="image-banner-default" style="background: url('../../assets/img/tournament/banners/default/{{@root.settings.tournaments.default_banner}}.jpg'); background-position: center; background-size: cover;">{{title}}</div>
    {{else}}
    <img class="image-banner-custom" src="../../assets/img/tournament/banners/{{@root.settings.tournaments.host}}/{{snakecase (lowercase title)}}.png">
    {{/if}}
</div>
{{#results}}
<div class="center" style="margin-bottom: 5px;">
    {{#if first_place}}
    <div class="league-position league-position-first">
        <i class="fas fa-trophy"></i>
        <div class="league-team">{{first_place}}</div>
        <div class="league-team-position">1<sup>st</sup> place</div>
    </div>
    <div class="row">
        <div class="league-position col-sm-6">
            <i class="fas fa-medal"></i>
            <div class="league-team">{{second_place}}</div>
            <div class="league-team-position">2<sup>nd</sup> place</div>
        </div>
        <div class="league-position col-sm-6">
            <i class="fas fa-medal"></i>
            <div class="league-team">{{third_place}}</div>
            <div class="league-team-position">3<sup>rd</sup> place</div>
        </div>
    </div>
    {{else}}
    <div class="league-position league-position-first">
        <i class="fas fa-exclamation-triangle"></i>
        <h3>This tournament has not concluded!</h3>
        <h5>Information on this page may not be final.</h5>
    </div>
    {{/if}}
</div>
{{#or challonge panels}}
<div class="tm-results">
    <span class="tournament-expand-results collapsed" data-expanded="false" data-toggle="collapse" data-target="#section-results">Show Full Results +</span>
    <div class="collapse" id="section-results">
        <div class="tm-results-well">
            {{#if panels}}
            <div class="row" id="results-panels">
                {{#panels}}
                <div class="col-md-{{#is size 'full'}}12{{else}}6{{/is}}">
                    <div class="card border-primary">
                        <h5 class="card-header text-primary border-primary">{{#if label}}{{label}}{{else}}Misc Information{{/if}}</h5>
                        <div class="card-body">
                            <table class="info-table">
                                <tbody>
                                    {{#if rows}}
                                    {{#rows}}
                                    <tr>
                                        {{#if label}}
                                        <td>{{label}}</td>
                                        <td>{{{content}}}</td>
                                        {{else}}
                                        <td colspan="2" style="font-weight: 400;">{{{content}}}</td>
                                        {{/if}}
                                    </tr>
                                    {{/rows}}
                                    {{else}}
                                    <tr>
                                        <td>This panel has no information.</td>
                                    </tr>
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {{/panels}}
            </div>
            {{/if}}
            {{#if challonge}}
            <div id="challonge-brackets">
                {{#challonge}}
                <div class="challonge-bracket">
                    {{#if description}}
                    <span>{{description}}</span>
                    {{/if}}
                    <a href="{{url}}" target="_blank">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                    <iframe src="{{url}}/module" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
                </div>
                {{/challonge}}
            </div>
            {{/if}}
        </div>
    </div>
</div>
{{/or}}
{{/results}}
{{#information}}
<div class="collapse-section">
    <div class="info-section-heading collapse-section-heading" data-expanded="true" data-toggle="collapse" data-target="#section-info"><i class="fas fa-angle-down"></i> Tournament Information</div>
    <div class="collapse show" id="section-info">
        <div class="row">
            <div class="col-md-6">
                <div class="card border-danger">
                    <h5 class="card-header text-danger border-danger">Details</h5>
                    <div class="card-body">
                        <table class="info-table">
                            <tbody>
                                {{#if announcement}}
                                <tr>
                                    <td>Announcement Page</td>
                                    <td><a href="{{announcement}}">{{announcement}}</a></td>
                                </tr>
                                {{/if}}
                                {{#if format}}
                                <tr>
                                    <td>Format</td>
                                    <td>
                                        {{#each format}}{{this}}{{#unless @last}}<i class="fas fa-long-arrow-alt-right" style="vertical-align: middle; padding-left: 7px; padding-right: 6px;"></i>{{/unless}}{{/each}}
                                    </td>
                                </tr>
                                {{/if}}
                                {{#if gamemodes}}
                                <tr>
                                    <td>Gamemodes</td>
                                    <td>
                                        {{#each (sort gamemodes)}}
                                        {{#if (lookup @root.settings.maps.tags this)}}{{lookup (lookup @root.settings.maps.tags this) 'display'}}{{else}}{{capitalize this}}{{/if}}{{#unless @last}},{{/unless}}
                                        {{/each}}
                                    </td>
                                </tr>
                                {{/if}}
                                {{#if teams-count}}
                                <tr>
                                    <td>Teams</td>
                                    <td>
                                        <a href="#teams">{{teams-count}} <i class="fas fa-chevron-down"></i></a>
                                    </td>
                                </tr>
                                {{/if}}
                                {{#if teamsize}}
                                <tr>
                                    <td>Team Size</td>
                                    <td>{{teamsize}}</td>
                                </tr>
                                {{/if}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{#if stages}}
            <div class="col-md-6">
                <div class="card border-danger">
                    <h5 class="card-header text-danger border-danger">Dates</h5>
                    <div class="card-body">
                        <table class="info-table">
                            <tbody>
                                {{#stages}}
                                <tr>
                                    <td>{{stage}}</td>
                                    <td>{{date}}</td>
                                </tr>
                                {{/stages}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{/if}}
            {{#if panels}}
            {{#panels}}
            <div class="col-md-{{#is size 'full'}}12{{else}}6{{/is}}">
                <div class="card border-success">
                    <h5 class="card-header text-success border-success">{{#if label}}{{label}}{{else}}Misc Information{{/if}}</h5>
                    <div class="card-body">
                        <table class="info-table">
                            <tbody>
                                {{#if rows}}
                                {{#rows}}
                                <tr>
                                    {{#if label}}
                                    <td>{{label}}</td>
                                    <td>{{{content}}}</td>
                                    {{else}}
                                    <td colspan="2" style="font-weight: 400;">{{{content}}}</td>
                                    {{/if}}
                                </tr>
                                {{/rows}}
                                {{else}}
                                <tr>
                                    <td>This panel has no information.</td>
                                </tr>
                                {{/if}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{/panels}}
            {{/if}}
        </div>
    </div>
</div>
{{/information}}
{{#if videos}}
<div class="collapse-section">
    <div class="info-section-heading collapse-section-heading" data-expanded="true" data-toggle="collapse" data-target="#section-videos"><i class="fas fa-angle-down"></i> Videos <small>{{inflect (length videos) "video" "videos" true}}</small></div>
    <div class="collapse show" id="section-videos">
        <div class="d-flex flex-wrap justify-content-around">
            {{#videos}}
            <div class="col-lg-4 col-md-6 video-embed">
                <div class="embed-responsive embed-responsive-16by9">
                    {{#is service 'youtube'}}
                        {{#is type 'video'}}
                        <iframe src="https://www.youtube-nocookie.com/embed/{{id}}" allow="encrypted-media; picture-in-picture" allowfullscreen></iframe>
                        {{else}}
                        {{#is type 'playlist'}}
                        <iframe src="https://www.youtube-nocookie.com/embed/videoseries?list={{id}}" allow="encrypted-media; picture-in-picture" allowfullscreen></iframe>
                        {{/is}}
                        {{/is}}
                    {{else}}
                    {{#is service 'twitch'}}
                        {{#is type 'collection'}}
                        <iframe src="https://player.twitch.tv/?autoplay=false&collection={{id}}" allowfullscreen="true" scrolling="no"></iframe>
                        {{else}}
                        {{#is type 'clip'}}
                        <iframe src="https://clips.twitch.tv/embed?autoplay=false&clip={{id}}" allowfullscreen="true" scrolling="no"></iframe>
                        {{else}}
                        {{#is type 'video'}}
                        <iframe src="https://player.twitch.tv/?autoplay=false&video={{id}}"  allowfullscren="true" scrolling="no"></iframe>
                        {{/is}}
                        {{/is}}
                        {{/is}}
                    {{/is}}
                    {{/is}}
                </div>
                <div class="video-embed-info">
                    <div class="video-embed-labels">
                        {{#is service 'youtube'}}
                        <i class="fab fa-youtube" style="color: #FF0000" data-toggle="tooltip" data-placement="bottom" title="YouTube"></i>
                        {{else}}
                        {{#is service 'twitch'}}
                        <i class="fab fa-twitch" style="color: #6441A4" data-toggle="tooltip" data-placement="bottom" title="Twitch"></i>
                        {{/is}}
                        {{/is}}
                        - {{capitalize type}}
                        {{#if highlight}}
                        <i class="fas fa-star" style="color: #FFD81F; margin-left: 15px;"></i> - Highlight
                        {{/if}}
                    </div>
                    <div class="video-embed-title">{{title}}</div>
                    <div class="video-embed-description">{{description}}</div>
                </div>
            </div>
            {{/videos}}
        </div>
    </div>
</div>
{{/if}}
{{#if maps}}
<div class="collapse-section">
    <div class="info-section-heading collapse-section-heading" data-expanded="true" data-toggle="collapse" data-target="#section-maps"><i class="fas fa-angle-down"></i> Map Pool <small>{{inflect (length maps) "map" "maps" true}}</small></div>
    <div class="collapse show" id="section-maps">
        <div class="dynamic">
            {{#maps}}
            {{> map_thumbnail}}
            {{/maps}}
        </div>
    </div>
</div>
{{/if}}
{{#if teams}}
<div class="collapse-section id-anchor" id="teams">
    <div class="info-section-heading collapse-section-heading" data-expanded="true" data-toggle="collapse" data-target="#section-teams"><i class="fas fa-angle-down"></i> Teams <small>{{@root.information.teams-count}}</small></div>
    <div class="collapse show" id="section-teams">
        {{#gte (length teams) 2}}
        <ul class="nav nav-tabs">
            {{#teams}}
            <li class="nav-item">
                <a class="nav-link{{#if @first}} active{{/if}}" href="#{{snakecase (lowercase name)}}" role="tab" data-toggle="tab">{{name}}</a>
            </li>
            {{/teams}}
        </ul>
        <div class="custom-control custom-switch tm-teams-fade-toggle">
            <input type="checkbox" class="custom-control-input" id="team-fade-toggle" checked>
            <label class="custom-control-label" for="team-fade-toggle">Fade Teams that did not Advance</label>
        </div>
        <div class="tab-content">
            {{#teams}}
            <div role="tabpanel" class="tab-pane{{#if @first}} active{{/if}}{{#if advances}} tm-group-advances{{/if}}" id="{{snakecase (lowercase name)}}">
                {{> team_section}}
            </div>
            {{/teams}}
        </div>
        {{else}}
        {{#teams}}
        {{> team_section}}
        {{/teams}}
        {{/gte}}
    </div>
</div>
{{/if}}