.bow-record {
    width: 100%;
    padding: 8px;
    margin: 0px 15px 10px 15px;
}

.bow-record-header {
    padding: 0px;
}

.bow-record > .bow-record-header > img {
    width: 88px;
    height: 75.3px;
    border-radius: 4px;
    background-color: #525252;
}

.bow-titles {
    display: inline-block;
    vertical-align: -10px;
    padding-left: 6px;
}

.bow-map {
    font-size: 18px;
    font-weight: 600;
}

.bow-tags {
    margin-top: -8px;
    font-size: 11px;
}

.bow-user-record .fa.fa-check-circle {
    font-size: 12px;
}

.bow-user-record:first-child {
    font-size: 15px;
}

.bow-user-record:first-child > .fa {
    font-size: 22px;
    vertical-align: -4px;
}

.bow-user-record:first-child > img {
    width: 24px;
}

.bow-user-record:not(:first-child) {
    margin-left: 15px;
}

.bow-user-record:nth-child(n+10) {
    margin-left: 8px;
}

.bow-user-record > img {
    width: 12px;
}

.bow-user-record .click-search {
    color: #007bff !important;
}

.bow-user-record .click-search:hover {
    color: #0056b3 !important;
    text-decoration: underline !important;
}

.bow-player-avatar {
    border-radius: 3px;
}

.bow-records-more {
    font-size: 10px;
    display: block;
    text-align: center;
    color: #ababab !important;
    cursor: pointer;
}

.bow-record-mute {
    opacity: 0.5 !important;
}

.record-search-box {
    font-size: 11px;
    max-height: 28px;
}