.bow-record {
    width: 100%;
    padding: 8px;
    margin: 0px 15px 10px 15px;

    .bow-record-header {
        padding: 0px;

        > img {
            width: 88px;
            height: 75.3px;
            border-radius: 4px;
            background-color: #525252;
        }
    }
}

.bow-titles {
    display: inline-block;
    vertical-align: -10px;
    padding-left: 6px;
}

.bow-map {
    font-size: 18px;
    font-weight: 600;
}

.bow-tags {
    margin-top: -8px;
    font-size: 11px;
}

.bow-user-record {
    .fas.fa-check-circle {
        font-size: 12px;
    }

    > img {
        width: 12px;
    }

    &:first-child {
        font-size: 15px;

        > .fas {
            font-size: 22px;
            vertical-align: -4px;
        }

        > img {
            width: 24px;
        }
    }

    &:not(:first-child) {
        margin-left: 15px;
    }

    &:nth-child(n+10) {
        margin-left: 8px;
    }
}

.bow-player-avatar {
    border-radius: 3px;
}

.bow-records-more {
    font-size: 10px;
    display: block;
    text-align: center;
    color: #ababab !important;
    cursor: pointer;
}

.bow-record-mute {
    opacity: 0.5 !important;
}

.record-search-box {
    font-size: 11px;
    max-height: 28px;
}