.league-default-banner {
    background-color: #343436 !important;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 3px 2px #1c1c1c;
    text-align: left;
    border-radius: 4px;
    padding: 80px;
    padding-left: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .league-default-banner {
        font-size: 25px;
        padding: 8%;
        padding-left: 20px;
    }
}

.league-banner {
    background-color: #343436 !important;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
}

.league-info-section.large {
    font-size: 22px;
    margin-bottom: 18px;
}

.league-info-section {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #cbcaca;
}
.league-info-section > small {
    font-size: 70%;
    color: #9b9b9b;
}

.league-info-table > tbody > tr > td {
    font-size: 13px;
    padding: 6px;
}

.league-info-table > tbody > tr > td:first-child {
    font-weight: 600;
    width: 35% !important;
}

.league-info-table > tbody > tr > td img {
    max-width: 100%;
}

.league-info-table > thead > tr > td {
    font-weight: 600;
}

.league-info-table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;

    code {
        background-color: inherit !important;
        border: none;
        font-size: 100%
    }
}

.collapse-section-heading {
    cursor: pointer;
}

.collapse-section-heading > .fas {
    width: 20px;
    text-align: center;
}