.contest-info-table > tbody > tr > td:first-child,
.contest-info-table > tbody > tr > td:nth-child(2),
.contest-info-table > tbody > tr > td:last-child,
.contest-info-table > thead > tr > td {
    font-weight: 600;
}

.contest-info-table > tbody > tr > td {
    font-size: 13px;
    padding: 6px;
    text-align: center;
}

.contest-table-first {
    background-color: #f4ebd5 !important;
}

.contest-table-second {
    background-color: #e8e7e7 !important;
}

.contest-table-third {
    background-color: #e5d0bb !important;
}

.contest-table-none {
    background-color: #d59597 !important;
}

.contest-info-table .map-score {
    vertical-align: middle;
}

.map-bonus > i.fa-check,
tr.child i.fa-check {
    color: green;
    font-size: 15px;
    margin-top: 4px;
}

.map-bonus > i.fa-times,
tr.child i.fa-times {
    color: red;
    font-size: 16px;
    margin-top: 4px;
}

.contest-scores-link {
    font-size: 18px;
    padding-bottom: 10px;
    color: #9b9b9b !important;
}