.tag_hidden,
.tag-hidden {
    display: none
}

.collection-thumbnail {
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 18px;
}

.collection-head {
    border-bottom: 1px solid #dddddd;
    padding-left: 12px;
    padding-top: 2px;
}

.collection-body {
    padding-top: 10px;
    margin-bottom: -13px;
}

.collection-title {
    font-size: 24px;
    font-weight: 600;
}

.collection-description {
    font-size: 16px;
    margin-top: -12px;
    padding-bottom: 6px;
}

#collection-buttons {
    padding-top: 7px;
    padding-right: 9px;
}

@media only screen and (max-width: 768px) {
    #collection-buttons {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 6px;
    }
}

.list-section {
    padding: 6px;
    margin-top: -12px;
}

.list-heading {
    margin-bottom: 8px;
}

.list-title {
    font-size: 20px;
}

.list-subtitle {
    font-size: 16px;
}

.list-section .table {
    font-size: 12px;
}
