.mr-thumbnail {
  max-width: 270px !important;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: .25rem;
  padding: .25rem;

  .mr-header {
    .mr-header-image {
      width: 260px;
      height: 218px;
      margin: 0;
      background-color: #525252;
      border-radius: .25rem;
    }

    .mr-header-banner {
      .mr-header-title {

      }
    }
  }

  .mr-body {
    .mr-authors {

    }

    .mr-buttons {
      display: flex;
      flex-direction: row;
      gap: .25rem;
      width: 100%;

      .btn {
        flex: 1;
      }
    }
  }
}
