.references > h4,
.references > h5 {
    margin-top: 28px;
}

.section-head {
    font-size: 16px;
    font-weight: 600;
}

.section-item {
    display: block;
    font-size: 14px;
    padding-left: 6px;
    margin-bottom: 4px;
    color: #6f6f6f;
    background-color: #ede6e6;
    border-radius: 4px;
}

.section-item:hover,
.section-item.active {
    color: #fff;
    background-color: #759aff;
    text-decoration: none;
}

.doc-table {
    margin-bottom: 0px;

    > tbody,
    > thead > tr > th {
        font-size: 14px;
    }
}

.sidenav {
    > li > a,
    > li > span {
        padding: 0px 15px;
    }

    > li {
        padding-left: 12px;
    }

    > li.active > a {
        background-color: rgba(255, 255, 255, 0);
        color: #337ab7;
        font-weight: 600;
        margin-bottom: 2px;
    }

    > li > a:hover,
    > li > a:focus,
    > li.active > a:hover,
    > li.active > a:focus {
        background-color: #f0f0f0;
        color: #337ab7;
    }
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding: 5px;
    border: 1px solid #dbdbdb;

    > code {
        border: none;
    }
}

code {
    background-color: #f5f5f5 !important;
    border: 0.5px solid #cccccc;
    padding: 3px;
    border-radius: 3px;
}