.remove_field {
    margin-top: -29px;
    margin-right: -20px;
    float: right;
    font-size: 18;
    }

#preview > p > img {
    width: 100%;
}

#preview > h3 {
    font-size: 24px;
}

#preview > h4 {
    font-size: 18px;
}