.contact-position-title {
    margin-bottom: 16px;
    padding-bottom: 2px;
    font-size: 28px;
    border-bottom: 2px solid #e0e0e0;

    > small {
        font-size: 65%;
        color: #777;
    }
}

.contact-user-description {
    font-weight: 300;
    color: #919191;
    min-height: 20px;
    margin-bottom: -4px;
}

.contact-position-section {
    margin-bottom: 18px;
}

.contact-user-thumbnail {
    height: 130px;
    width: 130px;
    display: inline-block;
}

.contact-user-name {
    display: inline-block;
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 4px;
    padding-bottom: 3px;
    border-bottom: 2px solid;
    text-align: center;
}

.contact-user-name-retired {
    display: inline-block;
    font-size: 14px;
    margin-top: -14px;
    margin-bottom: 4px;
    padding-bottom: 3px;
    border-bottom: 2px solid;
    text-align: center;
}

.contact-user-avatar {
    height: 130px;
    width: 130px;
    border-radius: 8px;
}

.contact-user-details {
    margin-bottom: 8px;
}

.contact-user-outlet {
    font-size: 16px;
    color: #6c6c6c;
    padding-left: 4px;
    padding-right: 4px;
}

.position-designer {
    color: #8e44ad;
}

.position-collaborator {
    color: #1abc9c;
}

.position-developer {
    color: #008c31;
}

.position-manager {
    color: #f39c12;
}

.position-associate {
    color: #2962ff;
}

.position-retired {
    color: #8e44ad;
}

.position-count {
    margin-left: 8px;
    color: #868686;
    font-size: 18px;
}

.user-avatar {
    width: 20px;
    border-radius: 6px;
    margin-right: 4px;
}

.user-header {
    margin-bottom: 24px;

    > img {
        width: 10%;
        border-radius: 8px;
    }
}

.user-welcome {
    margin-top: 10px;
}
