.post-header,
.post-header:hover,
.post-header:focus,
td {
    color: #fff;
}

.post-thumbnail {
    background-color: #2c2c2c;
    border: 1px solid #585858;
}

pre {
    color: #e8e8e8 !important;
    background-color: #313131 !important;
    border-color: #515151;
}

code {
    background-color: #000 !important;
    color: rgb(255, 109, 109);
    border-color: #a2a2a2;
}

.contact-user-details {
    i {
        color: #fff;
    }

    .contact-user-description {
        color: #ececec;
    }
}


.section-item {
    color: #c4c4c4;
    background-color: #272727;
}

.section-item:hover,
.section-item.active {
    color: #fff;
    background-color: #5369a3;
}

.slider-track,
.slider-track-low,
.slider-selection,
.slider-track-high {
    background-image: linear-gradient(to bottom,#585858 0,#585858 100%);
}

.slider-handle {
    background-color: #5f6fc7;
    background-image: linear-gradient(to bottom,#5f6fc7 0,#5f6fc7 100%);
}
