// Tournaments

.tm-banner-row > a {
    color: #ededed;
}

.tm-banner-options span:hover,
.tm-banner-options a > span:hover {
    background-color: #4b637c;
}

.tm-banner-options > span.active.disabled {
    color: #e8e8e8;
}

.tm-banner-options span, 
.tm-banner-options a span {
    background-color: #484747;
}

.tm-label {
    color: #c5c5c5;
}

.tm-team {
    color: white;
    background-color: #0D0E09;
}
    
.tm-team > .seed {
    background-color: #525252;
}

.tm-group-advances .tm-team-fade {
    color: #525252;
}

.tm-group-advances .tm-team-fade > .seed {
    color: #202020;
}

.tm-results {
    background-color: #2e2e2e;
    border-color: #1c1c1c;
}

.tournament-expand-results {
    color: #A5A5A5 !important;
}

.league-information {
    background-color: #0D0E09;
}

.league-information tr:nth-child(even) {
    background-color: #2c2c2c;
}

.video-embed-info {
    border-color:  #121212;
    background-color: #0D0E09;
}

// Contests

.contest-table-first {
    background-color: #cf9917 !important;
}

.contest-table-second {
    background-color: #8b8b8b !important;
}

.contest-table-third {
    background-color: #b06d2b !important;
}

.map-bonus {
    > i.fa-check,
    tr.child i.fa-check {
        color: rgb(10, 255, 10);
    }

    > i.fa-times,
    tr.child i.fa-times {
        color: rgb(227, 0, 0);
    }
}