.footer {
    background-color: #19191a;
}

.footer-section-head {
    text-transform: uppercase;
    font-weight: 600;
    color: #777777;
    margin-bottom: 8px;
}

.footer-item {
    color: #d8d8d8;
}

.footer-item:hover,
.footer-item:focus {
    color: #f4f4f4;
}

.footer-bottom {
    border-top: 1px solid #eae7e7;
    color: #a2a2a2;
}