.tag_hidden,
.tag-hidden {
    display: none
}

.collection-thumbnail {
    border: 1px solid #585858;
    border-radius: 3px;
    margin-bottom: 18px;
}

.collection-head {
    border-bottom: 1px solid #585858;
    padding-left: 8px;
    padding-top: 2px;
}

.collection-body {
    padding-top: 10px;
    margin-bottom: -13px;
    margin-left: 3px;
    margin-right: 3px;
}

.collection-title {
    font-size: 24px;
    font-weight: 600;
}

.collection-description {
    font-size: 16px;
    margin-top: -12px;
    padding-bottom: 6px;
}

#collection-buttons {
    padding-top: 7px;
    padding-right: 9px;
}

@media only screen and (max-width: 768px) {
    #collection-buttons {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 6px;
    }
}

.list-section {
    padding: 6px;
    margin-top: -12px;

    .table {
        font-size: 12px;
    }
}

.list-heading {
    margin-bottom: 8px;
}

.list-title {
    font-size: 20px;
}

.list-subtitle {
    font-size: 16px;
}

.slick-slide {
    height: auto !important;
}

.slick-arrow {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 18px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 16px;
    line-height: 1.846;
    border-radius: 3px;
    background-color: #7492f7;
    color: #fff;
}

.slick-arrow:hover,
.slick-arrow:focus {
    background-color: #547afa;
    color: #fff;
}

.author-name-avatar {
    .map-author-avatar {
        margin: 0 4px;
        vertical-align: -3px;
    }
    
    &:not(:last-child)::after {
        content: ",";
    }
}