.map-thumbnail {
    float: none;
    display: inline-block;
    max-width: 270px !important;
    text-align: left;
    padding-right: 0;
    margin-bottom: 16px;
}

.map-thumbnail-header {
    margin-left: -11px;
}

.map-thumbnail-header .image {
    width: 260px;
    height: 218px;
    margin: 0;
    background-color: #525252;
}

.map-thumbnail-header .banner {
    position: absolute;
    top: 4px;
    width: 260px;
    height: 40px;
    padding: 6px;
    background-color: rgba(255,255,255,0.7);
}

.map-thumbnail-header .banner .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 195px;
    margin-top: -6px;
}

.map-thumbnail-header .banner .title a {
    color: #1c1c1c !important;
    font-weight: 600;
}

.map-thumbnail-header .banner .sub-title {
    margin-top: -4px;
    font-size: 9px;
}

.map-thumbnail-header .banner .icon-alerts {
    position: absolute;
    top: 14px;
    right: 4px;
    font-size: 10px;
}

.map-thumbnail-header .banner .icon-alerts a {
    padding-right: 4px;
    color: #767676;
}

.map-thumbnail-header .labels {
    display: inline-flex;
    position: absolute;
    top: 202px;
    left: 10px;
}

.map-thumbnail-header .labels .badge {
    margin-right: 4px;
}

.map-thumbnail-body {
    margin-top: 2px;
}

.map-thumbnail-body .authors {
    text-align: center;
    margin-left: -10px;
    margin-right: 5px;
    padding: 4px 0;
}

.contest-winners .map-thumbnail {
    margin-left: 64px;
    margin-right: 64px;
}

.map-thumbnail.small,
.map-thumbnail.small .map-thumbnail-header {
    font-size: 100%;
    max-width: 230px !important;
}

.map-thumbnail.small .map-thumbnail-header .image {
    width: 220px;
    height: 184px;
    margin: 0;
    background-color: #525252;
}

.contest-winners .map-thumbnail .map-thumbnail-header .title,
.map-suggestions .map-thumbnail .map-thumbnail-header .title {
    max-width: 270px;
    font-size: 16px;
    margin-top: 0px;
}

.contest-winners .map-thumbnail .map-thumbnail-header .labels {
    font-size: 16px;
}

.contest-winners .map-thumbnail .map-thumbnail-header .labels {
    top: 198px;
}

.map-thumbnail.small .map-thumbnail-header .labels {
    top: 164px;
}

.map-thumbnail.small .map-thumbnail-header .banner {
    width: 220px;
}

@media screen and (max-width: 400px) {
    .contest-winners .map-thumbnail {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.map-suggestions {
    justify-content: space-around;
}

.map-suggestions .map-thumbnail {
    margin-top: 8px;
    margin-bottom: -14px;
}

.map-suggestions .map-thumbnail.small .map-thumbnail-body .authors {
    margin-bottom: -3px;
    margin-left: -16px;
}

.map-suggestions .map-thumbnail.small .map-thumbnail-header .banner {
    top: 0;
}

.collapse-image-thumbnail {
    padding-right: 3px;

    .map-thumbnail-header {
        margin-left: 0;
    }
}

.map-label-locked {
    background-color: #8F1515;
}

.map-thumbnail-body .buttons {
  display: flex;
  margin-left: -12px;
  margin-right: 2px;
  padding-bottom: 2px;

  .map-button {
    margin: 0 2px;
    font-size: 12px;
    box-shadow: none !important;
    flex: 1 1 auto;
  }
}

.map-button-span {
    width: 99%;
}

.map-link-private {
    color: #fff;
    background-color: #8F1515;
    border-color: #8F1515;
}

.map-link-private:focus,
.map-link-private:hover {
    color: #fff;
    background-color: #5d0a0a;
    text-decoration: none;
}


.map-link-removed {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.map-link {
    color: #fff !important;
    cursor: pointer;
    background-color: #7492f7;
    border-color: transparent;
    text-transform: none;
    box-shadow: none;
}

.map-link:hover,
.map-link:active:hover {
    color: #ffffff;
    background-color: #2980b9;
}

.map-link-disabled {
    color: #ffffff;
    cursor: not-allowed;
    background-color: #868a9b;
    border-color: transparent;
}

.map-link-disabled:hover,
.map-link-disabled:active:hover {
    color: #ffffff;
}

.map-link-alt {
    color: #ffffff;
    background-color: #1abc9c;
    border-color: transparent;
}

.map-link-alt:hover,
.map-link-alt:active:hover {
    color: #ffffff;
    background-color: #16a085;
}

.map-link-danger {
    color: #ffffff;
    background-color: #b55054;
    border-color: transparent;
}

.map-link-danger:hover,
.map-link-danger:active:hover {
    color: #ffffff;
    background-color: #913a3d
}

.total-maps {
    padding: 18px;
    padding-top: 0px;
}

.map-glow-featured {
    outline: none;
    border-color: #0cb035;
    box-shadow: 0 0 4px 1px #0cb035;
}

.map-glow-popular {
    outline: none;
    border-color: #f24747;
    box-shadow: 0 0 4px 1px #ea3b3b;
}

.map-glow-new {
    outline: none;
    border-color: #3d51ea;
    box-shadow: 0 0 4px 1px #2135cc;
}

.map-glow-contest-first {
    outline: none;
    border-color: #b78f22;
    box-shadow: 0 0 4px 1px #cca12e;
}

.map-label-contest-first {
    background-color: #cca12e;
    color: #fff;
}

.map-glow-contest-second {
    outline: none;
    border-color: #988585;
    box-shadow: 0 0 4px 1px #919191;
}

.map-label-contest-second {
    background-color: #5c959d;
    color: #fff;
}

.game-tag:after {
    content: " ";
}

.map-glow-contest-third {
    outline: none;
    border-color: #86501c;
    box-shadow: 0 0 4px 1px #7c4a18;
}

.map-label-contest-third {
    background-color: #7c4a18;
    color: #fff;
}

.map-scores {
    margin-left: -10px;
}

.map-scores .progress {
    margin-top: 5px;
    margin-right: 5px;
}

.map-scores .progress-bar span {
    font-size: 11px;
    position: absolute;
    color: #fff;
    margin-left: 5px;
    text-shadow: 1px 0px #000;
}

.map-author-avatar {
    border-radius: 4px;
    background-color: #525252;
    width: 16px;
    height: 16px;
}

.map-regulations {
}

.map-regulations > .allow {
    color: #2d8911 !important;
}

.map-regulations > .conditions {
    color: #337ab7 !important;
}

.map-regulations > .conditions > .regulation > a {
    font-weight: 700;
    text-decoration: underline;
}

.map-regulations > a > img {
    padding-top: 12px;
}

.regulation-group {
    padding-bottom: 6px;
}

.regulation-group > h6 {
    font-weight: 700;
    margin-bottom: 4px;
    font-size: 0.8rem;
}

.regulation-group > .modal-section-head {
    color: #666666;
}

.regulation {
    display: block;
}

.regulation.deny {
    color: #a51a1a !important;
}

.regulation.none {
    color: #646464 !important;
}

.modal-section-head {
    border-bottom: 1px solid #eeeeee;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.modal-section-body {
    margin-bottom: 16px;
}

.modal-section-body > .badge {
    display: inline-block;
    padding: 4px;
    margin-bottom: 4px;
}

.map-download-pending,
.map-download-started {
    margin-bottom: 8px;
}

.map-title {
    font-weight: 600;
    font-size: 14px;
    padding-top: 8px;
}

.map-thumbnail.large .map-results-label {
    font-size: 18px;
    margin-top: -12px;
}

.map-thumbnail.small .map-results-label {
    font-size: 16px;
    margin-top: -5px;
    margin-left: -1px;
}

.stat > span {
    font-weight: 600;
    font-size: 16px;
    padding-right: 2px;
}

li.game-tag {
    display: inline;
    list-style-type: none;
}
