/* bootstrap.css */

body {
    color: #ededed;
    background-color: #19191a;
}

a {
    color: #73b3ea;
}

a:hover,
a:focus {
    color: #bed7ed;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #efefef;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    color: #d6d6d6;
}

code {
    color: #f27393;
    background-color: rgba(28, 28, 28, 0.75);
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #222222;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #343436;
}

.navbar-inverse {
    background-color: #414141;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #efefef;
}

.navbar-inverse .navbar-text {
    color: #bbbbbb;
}

.navbar-inverse .navbar-nav > li > a {
    color: #e2e2e2;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #e2e2e2;
    background-color: #4e4e4e;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .disabled > a {
    color: #ffffff;
    background-color: #333333;
}

.dropdown-menu {
    background-color: #414141;
    border: 1px solid #6d6d6d;
    border: 1px solid rgba(46, 46, 46, 0.96);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu .divider {
    background-color: #cbcaca;
}

.dropdown-menu > li > a {
    color: #e5e5e5;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #e2e2e2;
    background-color: #4e4e4e;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #333333;
}

.thumbnail,
.modal-content {
    background-color: #2c2c2c;
    border: 1px solid #242424;
}

.well {
    background-color: #222222;
}

.nav-tabs > li > a,
.nav-tabs > li > a:focus {
    color: #dbdbdb;
    -webkit-box-shadow: inset 0 -2px 0 #e6e6e6;
    box-shadow: inset 0 -2px 0 #e6e6e6;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus:hover {
    -webkit-box-shadow: inset 0 -2px 0 #e6e6e6;
    box-shadow: inset 0 -2px 0 #e6e6e6;
    color: #ffffff;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
    -webkit-box-shadow: inset 0 -2px 0 #fafafa;
    box-shadow: inset 0 -2px 0 #fafafa;
    color: #ffffff;
}

.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus:hover {
    color: #ffffff;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #4e4e4e;
    border-color: #4e4e4e;
}

@media (max-width: 767px) {
    .dropdown-menu > li > a {
        color: #e5e5e5;
    }
}

.icon-bar {
    color: rgba(255, 255, 255, 0.75);
}

.progress-bar:last-child:before {
    background-color: #afaeb7;
}

/* index.css */

.page-content {
    background-color: #343436;
    border-color: #282829;
}

.object-card-title {
    color: #ffffff;
}

.object-card-description {
    color: #d1d1d1;
}

/* main.css */

.content-background,
.content-background-full {
    background-color: #343436;
}

.footer {
    background-color: #19191a;
}

.footer-section-head {
    text-transform: uppercase;
    font-weight: 600;
    color: #777777;
    margin-bottom: 8px;
}

.footer-item {
    color: #d8d8d8;
}

.footer-item:hover,
.footer-item:focus {
    color: #f4f4f4;
}

.footer-bottom {
    border-top: 1px solid #eae7e7;
    color: #a2a2a2;
}

tr:nth-child(odd) {
    background-color: #2c2c2c;
}

tr:nth-child(even) {
    background-color: #343436;
}

thead {
    background-color: #2c2c2c;
}

span.game-mode-button {
    color: #d9d9d9;
}

.content-title {
    color: #efefef;
}

.content-subtitle {
    color: #d6d6d6;
}

.map-header,
.map-header:hover,
.map-header:focus {
    color: #f4f4f4;
}

.map-tag,
.map-tag:hover,
.map-tag:focus {
    color: #e2e2e2;
}

.map-authors {
    color: #e2e2e2;
}

.map-banner {
    background-color: rgba(64, 62, 62, 0.7);
}

.contest-table-first {
    background-color: #eab83e !important;
}

.contest-table-second {
    background-color: #8b8b8b !important;
}

.contest-table-third {
    background-color: #cc7f32 !important;
}

.well-custom-red,
.well-custom-purple,
.well-custom-orange,
.well-custom-blue,
.well-custom-green {
    border-color: #242424;
}

.well-custom-red {
    border-top-color: #E74C3C;
}

.well-custom-purple {
    border-top-color: #9B59B6;
}

.well-custom-orange {
    border-top-color: #F1892D;
}

.well-custom-blue {
    border-top-color: #0287D0;
}

.well-custom-green {
    border-top-color: #0EAC51;
}

.post-header,
.navbar-menu-title,
td {
    color: #fff;
}

.post-thumbnail {
    background-color: #2c2c2c;
    border: 1px solid #242424;
}

.section-item {
    color: #c4c4c4;
    background-color: #272727;
}

.section-item:hover,
.section-item.active {
    color: #fff;
    background-color: #5369a3;
}

#github-commits > table > tbody > tr:first-child > th {
    background-color: #2c2c2c !important;
    color: #fff !important;
}

#github-commits > table > tbody > tr > td > small {
    color: #c6c6c6 !important;
    border-left: 1px solid #a2a2a2 !important;
}

.external-thread {
    color: rgba(255, 255, 255, 0.75);
}

/* addon project main.css */
.stack-small {
    color: #e2e2e2;
}

.content-title-url,
.content-title-url:hover,
.content-title-url:focus {
    color: #d8d8d8;
}

.sidenav > li > a,
.sidenav > li.active > a {
    color: #73b3ea;
}

.sidenav > li > a:hover,
.sidenav > li > a:focus,
.sidenav > li.active > a:hover,
.sidenav > li.active > a:focus {
    color: #3c3c3c
}
