.game-all:before {content: "All"}
.game-arcade:before {content: "Arcade"}
.game-blitz:before {content: "Blitz"}
.game-cp:before {content: "Capture Points"}
.game-ctf:before {content: "Capture the Flag"}
.game-ctw:before {content: "Capture the Wool"}
.game-dtc:before {content: "Destroy the Core"}
.game-dtm:before {content: "Destroy the Monument"}
.game-ffa:before {content: "Free-for-all"}
.game-frenzy:before {content: "Frenzy"}
.game-gs:before {content: "Ghost Squadron"}
.game-koth:before {content: "King of the Hill"}
.game-mixed:before {content: "Mixed"}
.game-rage:before {content: "Rage"}
.game-ranked:before {content: "Ranked"}
.game-rfw:before {content: "Race for Wool"}
.game-skywars:before {content: "Skywars"}
.game-survival:before {content: "Survival Games"}
.game-tdm:before {content: "Team Deathmatch"}
.game-throwback:before {content: "Throwback"}
.game-tournament:before {content: "Tournament Edition"}
.game-walls:before {content: "Walls"}

.season-christmas:before {content: "Christmas"}
.season-halloween:before {content: "Halloween"}

.tag-cp:before {content: "Capture Points"}
.tag-ctf:before {content: "Capture the Flag"}
.tag-ctw:before {content: "Capture the Wool"}
.tag-dtc:before {content: "Destroy the Core"}
.tag-dtm:before {content: "Destroy the Monument"}
.tag-ffa:before {content: "Free-for-all"}
.tag-gs:before {content: "Ghost Squadron"}
.tag-koth:before {content: "King of the Hill"}
.tag-rfw:before {content: "Race for Wool"}
.tag-sg:before {content: "Survival Games"}
.tag-survival:before {content: "Survival Games"}
.tag-tdm:before {content: "Team Deathmatch"}
.tag-te:before {content: "Tournament Edition"}
.tag-tm:before {content: "Tournament Edition"}
.tag-tnt:before {content: "TNT"}
.tag-tournament:before {content: "Tournament Edition"}

.license-by-nc-sa:before {content: "Noncommercial Maps"}
.license-by-sa:before {content: "Commercial Maps"}

.custom-new:before {content: "New Maps"}
.custom-popular:before {content: "Popular Maps"}
.custom-starred:before {content: "Starred Maps"}

li.game-tag {display: inline; list-style-type: none;}
li.game-tag:after {content: ", ";}
li.game-tag:last-child:after {content: "";}
li.author-tag:nth-child(n+4) {font-size: 0px;}
li.author-tag:nth-child(4):before {font-size: 13px; content: " and more";}
