/* Game sections long */
.game-all:before {content: "All"}
.game-arcade:before {content: "Arcade"}
.game-blitz:before {content: "Blitz"}
.game-cp:before {content: "Capture Points"}
.game-ctf:before {content: "Capture the Flag"}
.game-ctw:before {content: "Capture the Wool"}
.game-dtc:before {content: "Destroy the Core"}
.game-dtm:before {content: "Destroy the Monument"}
.game-ffa:before {content: "Free-for-all"}
.game-frenzy:before {content: "Frenzy"}
.game-gs:before {content: "Ghost Squadron"}
.game-koth:before {content: "King of the Hill"}
.game-mixed:before {content: "Mixed"}
.game-rage:before {content: "Rage"}
.game-ranked:before {content: "Ranked"}
.game-rfw:before {content: "Race for Wool"}
.game-skywars:before {content: "Skywars"}
.game-survival:before {content: "Survival Games"}
.game-tdm:before {content: "Team Deathmatch"}
.game-tournament:before {content: "Tournament Edition"}

.license-by-nc-sa:before {content: "BY-NC-SA License"}
.license-by-sa:before {content: "BY-SA License"}

.custom-starred:before {content: "Starred"}

/* Game sections short
@media screen and (max-width: 767px) {
    .game-blitz:before {content: "Blitz"}
    .game-cp:before {content: "CP"}
    .game-ctf:before {content: "CTF"}
    .game-ctw:before {content: "CTW"}
    .game-dtc:before {content: "DTC"}
    .game-dtm:before {content: "DTM"}
    .game-ffa:before {content: "FFA"}
    .game-gs:before {content: "GS"}
    .game-koth:before {content: "KOTH"}
    .game-rfw:before {content: "RFW"}
    .game-survival:before {content: "SG"}
    .game-tdm:before {content: "TDM"}
    .game-tournament:before {content: "Tournament"}
    
    .license-by-nc-sa:before {content: "BYNCSA"}
    .license-by-sa:before {content: "BYSA"}
} */

.tag_hidden {display: none}
li.game-tag {display: inline; list-style-type: none;}
li.game-tag:after {content: ", ";}
li.game-tag:last-child:after {content: "";}
li.author-tag:nth-child(n+4) {font-size: 0px;}
li.author-tag:nth-child(4):before {font-size: 13px; content: " and more";}
