#wrapper {
	min-height:100%;
	position:relative;
}

#wrapper-navigation {
	padding: 0px;
}

#wrapper-header {
    height: 100%;
    padding-top: 16%;
}

#wrapper-content {
	width: 100%;
	left: 0;
    padding-top: 12px;
}

@media screen and (max-width: 991px) {
    #wrapper-header {
        padding-top: 38%;
    }

    #wrapper-content {
	   position: relative;
    }

    .splash-header {
        font-size: 36px !important;
    }

    .splash-subheader {
        font-size: 18px !important;
    }
}

.background-splash {
    background: url(../img/splash/viridun_sunset.png) no-repeat center fixed;
    background-size: cover;
}

.background-splash-404 {
    background: url(../img/splash/viridun_dark.png) no-repeat center fixed;
    background-size: cover;
}

.background-splash-wash {
    background-color: rgba(235, 235, 235, 0.22);
    width: 100%;
    height: 100%;
}

.splash-header {
    font-size: 58px;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 3px #1c1c1c;
}

.splash-subheader {
    font-size: 24px;
    color: #fff;
    text-shadow: 2px 2px #1c1c1c;
}

.splash-header-body {
    padding-top: 1em;
}

.page-content {
    background-color: #fff;
    border-color: #e6e6e6;
    border-top-width: 4px;
    border-top-style: solid;
}

.object-card,
.object-card-disabled {
    width: 160px;
    height: 160px;
    margin-bottom: 16px;
    padding-top: 35px;
    color: #fff;
    border-radius: 180px;
}

.object-card-display {
    font-size: 95px !important;
}

.object-card-title {
    font-size: 18px;
    color: #2f2f2f;
    padding-bottom: 6px;
    padding-left: 3px;
    padding-right: 3px;
}

.object-card-discription {
    color: #837f7f;
    margin-top: 16px;
    margin-bottom: 12px;
    font-size: 13px;
}

a.object-card-link,
a.object-card-link:hover,
a.record-card-link,
a.record-card-link:hover {
    text-decoration: none;
}

.object-card:hover {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    -moz-box-shadow:    inset 0 0 10px rgba(0, 0, 0, 0.69);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.69);
    box-shadow:         inset 0 0 10px rgba(0, 0, 0, 0.69);
}

.card-background-red {
    background-color: #c0392b;
}

.card-title-red {
    border-bottom: 3px solid #c0392b;
}

.card-background-red-alt {
    background-color: #e74c3c;
}

.card-title-red-alt {
    border-bottom: 3px solid #e74c3c;
}

.card-background-blue {
    background-color: #2980b9;
}

.card-title-blue {
    border-bottom: 3px solid #2980b9;
}

.card-background-blue-alt {
    background-color: #3498db;
}

.card-title-blue-alt {
    border-bottom: 3px solid #3498db;
}

.card-background-disabled {
    background-color: #7f8c8d;
}

.card-title-disabled {
    border-bottom: 3px solid #7f8c8d;
}

.splash-buttons {
    margin-top: 16px;
}

.splash-buttons.btn {
    width: 50%;
    margin: 0 auto; 
}

.map-button {
    min-width: 186px;
    max-width: 186px;
    margin-bottom: 8px;
}

.underline,
.underline:hover,
.underline:focus {
    color: #fff;
}

.index-alerts {
    width: 50%;
    margin: 0 auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
