.background-splash {
    background-size: cover !important;
    overflow-x: hidden;
}

.background-splash-wash {
    background-color: rgba(23, 23, 23, 0.35);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.splash-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 6vw;
    line-height: 6vw;
    color: #fff;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 414px) {
    .splash-header {
        letter-spacing: 6px;
    }
}

.splash-subheader {
    font-size: 1.8rem;
    color: #fff;

	transform: scale(1);
	animation: pulse 2s infinite;
}

.splash-subheader a {
    color: #fff;
    border-bottom: 1px dotted #fff;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}

.background-map-detail {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    font-size: 1rem;
}

.detail-prefix {
    color: #d8d8d8;
}

.detail-map {
    font-weight: bold;
}

.detail-map[href] {
    color: #fff;
    border-bottom: 1px dotted #fff;
}

.detail-map[href]:hover {
    text-decoration: none;
    color: #76bc4a;
}

.index-alerts {
    width: 50%;
    margin: 0 auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.index-content {
    background-color: #fff;
    display: flex;
    align-items: center;
}

.index-card {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #434343;
}

.index-card:hover,
.index-card:focus {
    text-decoration: none;
    color: #434343;
    background-color: #d6d6d6;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.index-card > .icon {
    font-size: 64px;
    padding-bottom: 48px;
}

.index-card > .header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.index-card-red:hover,
.index-card-red:focus {
    background-color: #ff8787;
}

.index-card-blue:hover,
.index-card-blue:focus {
    background-color: #7c9fff;
}

.index-card-red.lighten:hover,
.index-card-red.lighten:focus {
    background-color: #ffc2c2;
}

.index-card-blue.lighten:hover,
.index-card-blue.lighten:focus {
    background-color: #b0c5ff;
}

@media screen and (min-height: 1024px) {
    .background-splash-wash {
        height: 75%;
    }

    .splash-header {
        font-size: 8vw;
        line-height: 8vw;
    }

    .index-content {
        height: auto;
        display: block;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .index-card {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .index-card > .icon {
        font-size: 64px;
        padding-bottom: 20px;
    }

    .index-card > .description {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (max-height: 812px) {
    .background-splash-wash {
        height: 100%;
    }

    .splash-header {
        font-size: 10vw;
        line-height: 10vw;
    }

    .index-content {
        height: auto;
        display: block;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .index-card {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .index-card > .icon {
        font-size: 64px;
        padding-bottom: 20px;
    }

    .index-card > .description {
        padding-left: 20%;
        padding-right: 20%;
    }
}
