body {
    background-color: #343436;
}

@media only screen and (max-width: 768px) {
  html, body{
    width: 100%;
    overflow-x: hidden;
  }
}

.content-background {
    background-color: #fff;
    padding-bottom: 36px;
}

.content-background-full {
    background-color: #ededed;
}

.resourcepile-copyright-year:before {
    content: "© 2018 ResourcePile"
}

.navbar-menu-title {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 6px;
    margin-bottom: -4px;
    color: #bbbbbb;
}

.footer {
    width: 100%;
    background-color: #343436;
    padding: 28px;
}

.footer-section {
    margin-bottom: 12px;
}

.footer-section-head {
    text-transform: uppercase;
    font-weight: 600;
    color: #777777;
    margin-bottom: 8px;
}

.footer-item {
    display: block;
    color: #bfbfbf;
}

.footer-item:hover,
.footer-item:focus {
    color: #efebeb;
    text-decoration: none;
}

.footer-bottom {
    width: 50%;
    border-top: 1px solid #464242;
    margin-top: 20px;
    padding-top: 28px;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

thead {
    background-color: #f0f0f0;
}

tbody.counted-rows {
    counter-reset: rowNumber;
}

tbody.counted-rows tr {
    counter-increment: rowNumber;
}

tbody.counted-rows tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

.distance-record {
    color: #343434;
}

.record-first {
    font-size: 16px !important;
    padding-top: 13px;
}

.record-trophy {
    font-size: 20px !important;
    vertical-align: -0.1em;
    color: #343434;
    padding-right: 0.3em;
}

.record-player {
    text-decoration: none !important;
}

.record-unverified,
.record-unverified:hover,
.record-unverified:focus {
    color: #ff0000;
}

.record-player-avatar {
    border-radius: 3px;
}

.record-description {
    padding-left: 3px;
}

.record-evidence {
    padding-left: 0.4em;
}

.record-table:hover,
.record-table:focus {
    background-color: #f4f4f4;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.record-map {
    text-decoration: none !important;
}

.record-search-box {
    font-size: 11px;
    max-height: 28px;
}

@media screen and (max-width: 768px) {
    .record-description-div::before {
        content: "-"
    }

    .record-description-long {
        font-size: 0px;
    }

    .tablesorter {
        font-size: 14px;
    }


    .table-counted {
        display: none;
    }

    .record-first {
        font-size: 14px !important;
        font-weight: 600;
        padding-top: 0px;
    }

    .record-player-avatar{
        height: 16px;
        width: 16px;
    }

    .record-trophy {
        font-size: 15px !important;
        margin-left: -22px;
    }

    .about-user-info {
        border-left: 0px !important;
        padding-left: 12px !important;
    }

    .content-title {
        font-size: 24px !important;
    }

    .content-subtitle {
        font-size: 16px !important;
    }
}

.jumbotron-header {
    padding-bottom: 16px;
}

.game-mode-navigation {
    padding-top: 12px;
    padding-bottom: 6px;
}

.game-mode-button {
    display: block;
    margin-bottom: 3px;
    margin-left: 8px;
}

a.game-mode-button {
    font-weight: 600;
}

span.game-mode-button {
    color: #868686;
}

.game-mode-section-header {
    font-size: 16px;
    margin-bottom: 3px;
}

.record-search-container {
    padding-top: 12px;
    margin-bottom: 12px;
    margin-left: 24em;
    margin-right: 24em;
}

@media screen and (max-width: 1200px) {
    .record-search-container {
        margin-bottom: 12px;
        margin-left: 4em;
        margin-right: 4em;
    }

    .game-mode-section-header {
        font-size: 14px;
    }

    .game-mode-button {
        font-size: 12px;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.icon-dropdown {
    font-size: 11.4px !important;
    padding-right: 2px;
}

.about-user {
    margin-top: 32px;
}

.about-user-name {
    margin-top: 18px;
    font-size: 23px;
    font-weight: 600;
}

.about-user-nickname {
    font-size: 16px;
    color: #919191;
}

.about-user-positions {
    margin-top: 18px;
    margin-bottom: 18px;
}

.about-section-header {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 600;
}

.about-info {
    display: block;
    margin-bottom: 3px;
}

.about-user-info {
    border-left: 3px solid #eee;
    margin-top: 24px;
    padding-left: 60px;
}

.about-info-icon {
    margin-right: 4px;
}

.about-user-avatar {
    height: 160px;
    width: 160px;
}

.contact-position-title {
    margin-bottom: 16px;
    padding-bottom: 2px;
    font-size: 28px;
    border-bottom: 2px solid #e0e0e0;
}

.contact-position-title > small {
    font-size: 65%;
    color: #777;
}

.contact-user-description {
    font-weight: 100;
    color: #919191;
    min-height: 20px;
    margin-bottom: -4px;
}

.contact-position-section {
    margin-bottom: 18px;
}

.contact-user-thumbnail {
    height: 130px;
    width: 130px;
    display: inline-block;
}

.contact-user-name {
    display: inline-block;
    font-size: 18px;
    margin-top: -14px;
    margin-bottom: 4px;
    padding-bottom: 3px;
    border-bottom: 2px solid;
    text-align: center;
}

.contact-user-name-retired {
    display: inline-block;
    font-size: 14px;
    margin-top: -14px;
    margin-bottom: 4px;
    padding-bottom: 3px;
    border-bottom: 2px solid;
    text-align: center;
}

.contact-user-avatar {
    height: 130px;
    width: 130px;
    border-radius: 8px;
}

.contact-user-details {
    margin-bottom: 8px;
}

.contact-user-outlet {
    font-size: 16px;
    color: #6c6c6c;
    padding-left: 4px;
    padding-right: 4px;
}

.position-designer {
    color: #8e44ad;
}

.label.position-designer {
    background-color: #8e44ad;
    color: #fff;
}

.position-helper {
    color: #1abc9c;
}

.label.position-helper {
    background-color: #1abc9c;
    color: #fff;
}

.position-developer {
    color: #008c31;
}

.label.position-developer {
    background-color: #008c31;
    color: #fff;
}

.position-manager {
    color: #f39c12;
}

.label.position-manager {
    background-color: #f39c12;
    color: #fff;
}

.position-addon-project {
    color: #2962ff;
}

.label.position-addon-project {
    background-color: #2962ff;
    color: #fff;
}

.position-wiki-manager {
    color: #3498db;
}

.label.position-wiki-manager {
    background-color: #3498db;
    color: #fff;    
}

.position-retired {
    color: #3C4A59;
}

.position-count {
    margin-left: 8px;
    color: #868686;
    font-size: 18px;
}

.content-title {
    font-size: 38px;
    font-weight: 600;
    color: #3c3a3a;
}

.content-subtitle {
    font-size: 20px;
    font-weight: 300;
    color: #3c3a3a;
}

.content-list {
    font-size: 16px;
    font-weight: 300
}

.underline {
    text-decoration: underline;
}

.content-header {
    margin-top: 6em;
    margin-bottom: 24px;
    border-bottom: 2px solid #e0e0e0;
}

.content-body {
    font-size: 16px;
}

.game_link {
    color: #898989;
}

.map-float {
    float: none;
    display: inline-block;
    width: 270px;
    text-align: left;
    margin-left: -6px;
}

.map-game-mode {
    font-size: 12px;
    color: #898989;
    display: inline;
    padding: 0px;
}

.map-image {
    width: 260px;
    height: 218px;
    margin: 0;
    background-color: #525252;
    background-size: 260px 218px;
}

.map-header,
.map-header:hover,
.map-header:focus {
    font-size: 14px;
    color: #000;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 195px;
}

.map-tag,
.map-tag:hover,
.map-tag:focus {
    font-size: 10px;
    color: #393939;
}

.map-authors {
    text-align: center;
    padding-top: 4px;
    color: #606060;
    font-size: 13px;
}

.map-scores {
    margin-top: 6px;
}

.map-banner,
.map-banner-collapse-immune {
    height: 40px;
    background-color: rgba(255,255,255,0.7);
    padding-left: 6px;
    overflow: hidden;
}

.map-banner-unofficial {
    background-color: rgba(255, 152, 152, 0.7);
}

.map-labels,
.map-labels-collapse-immune {
    position: relative;
    top: 154px;
    padding-left: 8px;
}

.map-button {
    padding-left: 57px;
    padding-right: 57px;
}

.map-button-sm {
    padding-left: 35.8px !important;
    padding-right: 35.8px !important;
}

.map-button-span {
    padding-left: 126px;
    padding-right: 126px;
}

.map-label-locked {
    background-color: #8F1515;
}

.map-link-private {
    color: #fff;
    background-color: #8F1515;
    border-color: #8F1515;
}

.map-link-private:focus,
.map-link-private:hover {
    color: #fff;
    background-color: #5d0a0a;
    text-decoration: none;
}


.map-link-removed {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.map-link {
    color: #ffffff;
    background-color: #7492f7;
    border-color: transparent;
    text-transform: none;
}

.map-link:hover,
.map-link:active:hover {
    color: #ffffff;
    background-color: #2980b9;
}

.map-link-disabled {
    color: #ffffff;
    background-color: #868a9b;
    border-color: transparent;
}

.map-link-disabled:hover,
.map-link-disabled:active:hover {
    color: #ffffff;
}

.map-link-alt {
    color: #ffffff;
    background-color: #1abc9c;
    border-color: transparent;
}

.map-link-alt:hover,
.map-link-alt:active:hover {
    color: #ffffff;
    background-color: #16a085;
}

.map-link-danger {
    color: #ffffff;
    background-color: #b55054;
    border-color: transparent;
}

.map-link-danger:hover,
.map-link-danger:active:hover {
    color: #ffffff;
    background-color: #913a3d
}

.map-author-name {
    vertical-align: -1px;
}

.external-thread {
    color: rgba(0, 0, 0, 0.55);
    margin-top: 15px;
    margin-right: 6px;
}

.external-thread-size {
    font-size: 12px;
}

.map-label {
    display: inline-block;
    margin-top: 2px;
    padding-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 244px;
}

.total-maps {
    padding: 18px;
    padding-top: 0px;
}

.map-glow-featured {
    outline: none;
    border-color: #0cb035;
    box-shadow: 0 0 4px 1px #0cb035;
}

.map-glow-popular {
    outline: none;
    border-color: #f24747;
    box-shadow: 0 0 4px 1px #ea3b3b;
}

.map-glow-new {
    outline: none;
    border-color: #3d51ea;
    box-shadow: 0 0 4px 1px #2135cc;
}

.map-glow-contest-first {
    outline: none;
    border-color: #b78f22;
    box-shadow: 0 0 4px 1px #cca12e;
}

.map-label-contest-first {
    background-color: #cca12e;
}

.contest-table-first {
    background-color: #f4ebd5 !important;
}

.map-glow-contest-second {
    outline: none;
    border-color: #988585;
    box-shadow: 0 0 4px 1px #919191;
}

.map-label-contest-second {
    background-color: #5c959d;
}

.contest-table-second {
    background-color: #e8e7e7 !important;
}

.map-glow-contest-third {
    outline: none;
    border-color: #86501c;
    box-shadow: 0 0 4px 1px #7c4a18;
}

.map-label-contest-third {
    background-color: #7c4a18;
}

.contest-table-third {
    background-color: #e5d0bb !important;
}

.map-overlay {
    background-color: rgba(0, 0, 0, 0.56);
    position: absolute;
    width: 260px;
    height: 178px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.map-overlay > .stats {
    padding-top: 28px;
}

.map-overlay > .stats > .stat {
    color: rgba(255, 255, 255, 0.72);
    margin-bottom: -12px;
}

.map-overlay > .stats > .stat.main {
	font-size: 18px;
    color: rgba(255, 255, 255, 0.83);
    margin-bottom: 0px;
}

.map-overlay > .stats > .stat > span {
	font-weight: 600;
    font-size: 18px;
}

.map-overlay > .stats > .stat.main > span {
	font-size: 26px;
}

.map-dropdown {
    margin-top: 16px;
    padding: 8px;
    padding-bottom: 0px;
    border-top: 1px solid #dddddd;
}

.map-dropdown > .toggle {
    font-size: 18px;
}

.map-dropdown .stats {
    padding-bottom: 10px;
}

.map-dropdown .stats > .stat {
    color: #585858;
    margin-bottom: -8px;
}

.map-dropdown .stats > .stat.main {
	font-size: 16px;
    color: #1f1f1f;
    margin-bottom: 0px;
}

.map-dropdown .stats > .stat > span {
	font-weight: 600;
}

.map-thumbnail-small {
    margin-top: 16px;
}

.map-float-small {
    width: 250px;
}

.map-image-small {
    width: 240px;
    height: 203px;
    background-size: 240px 203px;
}

.map-banner-small {
    height: 24px;
}

.map-label-header {
    font-size: 20px;
}

li.game-tag {
    display: inline;
    list-style-type: none;
}

.map-regulations {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}

.map-regulations > .allow {
    color: #2d8911 !important;
}

.map-regulations > .conditions {
    color: #337ab7 !important;
}

.map-regulations > .conditions > .regulation > a {
    font-weight: 700;
    text-decoration: underline;
}

.map-regulations > a > img {
    padding-top: 12px;
}

.regulation-group > h6 {
    font-weight: 700;
    margin-bottom: 4px;
}

.regulation {
    display: block;
}

.regulation.deny {
    color: #a51a1a !important;
}

.regulation.none {
    color: #646464 !important;
}

.well-custom-red,
.well-custom-purple,
.well-custom-orange,
.well-custom-blue,
.well-custom-green {
    border-width: 1px;
    border-top-width: 4px !important;
    background-color: #f4f4f4;
}

.well-custom-red {
    border-color: #D0D0D0;
    border-top-color: #E74C3C;
}

.well-custom-purple {
    border-color: #D0D0D0;
    border-top-color: #9B59B6;
}

.well-custom-orange {
    border-color: #D0D0D0;
    border-top-color: #F1892D;
}

.well-custom-blue {
    border-color: #D0D0D0;
    border-top-color: #0287D0;
}

.well-custom-green {
    border-color: #D0D0D0;
    border-top-color: #0EAC51;
}

.post-header,
.post-header:hover,
.post-header:focus {
    font-size: 20px;
    color: #3c3a3a;
    text-decoration: none;
}

.post-details {
    border-bottom: 1px solid #cbcaca;
    padding-bottom: 2px;
    margin-bottom: 8px;
}

.post-links {
    margin-top: -4px;
    margin-bottom: 14px;
}

.post-button {
    text-transform: none;
}

.post-thumbnail {
    padding: 12px;
    padding-top: 4px;
    padding-bottom: 0px;
    background-color: #ededed;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
    display: table-row-group;
    order: 2;
}

.post-thumbnail-important {
    outline: none;
    border-color: #0CB035;
    box-shadow: 0 0 4px 1px #0CB035;
    order: 1 !important;
}

.post-body.a {
    text-decoration: underline;
}

.post-author-avatar {
    border-radius: 1px;
    margin-bottom: 3px;
}

.content-alert {
    width: 86%;
    margin: 0 auto;
}

#post-output {
    display: flex;
    flex-direction: column;
}

.form-body {
    padding-left: 36px;
    padding-bottom: 10px;
}

.form-section {
    font-size: 18px;
    margin-top: 18px;
}

.form-section-hint {
    color: #807d7d;
    margin-bottom: 8px;
}

.form-submit {
    margin-top: 18px;
    color: #ffffff;
    background-color: #7492f7;
    border-color: transparent;
}

.form-submit:hover,
.form-submit:active {
    color: #ffffff;
    background-color: #2980b9;
}

.form-required::after {
    content: " *";
    color: #db4437;
}

.form-required-text {
    color: #db4437;
}

.form-text-box {
    width: 200px;
}

.paginate-nav a {
    position: relative;
    float: left;
    padding: 4px 12px;
    line-height: 1.846;
    text-decoration: none;
    color: #fefefe;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
    color: #666666;
}

.paginate-nav a.current,
.paginate-nav a.current:hover {
    z-index: 3;
    color: #3e3d3d;
    background-color: #f0f0f0;
    border-color: #7b8be5;
    cursor: default;
}

.paginate-nav a:hover {
    z-index: 2;
    color: #606060;
    background-color: #fafafa;
    border-color: #a7b2f0;
    cursor: default;
}

.paginate-nav a:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.paginate-nav a:last-child {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.section-head {
    font-size: 16px;
    font-weight: 600;
}

.section-item {
    display: block;
    font-size: 14px;
    padding-left: 6px;
    margin-bottom: 4px;
    color: #6f6f6f;
    background-color: #ede6e6;
    border-radius: 4px;
}

.section-item:hover,
.section-item.active {
    color: #fff;
    background-color: #759aff;
    text-decoration: none;
}

.references > h4,
.references > h5 {
    margin-top: 28px;
}

.doc-table {
    margin-bottom: 0px;
}

.doc-table > tbody,
.doc-table > thead > tr > th {
    font-size: 14px;
}

.alert > a {
    text-decoration: underline;
}

.league-banner {
    background-color: #343436 !important;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 3px 3px #1c1c1c;
    text-align: left;
    border-radius: 4px;
    padding: 80px;
    padding-left: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.league-banner-custom {
    background-color: #343436 !important;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 90%;
}

@media (max-width: 768px) {
    .league-banner {
        font-size: 20px;
        padding: 8%;
        padding-left: 20px;
    }
}

.leagues > a:hover,
.leagues > a:focus {
    text-decoration: none;
}

.league-banner:hover,
.league-banner:focus,
.league-banner-custom:hover,
.league-banner-custom:focus {
    -webkit-box-shadow: 0 0 4px 1px #2f6bde;
    -moz-box-shadow: 0 0 4px 1px #2f6bde;
    box-shadow: 0 0 4px 1px #2f6bde;
    -o-transition: .7s;
    -ms-transition: .7s;
    -moz-transition: .7s;
    -webkit-transition: .7s;
    transition: .7s;
}

.league-banner-small {
    border-radius: 4px;
    color: #fff;
    height: 210px;
    font-size: 36px;
    font-weight: 700;
    padding-left: 40px;
    padding-top: 60px;
}

.league-info-section.large {
    font-size: 18px;
    margin-bottom: 18px;
}

.league-info-section {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #cbcaca;
}

.league-info-table > tbody > tr > td {
    font-size: 13px;
    padding: 6px;
}

.league-info-table > tbody > tr > td:first-child {
    font-weight: 600;
    width: 30% !important;
}

.contest-info-table > tbody > tr > td:first-child {
    width: 4% !important;
}

.league-info-table > thead > tr > td {
    font-weight: 600;
}

.league-info-table {
    width: 100%;
}

.league-position {
    font-size: 28px;
    padding-top: 90px;
    margin-bottom: 20px;
}

.league-position-first {
    padding-top: 30px;
}

.league-position-first > .fa {
    font-size: 40px;
    font-weight: 600;
}

.league-position-first > .league-team {
    font-size: 40px;
    font-weight: 600;
}

.league-position-first > .league-team-position {
    font-size: 26px;
    color: #868383;
    display: inline;
    border-top: 1px solid #9b9999;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 10px;
}

.league-team-position {
    font-size: 20px;
    color: #bab5b5;
    display: inline;
    border-top: 1px solid #cbcaca;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
}

.challonge-bracket {
    margin-bottom: 10px;
    background-color: #272A33;
}

.challonge-bracket span{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}

.alert-global {
    margin-top: 4px;
    margin-bottom: 4px;
}

.alert-sm {
    padding: 6px;
    margin: 12px;
    margin-bottom: -18px;
    font-size: 11px;
}

.tag_hidden,
.tag-hidden {
    display: none
}

.tablesorter-header {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
    white-space: normal;
}

.tablesorter-headerUnSorted {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==)
}

.tablesorter-headerAsc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7)
}

.tablesorter-headerDesc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7)
}

.btn-auth {
    display: block;
    margin-bottom: 6px;
    text-transform: none;
}

.well-output {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.remove_field {
    margin-top: -26px;
    margin-right: -18px;
}

#preview > p > img {
    width: 100%;
}

#preview > h3 {
    font-size: 24px;
}

#preview > h4 {
    font-size: 18px;
}

.well-header {
    font-size: 18px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.24);
    margin-bottom: 12px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

code {
    background-color: #f5f5f5 !important;
    border: 1px solid #cccccc;
}

pre > code {
    border: none;
}

.collection-thumbnail {
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 18px;
}

.collection-head {
    border-bottom: 1px solid #dddddd;
    padding-left: 12px;
    padding-top: 2px;
}

.collection-body {
    padding-top: 10px;
    margin-bottom: -13px;
}

.collection-title {
    font-size: 24px;
    font-weight: 600;
}

.collection-description {
    font-size: 16px;
    margin-top: -12px;
    padding-bottom: 6px;
}

#collection-buttons {
    padding-top: 7px;
    padding-right: 9px;
}

@media only screen and (max-width: 768px) {
    #collection-buttons {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 6px;
    }
}

.slick-slide {
    height: auto !important;
}

.slick-arrow {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 18px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 13px;
    line-height: 1.846;
    border-radius: 3px;
    background-color: #7492f7;
    color: #fff;
}

.slick-arrow:hover,
.slick-arrow:focus {
    background-color: #547afa;
    color: #fff;
}

.sidenav > li > a,
.sidenav > li > span {
    padding: 0px 15px;
}

.sidenav > li {
    padding-left: 12px;
}

.sidenav > li.active > a {
    background-color: rgba(255, 255, 255, 0);
    color: #337ab7;
    font-weight: 600;
    margin-bottom: 2px;
}

.sidenav > li > a:hover,
.sidenav > li > a:focus,
.sidenav > li.active > a:hover,
.sidenav > li.active > a:focus {
    background-color: #f0f0f0;
    color: #337ab7;
}

.user-avatar {
    width: 20px;
    border-radius: 6px;
    margin-right: 4px;
}
