body {
    background-color: #343436;
}

@media only screen and (max-width: 768px) {
  html, body{
    width: 100%;
    overflow-x: hidden;
  }
}

.content-background {
    background-color: #fff;
    padding-bottom: 36px;
}

.content-background-full {
    background-color: #ededed;
}

.resourcepile-copyright-year:before {
    content: "© 2019 ResourcePile"
}

.navbar-menu-title {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 6px;
    margin-bottom: -4px;
    color: #bbbbbb;
}

.footer {
    width: 100%;
    background-color: #343436;
    padding: 28px;
}

.footer-section {
    margin-bottom: 12px;
}

.footer-section-head {
    text-transform: uppercase;
    font-weight: 600;
    color: #777777;
    margin-bottom: 8px;
}

.footer-item {
    display: block;
    color: #bfbfbf;
}

.footer-item:hover,
.footer-item:focus {
    color: #efebeb;
    text-decoration: none;
}

.footer-bottom {
    width: 50%;
    border-top: 1px solid #464242;
    margin-top: 20px;
    padding-top: 28px;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

thead {
    background-color: #f0f0f0;
}

tbody.counted-rows {
    counter-reset: rowNumber;
}

tbody.counted-rows tr {
    counter-increment: rowNumber;
}

tbody.counted-rows tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

.distance-record {
    color: #343434;
}

.record-first {
    font-size: 16px !important;
    padding-top: 13px;
}

.record-trophy {
    font-size: 20px !important;
    vertical-align: -0.1em;
    color: #343434;
    padding-right: 0.3em;
}

.record-player {
    text-decoration: none !important;
}

.record-unverified,
.record-unverified:hover,
.record-unverified:focus {
    color: #ff0000;
}

.record-player-avatar {
    border-radius: 3px;
}

.record-description {
    padding-left: 3px;
}

.record-evidence {
    padding-left: 0.4em;
}

.record-table:hover,
.record-table:focus {
    background-color: #f4f4f4;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.record-map {
    text-decoration: none !important;
}

.record-search-box {
    font-size: 11px;
    max-height: 28px;
}

@media screen and (max-width: 768px) {
    .record-description-div::before {
        content: "-"
    }

    .record-description-long {
        font-size: 0px;
    }

    .tablesorter {
        font-size: 14px;
    }


    .table-counted {
        display: none;
    }

    .record-first {
        font-size: 14px !important;
        font-weight: 600;
        padding-top: 0px;
    }

    .record-player-avatar{
        height: 16px;
        width: 16px;
    }

    .record-trophy {
        font-size: 15px !important;
        margin-left: -22px;
    }

    .about-user-info {
        border-left: 0px !important;
        padding-left: 12px !important;
    }

    .content-title {
        font-size: 24px !important;
    }

    .content-subtitle {
        font-size: 16px !important;
    }
}

.jumbotron-header {
    padding-bottom: 16px;
}

.game-mode-navigation {
    padding-top: 12px;
    padding-bottom: 6px;
}

.game-mode-column:blank {
    display: none;
}

.game-mode-button {
    display: block;
    margin-bottom: 3px;
    margin-left: 8px;
}

a.game-mode-button {
    font-weight: 600;
}

span.game-mode-button {
    color: #868686;
}

.game-mode-section-header {
    font-size: 16px;
    margin-bottom: 3px;
}

.record-search-container {
    padding-top: 12px;
    margin-bottom: 12px;
    margin-left: 24em;
    margin-right: 24em;
}

@media screen and (max-width: 1200px) {
    .record-search-container {
        margin-bottom: 12px;
        margin-left: 4em;
        margin-right: 4em;
    }

    .game-mode-section-header {
        font-size: 14px;
    }

    .game-mode-button {
        font-size: 12px;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.icon-dropdown {
    font-size: 11.4px !important;
    padding-right: 2px;
}

.about-user {
    margin-top: 32px;
}

.about-user-name {
    margin-top: 18px;
    font-size: 23px;
    font-weight: 600;
}

.about-user-nickname {
    font-size: 16px;
    color: #919191;
}

.about-user-positions {
    margin-top: 18px;
    margin-bottom: 18px;
}

.about-section-header {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 600;
}

.about-info {
    display: block;
    margin-bottom: 3px;
}

.about-user-info {
    border-left: 3px solid #eee;
    margin-top: 24px;
    padding-left: 60px;
}

.about-info-icon {
    margin-right: 4px;
}

.about-user-avatar {
    height: 160px;
    width: 160px;
}

.contact-position-title {
    margin-bottom: 16px;
    padding-bottom: 2px;
    font-size: 28px;
    border-bottom: 2px solid #e0e0e0;
}

.contact-position-title > small {
    font-size: 65%;
    color: #777;
}

.contact-user-description {
    font-weight: 300;
    color: #919191;
    min-height: 20px;
    margin-bottom: -4px;
}

.contact-position-section {
    margin-bottom: 18px;
}

.contact-user-thumbnail {
    height: 130px;
    width: 130px;
    display: inline-block;
}

.contact-user-name {
    display: inline-block;
    font-size: 18px;
    margin-top: -14px;
    margin-bottom: 4px;
    padding-bottom: 3px;
    border-bottom: 2px solid;
    text-align: center;
}

.contact-user-name-retired {
    display: inline-block;
    font-size: 14px;
    margin-top: -14px;
    margin-bottom: 4px;
    padding-bottom: 3px;
    border-bottom: 2px solid;
    text-align: center;
}

.contact-user-avatar {
    height: 130px;
    width: 130px;
    border-radius: 8px;
}

.contact-user-details {
    margin-bottom: 8px;
}

.contact-user-outlet {
    font-size: 16px;
    color: #6c6c6c;
    padding-left: 4px;
    padding-right: 4px;
}

.position-designer {
    color: #8e44ad;
}

.label.position-designer {
    background-color: #8e44ad;
    color: #fff;
}

.position-collaborator {
    color: #1abc9c;
}

.label.position-collaborator {
    background-color: #1abc9c;
    color: #fff;
}

.position-developer {
    color: #008c31;
}

.label.position-developer {
    background-color: #008c31;
    color: #fff;
}

.position-manager {
    color: #f39c12;
}

.label.position-manager {
    background-color: #f39c12;
    color: #fff;
}

.position-associate {
    color: #2962ff;
}

.label.position-associate {
    background-color: #2962ff;
    color: #fff;
}

.position-retired {
    color: #3C4A59;
}

.position-count {
    margin-left: 8px;
    color: #868686;
    font-size: 18px;
}

.content-title {
    font-size: 38px;
    font-weight: 600;
    color: #3c3a3a;
}

.content-subtitle {
    font-size: 20px;
    font-weight: 300;
    color: #3c3a3a;
}

.content-list {
    font-size: 16px;
    font-weight: 300
}

.underline {
    text-decoration: underline;
}

.content-header {
    margin-top: 1em;
    margin-bottom: 24px;
    border-bottom: 2px solid #e0e0e0;
}

.content-buffer {
    margin-top: 2em;
}

.content-body {
    font-size: 16px;
}

.game_link {
    color: #898989;
}

.map-thumbnail {
    float: none;
    display: inline-block;
    width: 270px !important;
    /*height: 300px*/;
    text-align: left;
}

.map-thumbnail-header .image {
    width: 260px;
    height: 218px;
    margin: 0;
    background-color: #525252;
}

.map-thumbnail-header .banner {
    position: absolute;
    top: 4px;
    width: 260px;
    height: 40px;
    padding: 6px;
    background-color: rgba(255,255,255,0.7);
}

.map-thumbnail-header .banner .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 195px;
    margin-top: -6px;
}

.map-thumbnail-header .banner .title a {
    color: #1c1c1c !important;
    font-weight: 600;
}

.map-thumbnail-header .banner .sub-title {
    margin-top: -4px;
    font-size: 9px;
}

.map-thumbnail-header .banner .icon-alerts {
    position: absolute;
    top: 14px;
    right: 4px;
    font-size: 10px;
}

.map-thumbnail-header .banner .icon-alerts a {
    padding-right: 4px;
    color: #767676;
}

.map-thumbnail-header .labels {
    display: inline-flex;
    position: absolute;
    top: 202px;
    left: 10px;
}

.map-thumbnail-header .labels a {
    margin-right: 4px;
}

.map-thumbnail-body {
    margin-top: 2px;
}

.map-thumbnail-body .authors {
    text-align: center;
}

.map-thumbnail-body .buttons {
    margin-top: 2px;
}

.contest-winners .map-thumbnail {
    margin-left: 64px;
    margin-right: 64px;
}

.map-thumbnail.small,
.map-thumbnail.small .map-thumbnail-header {
    width: 230px !important;
}

.map-thumbnail.small .map-thumbnail-header .image {
    width: 220px;
    height: 184px;
    margin: 0;
    background-color: #525252;
}

.contest-winners .map-thumbnail .map-thumbnail-header .title,
.map-suggestions .map-thumbnail .map-thumbnail-header .title {
    max-width: 270px;
    font-size: 16px;
    margin-top: 0px;
}

.contest-winners .map-thumbnail .map-thumbnail-header .labels {
    font-size: 16px;
}

.contest-winners .map-thumbnail .map-thumbnail-header .labels {
    top: 198px;
}

.map-thumbnail.small .map-thumbnail-header .labels {
    top: 164px;
}

.map-thumbnail.small .map-thumbnail-header .banner {
    width: 220px;
}

@media screen and (max-width: 400px) {
    .contest-winners .map-thumbnail {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.map-suggestions {
    align-content: center;
}

.map-suggestions .map-thumbnail {
    margin: 34px;
    margin-top: 8px;
    margin-bottom: -14px;
}

.map-suggestions .map-thumbnail.small .map-thumbnail-body .authors {
    margin-bottom: -3px;
}

.map-label-locked {
    background-color: #8F1515;
}

.map-button {
    padding-left: 57px;
    padding-right: 57px;
    font-size: 12px;
    box-shadow: none !important;
}

.map-button-sm {
    padding-left: 35.8px !important;
    padding-right: 35.8px !important;
}

.map-button-span {
    width: 100%;
}

.map-link-private {
    color: #fff;
    background-color: #8F1515;
    border-color: #8F1515;
}

.map-link-private:focus,
.map-link-private:hover {
    color: #fff;
    background-color: #5d0a0a;
    text-decoration: none;
}


.map-link-removed {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.map-link {
    color: #ffffff;
    background-color: #7492f7;
    border-color: transparent;
    text-transform: none;
    box-shadow: none;
}

.map-link:hover,
.map-link:active:hover {
    color: #ffffff;
    background-color: #2980b9;
}

.map-link-disabled {
    color: #ffffff;
    background-color: #868a9b;
    border-color: transparent;
}

.map-link-disabled:hover,
.map-link-disabled:active:hover {
    color: #ffffff;
}

.map-link-alt {
    color: #ffffff;
    background-color: #1abc9c;
    border-color: transparent;
}

.map-link-alt:hover,
.map-link-alt:active:hover {
    color: #ffffff;
    background-color: #16a085;
}

.map-link-danger {
    color: #ffffff;
    background-color: #b55054;
    border-color: transparent;
}

.map-link-danger:hover,
.map-link-danger:active:hover {
    color: #ffffff;
    background-color: #913a3d
}

.total-maps {
    padding: 18px;
    padding-top: 0px;
}

.map-glow-featured {
    outline: none;
    border-color: #0cb035;
    box-shadow: 0 0 4px 1px #0cb035;
}

.map-glow-popular {
    outline: none;
    border-color: #f24747;
    box-shadow: 0 0 4px 1px #ea3b3b;
}

.map-glow-new {
    outline: none;
    border-color: #3d51ea;
    box-shadow: 0 0 4px 1px #2135cc;
}

.map-glow-contest-first {
    outline: none;
    border-color: #b78f22;
    box-shadow: 0 0 4px 1px #cca12e;
}

.map-label-contest-first {
    background-color: #cca12e;
}

.contest-table-first {
    background-color: #f4ebd5 !important;
}

.map-glow-contest-second {
    outline: none;
    border-color: #988585;
    box-shadow: 0 0 4px 1px #919191;
}

.map-label-contest-second {
    background-color: #5c959d;
}

.contest-table-second {
    background-color: #e8e7e7 !important;
}

.map-glow-contest-third {
    outline: none;
    border-color: #86501c;
    box-shadow: 0 0 4px 1px #7c4a18;
}

.map-label-contest-third {
    background-color: #7c4a18;
}

.contest-table-third {
    background-color: #e5d0bb !important;
}

.contest-table-none {
    background-color: #d59597 !important;
}

.map-overlay {
    background-color: rgba(0, 0, 0, 0.56);
    position: absolute;
    width: 260px;
    height: 178px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.map-dropdown {
    margin-top: 8px;
    padding: 4px;
    padding-bottom: 0px;
    border-top: 1px solid #dddddd;
}

.map-dropdown > .toggle {
    font-size: 18px;
}

.stat > span {
    font-weight: 600;
    font-size: 16px;
    padding-right: 2px;
}

li.game-tag {
    display: inline;
    list-style-type: none;
}

.map-author-avatar {
    border-radius: 4px;
    background-color: #525252;
    width: 16px;
    height: 16px;
}

.map-regulations {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}

.map-regulations > .allow {
    color: #2d8911 !important;
}

.map-regulations > .conditions {
    color: #337ab7 !important;
}

.map-regulations > .conditions > .regulation > a {
    font-weight: 700;
    text-decoration: underline;
}

.map-regulations > a > img {
    padding-top: 12px;
}

.regulation-group > h6 {
    font-weight: 700;
    margin-bottom: 4px;
}

.regulation-group > .modal-section-head {
    color: #666666;
}

.regulation {
    display: block;
}

.regulation.deny {
    color: #a51a1a !important;
}

.regulation.none {
    color: #646464 !important;
}

.modal-section-head {
    border-bottom: 1px solid #eeeeee;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.modal-section-body {
    margin-bottom: 16px;
}

.modal-section-body > .label {
    display: inline-block;
    padding: 4px;
    margin-bottom: 4px;
}

.map-download-pending,
.map-download-started {
    margin-bottom: 8px;
}

.map-title {
    font-weight: 600;
    font-size: 14px;
    padding-top: 8px;
}

.well-custom-red,
.well-custom-purple,
.well-custom-orange,
.well-custom-blue,
.well-custom-green {
    border-width: 1px;
    border-top-width: 4px !important;
    background-color: #fcf9f9;
}

.well-custom-red {
    border-color: #D0D0D0;
    border-top-color: #E74C3C;
}

.well-custom-purple {
    border-color: #D0D0D0;
    border-top-color: #9B59B6;
}

.well-custom-orange {
    border-color: #D0D0D0;
    border-top-color: #F1892D;
}

.well-custom-blue {
    border-color: #D0D0D0;
    border-top-color: #0287D0;
}

.well-custom-green {
    border-color: #D0D0D0;
    border-top-color: #0EAC51;
}

.post-header,
.post-header:hover,
.post-header:focus {
    font-size: 20px;
    color: #3c3a3a;
    text-decoration: none;
}

.post-details {
    border-bottom: 1px solid #cbcaca;
    padding-bottom: 2px;
    margin-bottom: 8px;
}

.post-links {
    margin-top: -4px;
    margin-bottom: 14px;
}

.post-button {
    text-transform: none;
}

.post-thumbnail {
    padding: 12px;
    padding-top: 4px;
    padding-bottom: 0px;
    background-color: #ededed;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
    display: table-row-group;
    order: 2;
}

.post-thumbnail-important {
    outline: none;
    border-color: #0CB035;
    box-shadow: 0 0 4px 1px #0CB035;
    order: 1 !important;
}

.post-body.a {
    text-decoration: underline;
}

.post-author-avatar {
    border-radius: 1px;
    margin-bottom: 3px;
}

.content-alert {
    padding-top: 9rem;
    width: 86%;
    margin: 0 auto;
}

#post-output {
    display: flex;
    flex-direction: column;
}

.form-body {
    padding-left: 36px;
    padding-bottom: 10px;
}

.form-section {
    font-size: 18px;
    margin-top: 18px;
}

.form-section-hint {
    color: #807d7d;
    margin-bottom: 8px;
}

.form-submit {
    margin-top: 18px;
    color: #ffffff;
    background-color: #7492f7;
    border-color: transparent;
}

.form-submit:hover,
.form-submit:active {
    color: #ffffff;
    background-color: #2980b9;
}

.form-required::after {
    content: " *";
    color: #db4437;
}

.form-required-text {
    color: #db4437;
}

.form-text-box {
    width: 200px;
}

.form-info {
    cursor: pointer;
}

.form-info:hover {
    text-decoration: none;
}

.paginate-nav a {
    position: relative;
    float: left;
    padding: 4px 12px;
    line-height: 1.846;
    text-decoration: none;
    color: #fefefe;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
    color: #666666;
}

.paginate-nav a.current,
.paginate-nav a.current:hover {
    z-index: 3;
    color: #3e3d3d;
    background-color: #f0f0f0;
    border-color: #7b8be5;
    cursor: default;
}

.paginate-nav a:hover {
    z-index: 2;
    color: #606060;
    background-color: #fafafa;
    border-color: #a7b2f0;
    cursor: default;
}

.paginate-nav a:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.paginate-nav a:last-child {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.section-head {
    font-size: 16px;
    font-weight: 600;
}

.section-item {
    display: block;
    font-size: 14px;
    padding-left: 6px;
    margin-bottom: 4px;
    color: #6f6f6f;
    background-color: #ede6e6;
    border-radius: 4px;
}

.section-item:hover,
.section-item.active {
    color: #fff;
    background-color: #759aff;
    text-decoration: none;
}

.references > h4,
.references > h5 {
    margin-top: 28px;
}

.doc-table {
    margin-bottom: 0px;
}

.doc-table > tbody,
.doc-table > thead > tr > th {
    font-size: 14px;
}

.alert > a {
    text-decoration: underline;
}

.league-default-banner {
    background-color: #343436 !important;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 3px 2px #1c1c1c;
    text-align: left;
    border-radius: 4px;
    padding: 80px;
    padding-left: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .league-default-banner {
        font-size: 25px;
        padding: 8%;
        padding-left: 20px;
    }
}

.league-banner {
    background-color: #343436 !important;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
}

.leagues > a:hover,
.leagues > a:focus {
    text-decoration: none;
}

.league-banner-small {
    border-radius: 4px;
    color: #fff;
    height: 210px;
    font-size: 36px;
    font-weight: 700;
    padding-left: 40px;
    padding-top: 60px;
}

input[type="text"] {
    line-height: normal;
}

.tm-banner-row > a {
    color: #000;
}

.tm-banner-row > a:hover > .league-banner {
    -webkit-box-shadow: 0 0 4px 1px #2f6bde;
    -moz-box-shadow: 0 0 4px 1px #2f6bde;
    box-shadow: 0 0 4px 1px #2f6bde;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.no-banners > .tm-banner-row .league-default-banner,
.no-banners > .tm-banner-row .league-banner {
    display: none;
}

.no-banners > .tm-banner-row > a:hover > .league-default-banner {
    display: none;
}

.no-banners > .tm-banner-row:not(:last-child) {
    border-bottom: 1px solid #cbcaca;
    margin-bottom: 12px;
}

.no-banners > .tm-banner-row:not(:last-child) .tm-tags {
    margin-bottom: 10px;
}

.tm-banner-options {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    text-align: right;
}

.tm-banner-options a {
    color: inherit;
}

.tm-banner-options span {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 1px 6px;
    margin: 2px 5px;
    border-radius: 16px;
    white-space: nowrap;
}

.tm-banner-options span:hover, 
.tm-banner-options span:focus,
.tm-banner-options a > span:hover,
.tm-banner-options a > span:focus {
    background-color: #b6c0ff;
    transition: 0.2s;
    cursor: pointer;
}

.tm-banner-options span.active {
    background-color: #5f6fc7;
    color: #fff;
}

.tm-labels > a:hover {
    text-decoration: none;
}

.tm-label {
    color: #3b3b3b;
    text-decoration: underline;
    text-decoration-style: dotted;
    margin-right: 10px;
}

.tm-name {
    font-size: 18px;
    font-weight: 600;
    margin-top: -8px;
}

.tm-tags {
    margin-top: -8px;
    margin-bottom: 2px;
    font-size: 11px;
}

.tm-banner-row > a:hover > .league-default-banner {
    display: inline-block;
    -webkit-box-shadow: 0 0 4px 1px #2f6bde;
    -moz-box-shadow: 0 0 4px 1px #2f6bde;
    box-shadow: 0 0 4px 1px #2f6bde;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none !important;
}

.league-info-section.large {
    font-size: 22px;
    margin-bottom: 18px;
}

.league-info-section {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #cbcaca;
}
.league-info-section > small {
    font-size: 70%;
    color: #9b9b9b;
}

.league-info-table > tbody > tr > td {
    font-size: 13px;
    padding: 6px;
}

.contest-info-table > tbody > tr > td:first-child,
.contest-info-table > tbody > tr > td:nth-child(2),
.contest-info-table > tbody > tr > td:last-child,
.contest-info-table > thead > tr > td {
    font-weight: 600;
}
.contest-info-table > tbody > tr > td {
    font-size: 13px;
    padding: 6px;
    text-align: center;
}

.league-info-table > tbody > tr > td:first-child {
    font-weight: 600;
    width: 35% !important;
}

.map-bonus > i.fa-check,
tr.child i.fa-check {
    color: green;
    font-size: 15px;
    margin-top: 4px;
}

.map-bonus > i.fa-times,
tr.child i.fa-times {
    color: red;
    font-size: 16px;
    margin-top: 4px;
}

.map-thumbnail.large .map-results-label {
    font-size: 18px;
    margin-top: -12px;
}

.map-thumbnail.small .map-results-label {
    font-size: 16px;
    margin-top: -5px;
    margin-left: -1px;
}

.contest-scores-link {
    font-size: 18px;
    padding-bottom: 10px;
    color: #9b9b9b !important;
}

.progress-bar span {
    font-size: 11px;
    position: absolute;
    color: #fff;
    text-shadow: 1px 0px #000;
}

.league-info-table > tbody > tr > td img {
    max-width: 100%;
}

.league-info-table > thead > tr > td {
    font-weight: 600;
}

.league-info-table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

.league-position {
    font-size: 28px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.league-position-first {
    padding-top: 30px;
    padding-bottom: 5px;
}

.league-position-first > .fas {
    font-size: 50px;
    font-weight: 600;
}

.league-position-first > .league-team {
    font-size: 40px;
    font-weight: 600;
}

.league-position-first > .league-team-position {
    font-size: 26px;
    padding-left: 48px;
    padding-right: 48px;
}

.league-position > .fas {
    display: block;
}

.league-team {
    display: inline;
    border-bottom: 1px solid #9b9999;
    padding-bottom: 7px;
}

.league-team-position {
    font-size: 20px;
    color: #bab5b5;
    padding-left: 32px;
    padding-right: 32px;
}

.tm-team-group > hr {
    margin-top: 13px;
    margin-bottom: 8px;
}

.team-group-name {
    font-size: 18px;
    margin-bottom: -8px;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.team-group-count {
    font-size: 14px;
    margin-bottom: 8px;
    color: #9b9b9b;
}

.team-group-description {
    font-size: 13px;
    margin-top: -10px;
    margin-bottom: 12px;
    line-height: 16px;
    color: #9b9b9b;
} 

.tm-team {
    color: #3a3a3a;
    background-color: #e5e5e5;
    margin-bottom: 7px;
}
    
.tm-team > .seed {
    display: inline-block;
    color: #fff;
    background-color: #9a9a9a;
    width: 35px;
    padding: 5px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}
    
.tm-team > .name {
    display: inline-block;
    padding: 5px;
    font-weight: 500;
}

.tm-team > .name.no-seed {
    padding-left: 10px;
}

.tm-group-advances .tm-team-fade {
    color: #adadad;
}

.tm-group-advances .tm-team-fade > .seed {
    color: #c5c5c5;
}

.tm-teams-tabs {
    display: inline-block;
    margin-bottom: 15px;
}

.tm-teams-tabs > li.active > a {
    font-weight: 600;
}

.tm-teams-fade-checkbox {
    color: #000;
}

@media (max-width: 500px) {
    .tm-teams-fade-checkbox {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

@media (min-width: 501px) {
    .tm-teams-fade-checkbox {
        float: right;
    }
}

.tm-teams-fade-checkbox input:checked:after {
    background-color: #000 !important;
    border-color: #000 !important;
}

.challonge-brackets:not(:only-child) {
    margin-top: 15px;
}

.challonge-bracket {
    background-color: #272A33;
}

.challonge-bracket:not(:first-child) {
    margin-top: 10px;
}

.challonge-bracket > span {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}

.challonge-bracket > a {
    color: #fff !important;
    display: block;
    float: right;
    font-size: 15px;
    margin-right: 10px;
    margin-top: 10px;
}

.tournament-expand-results {
    display: block;
    font-size: 18px;
    padding-bottom: 5px;
    text-align: center;
    color: #5a5a5a !important;
    cursor: pointer;
}

.tournament-expand-results:hover {
    text-decoration: underline;
}

.tm-results {
    background-color: #ededed;
    border: 1px solid #c6c6c6;
    padding-top: 5px;
    margin-bottom: 10px;
}

.tm-results .tm-results-well {
    padding: 0px 8px 8px 8px;
}

.tm-results .well:only-child,
.tm-results .well:last-child {
    margin: 0px;
}

.tm-pager {
    margin-bottom: 10px;
}

@media (max-width: 576px) {
    .tm-pager {
        margin-bottom: 15px;
    }
}

@media (max-width: 576px) {
    .tm-pager a {
        width: 130px;
        font-size: 12px;
    }
}

.pager-center > p {
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 576px) {
    .pager-center {
        display: none !important;
    }
}

.alert-global {
    margin-top: 4px;
    margin-bottom: 4px;
}

.alert-sm {
    padding: 6px;
    margin: 12px;
    margin-bottom: -18px;
    font-size: 11px;
}

.tag_hidden,
.tag-hidden {
    display: none
}

.btn-auth {
    display: block;
    margin-bottom: 6px;
    text-transform: none;
}

.well-output {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.remove_field {
    margin-top: -26px;
    margin-right: -18px;
}

#preview > p > img {
    width: 100%;
}

#preview > h3 {
    font-size: 24px;
}

#preview > h4 {
    font-size: 18px;
}

.well-header {
    font-size: 18px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.24);
    margin-bottom: 12px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

code {
    background-color: #f5f5f5 !important;
    border: 1px solid #cccccc;
}

pre > code {
    border: none;
}

.collection-thumbnail {
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 18px;
}

.collection-head {
    border-bottom: 1px solid #dddddd;
    padding-left: 12px;
    padding-top: 2px;
}

.collection-body {
    padding-top: 10px;
    margin-bottom: -13px;
}

.collection-title {
    font-size: 24px;
    font-weight: 600;
}

.collection-description {
    font-size: 16px;
    margin-top: -12px;
    padding-bottom: 6px;
}

#collection-buttons {
    padding-top: 7px;
    padding-right: 9px;
}

@media only screen and (max-width: 768px) {
    #collection-buttons {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 6px;
    }
}

.slick-slide {
    height: auto !important;
}

.slick-arrow {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 18px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 13px;
    line-height: 1.846;
    border-radius: 3px;
    background-color: #7492f7;
    color: #fff;
}

.slick-arrow:hover,
.slick-arrow:focus {
    background-color: #547afa;
    color: #fff;
}

.sidenav > li > a,
.sidenav > li > span {
    padding: 0px 15px;
}

.sidenav > li {
    padding-left: 12px;
}

.sidenav > li.active > a {
    background-color: rgba(255, 255, 255, 0);
    color: #337ab7;
    font-weight: 600;
    margin-bottom: 2px;
}

.sidenav > li > a:hover,
.sidenav > li > a:focus,
.sidenav > li.active > a:hover,
.sidenav > li.active > a:focus {
    background-color: #f0f0f0;
    color: #337ab7;
}

.user-avatar {
    width: 20px;
    border-radius: 6px;
    margin-right: 4px;
}

.dynamic {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.list-section {
    padding: 6px;
    margin-top: -12px;
}

.list-heading {
    margin-bottom: 8px;
}

.list-title {
    font-size: 20px;
}

.list-subtitle {
    font-size: 16px;
}

.list-section .table {
    font-size: 12px;
}

.map-search {
    padding: 12px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .map-search {
        width: 230px;
        z-index: 1;
    }
}

@media only screen and (min-width: 1200px) {
    .map-search {
        width: 270px;
        z-index: 1;
    }
}

.filters {
    text-align: left;
    padding-top: 8px;
}

.filters > b {
    font-size: 15px;
}

.filters > small {
    display: block;
    font-size: 10px;
    margin-top: -2px;
    line-height: 12px
}

.group {
    margin-top: 6px;
}

.group > b {
    display: block;
    font-size: 12px;
}

.group > .filter {
    display: inline-block;
    font-size: 10px;
    background-color: #f0f0f0;
    padding: 1px 6px;
    margin: 2px -0px;
    border-radius: 16px;
    white-space: nowrap;
}

.group > .filter:hover,
.group > .filter:focus {
    background-color: #b6c0ff;
    transition: 0.2s;
    cursor: pointer;
}

.group > .filter.active {
    background-color: #5f6fc7;
    color: #fff;
}

.bow-record {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 0px 15px 10px 15px;
}

.bow-record-header {
    padding: 0px;
}

.bow-record > .bow-record-header > img {
    width: 88px;
    height: 75.3px;
    border-radius: 4px;
    background-color: #525252;
}

.bow-titles {
    display: inline-block;
    vertical-align: -10px;
    padding-left: 6px;
}

.bow-map {
    font-size: 18px;
    font-weight: 600;
}

.bow-tags {
    margin-top: -8px;
    font-size: 11px;
}

.bow-user-record .fa.fa-check-circle {
    font-size: 12px;
}

.bow-user-record:first-child {
    font-size: 15px;
}

.bow-user-record:first-child > .fa {
    font-size: 22px;
    vertical-align: -4px;
}

.bow-user-record:first-child > img {
    width: 24px;
}

.bow-user-record:not(:first-child) {
    margin-left: 15px;
}

.bow-user-record:nth-child(n+10) {
    margin-left: 8px;
}

.bow-user-record > img {
    width: 12px;
}

.bow-player-avatar {
    border-radius: 3px;
}

.bow-records-more {
    font-size: 10px;
    display: block;
    text-align: center;
    color: #ababab !important;
    cursor: pointer;
}

.bow-record-mute {
    opacity: 0.5 !important;
}

#records-count {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
}

.slider.slider-horizontal {
    width: 170px !important;
    margin: 0px 10px;
}

.click-search {
    cursor: pointer;
}

.user-header {
    margin-bottom: 24px;
}

.user-header > img {
    width: 10%;
    border-radius: 8px;
}

.collapse-section-heading {
    cursor: pointer;
}

.collapse-section-heading > .fas {
    width: 20px;
    text-align: center;
}

.video-embed-labels {
    font-size: 12px;
    font-weight: 300;
}

.video-embed-labels .fab {
    font-size: 22px;
    vertical-align: middle;
}

.video-embed-header {
    height: 65px;
}

.video-embed-header .video-embed-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    margin-top: 3px;
    margin-bottom: 3px;
}

.video-embed-header .video-embed-description {
    color: #878787;
    line-height: 1;
    font-size: 13px;
}