.size_8x:before {content: "8x"}
.size_16x:before {content: "16x"}
.size_32x:before {content: "32x"}
.size_64x:before {content: "64x"}
.size_128x:before {content: "128x"}
.size_256x:before {content: "256x"}

.version-1-11:before {content: "1.11"}
.version-1-10:before {content: "1.10"}
.version-1-9:before {content: "1.9"}
.version-1-8:before {content: "1.8"}
.version-1-7:before {content: "1.7"}
.version-1-6:before {content: "1.6"}


.tag_hidden {display: none}
li.size-tag {display: inline; list-style-type: none;}
li.size-tag:after {content: ", ";}
li.size-tag:last-child::after {content: "";}

.author-tag {display: inline; list-style-type: none; font-size: 13px; color: gray;}
li.author-tag:after {content: ", ";}
li.author-tag:last-child::after {content: "";}
.author-tag:nth-child(4):before {font-size: 13px; content: " and more";}
.author-tag:nth-child(n+4) {font-size: 0px;}

.rp-name {margin-bottom: -5px; display: inline-block;}
.rp-icon {height: 40px; width: 40px; margin-top: -26px; margin-right: 6px;}
.rp-details {margin-top: 12px;}
.rp-info {display: inline-block;}

.icon-links {margin-top: 6px;}
.icon-links-alt {font-size: 12px; position: absolute; left: 48px; top: -10px;}

li.mcversion-tag {display: inline; list-style-type: none;}
li.mcversion-tag:after {content: ", ";}
li.mcversion-tag:last-child::after {content: "";}
