/* bootstrap.css */

body {
    color: #ededed !important;
    background-color: #19191a !important;
}

a {
    color: #73b3ea !important;
}

a:hover,
a:focus {
    color: #bed7ed !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #efefef !important;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    color: #d6d6d6 !important;
}

code {
    color: #f27393 !important;
    background-color: rgba(28, 28, 28, 0.75) !important;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #222222 !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #343436 !important;
}

.navbar-inverse {
    background-color: #414141 !important;
}

.navbar-inverse .navbar-brand {
    color: #ffffff !important;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #efefef !important;
}

.navbar-inverse .navbar-text {
    color: #bbbbbb !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #e2e2e2 !important;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #cccccc !important;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #4e4e4e !important;
}

.thumbnail,
.modal-content {
    background-color: #2c2c2c !important;
    border: 1px solid #242424 !important;
}

.well {
    background-color: #222222 !important;
}

/* index.css */

.page-content {
    background-color: #343436 !important;
    border-color: #282829 !important;
}

.object-card-title {
    color: #ffffff !important;
}

.object-card-description {
    color: #d1d1d1 !important;
}

/* main.css */

.content-background {
    background-color: #343436 !important;
}

.footer {
    background-color: #19191a !important;
}

.footer-section-head {
    text-transform: uppercase !important;
    font-weight: 600 !important;
    color: #777777 !important;
    margin-bottom: 8px !important;
}

.footer-item {
    color: #d8d8d8 !important;
}

.footer-item:hover,
.footer-item:focus {
    color: #f4f4f4 !important;
}

.footer-bottom {
    border-top: 1px solid #eae7e7 !important;
    color: #a2a2a2 !important;
}

tr:nth-child(even) {
    background-color: #2c2c2c !important;
}

thead {
    background-color: #2c2c2c !important;
}

span.game-mode-button {
    color: #d9d9d9 !important;
}

.content-title {
    color: #efefef !important;
}

.content-subtitle {
    color: #d6d6d6 !important;
}

.map-header,
.map-header:hover,
.map-header:focus {
    color: #f4f4f4 !important;
}

.map-tag,
.map-tag:hover,
.map-tag:focus {
    color: #e2e2e2 !important;
}

.map-authors {
    color: #e2e2e2 !important;
}

.contest-table-first {
    background-color: #eab83e !important;
}

.contest-table-second {
    background-color: #8b8b8b !important;
}

.contest-table-third {
    background-color: #cc7f32 !important;
}

.well-custom-red,
.well-custom-purple,
.well-custom-orange,
.well-custom-blue,
.well-custom-green {
    border-color: #242424 !important;
}

.post-thumbnail {
    background-color: #2c2c2c !important;
    border: 1px solid #242424 !important;
}

.section-item {
    color: #c4c4c4 !important;
    background-color: #272727 !important;
}

.section-item:hover,
.section-item.active {
    color: #fff !important;
    background-color: #5369a3 !important;
}
