.background-splash {
    background-size: cover !important;
}

.background-splash-wash {
    background-color: rgba(11, 33, 56, 0.62);
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
}

@font-face {
  font-family: 'Mosk';
  src: url('../fonts/mosk-regular.ttf');
}

.splash-header-body {
    font-family: 'Mosk', sans-serif;
}

.splash-header {
    font-size: 3.2em;
    font-weight: bold;
    letter-spacing: 6px;
    color: #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: 16px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.splash-subheader {
    font-size: 1.6em;
    color: #fff;
}

.index-alerts {
    width: 50%;
    margin: 0 auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.index-content {
    height: 40%;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.card {
    padding-top: 80px;
    padding-bottom: 80px;
    color: #434343;
}

.card:hover,
.card:focus {
    text-decoration: none;
    background-color: #d6d6d6;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.card > .icon {
    font-size: 64px;
    padding-bottom: 48px;
}

.card > .header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.card-red:hover,
.card-red:focus {
    background-color: #ff8787;
}

.card-blue:hover,
.card-blue:focus {
    background-color: #7c9fff;
}

.card-red.lighten:hover,
.card-red.lighten:focus {
    background-color: #ffc2c2;
}

.card-blue.lighten:hover,
.card-blue.lighten:focus {
    background-color: #b0c5ff;
}

@media screen and (min-height: 1024px) {
    .background-splash-wash {
        height: 75%;
    }

    .index-content {
        height: auto;
        display: block;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .card {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .card > .icon {
        font-size: 64px;
        padding-bottom: 20px;
    }

    .card > .description {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (max-height: 812px) {
    .background-splash-wash {
        height: 100%;
    }

    .index-content {
        height: auto;
        display: block;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .card {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .card > .icon {
        font-size: 64px;
        padding-bottom: 20px;
    }

    .card > .description {
        padding-left: 20%;
        padding-right: 20%;
    }
}
