#wrapper {
	min-height:100%;
	position:relative;
}

#wrapper-navigation {
	padding: 0px;
}

#wrapper-header {
    padding-top: 180px;
	padding-bottom: 100px;
}

#wrapper-content {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

@media screen and (max-width: 991px) {
    #wrapper-header {
        padding-top: 120px;
    }

    #wrapper-content {
	   position: relative;
    }
}

.background-splash {
    background: url(../img/splash/splash_lifeboat.png) no-repeat center;
    background-size: cover;
}

.background-splash-wash {
    background-color: rgba(37, 37, 37, 0.67);
    width: 100%;
    height: 100%;
}

.splash-header {
    font-size: 58px;
    font-weight: bold;
    color: #fff;
}

.splash-subheader {
    font-size: 24px;
    color: #dbdbdb;
}

.splash-header-body {
    padding-top: 6em;
}

.page-content {
    background-color: #fff;
    border-color: #e6e6e6;
    border-top-width: 4px;
    border-top-style: solid;
}

.object-card {
    width: 200px;
    height: 200px;
    margin-bottom: 8px;
    padding-top: 40px;
    color: #fff;
    border-radius: 180px;
}

.card-background-red {
    background-color: #d85050;
}

.card-background-blue {
    background-color: #516cc4;
}

.object-card-display {
    width: 120px;
    height: 120px;
    margin-top: 40px;
    font-size: 120px;
}

.object-card-title {
    font-size: 18px;
    color: #2f2f2f;
    border-bottom: 1px solid #2f2f2f;
}

.object-card-discription {
    color: #5a5a5a;
    margin-bottom: 12px;
}

a.object-card-link,
a.object-card-link:hover,
a.record-card-link,
a.record-card-link:hover {
    text-decoration: none;
}

.object-card:hover {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    -moz-box-shadow:    inset 0 0 10px rgba(0, 0, 0, 0.69);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.69);
    box-shadow:         inset 0 0 10px rgba(0, 0, 0, 0.69);
}

.card-background-red:hover {
    background-color: #d64141;
}

.card-background-blue:hover {
    background-color: #4462c6;
}
