.map-thumbnail-header .banner .title a,
.map-thumbnail-header .banner .title a:hover,
.map-thumbnail-header .banner .title a:focus,
.map-thumbnail-header .banner .sub-title,
.map-thumbnail-header .banner .sub-title:hover,
.map-thumbnail-header .banner .sub-title:focus {
    color: #f4f4f4 !important;
}

.map-thumbnail-header .banner {
    background-color: rgba(79, 69, 69, 0.7);
}

.map-thumbnail-header .banner .icon-alerts a {
    color: #b7b7b7;
}

.map-regulations > .allow {
    color: #6ccc4f !important;
}

.map-regulations > .conditions {
    color: #73b3ea !important;
}

.group .filter {
    background-color: #484747;
}

.group .filter:hover,
.group .filter:focus {
    background-color: #4b637c;
}