.index-content {
    background-color: #343436 !important;
}

.index-card {
    color: #ffffff !important;
}

.index-card:hover,
.index-card:focus {
    background-color: #4d4d4d !important;
}

.index-card-red:hover,
.index-card-red:focus {
    background-color: #ff5d5d;
}

.index-card-blue:hover,
.index-card-blue:focus {
    background-color: #4491c9;
}

.index-card-red.lighten:hover,
.index-card-red.lighten:focus {
    background-color: #ff8787;
}

.index-card-blue.lighten:hover,
.index-card-blue.lighten:focus {
    background-color: #7da6c4;
}