{{#page-category}}
<div class="{{#if home}}index-alerts{{else}}content-alert{{/if}}">
    {{! Alert colours:          }}
    {{! Green --> alert-success }}
    {{! Blue ---> alert-info    }}
    {{! Yellow -> alert-warning }}
    {{! Red ----> alert-danger  }}
    <div class="alert alert-info" role="alert">Thank you all for <b>1000 users</b>! Everyone at ResourcePile is pleased to see how many people have come to use what we have created which began as a simple place to find your favourite maps from the Overcast Network. You can read more about this milestone <a href="updates#1k_users">here</a>.</div>
</div>
{{/page-category}}
