{{#page-category}}    
<div class="{{#if home}}index-alerts{{else}}content-alert{{/if}}">
    {{! Alert colours:          }}
    {{! Green --> alert-success }}
    {{! Blue ---> alert-info    }}
    {{! Yellow -> alert-warning }}
    {{! Red ----> alert-danger  }}
    <div id="survey" class="alert alert-warning" role="alert">
        We are conducting a survey about how you use ResourcePile and we would appericiate it if you were to fill it out so we can further improve our site.<br><a href="https://mcresourcepile.github.io/admin/forms/surveys/general" target="_blank">Go to survey</a>, or if you aren't interested, <a href="#" onclick="Cookies.set('survey01_complete', true, { expires: 7 });$('.alert').hide();">hide this alert</a>.
    </div>
</div>
{{/page-category}}
<script>
    if (Cookies.get('survey01_complete') == 'true') {
        $('#survey').hide();
    }
</script>
