<div class="{{#inArray page-category 'home'}}index-alerts{{else}}content-alert{{/inArray}}">
    <noscript>
        <div class="alert alert-{{alerts.noscript.class}} alert-global" role="alert">{{{alerts.noscript.message}}}</div>
    </noscript>
    {{#if alerts.enabled}}
    {{#each alerts.globals}}
    <div id="alert-{{hyphenate (lowercase (truncate message 12))}}" class="alert alert-{{class}} alert-global" role="alert">
        {{{message}}}
        {{#if dismissible}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="font-size:18px;"><span aria-hidden="true">&times;</span></button>
        <script>$("#alert-{{hyphenate (lowercase (truncate message 12))}}").on("closed.bs.alert",function(){Cookies.set("alert-{{hyphenate (lowercase (truncate message 12))}}-hidden",!0,{expires:365})}),Cookies.get("alert-{{hyphenate (lowercase (truncate message 12))}}-hidden")&&$("#alert-{{hyphenate (lowercase (truncate message 12))}}").alert("close");</script>
        {{/if}}
    </div>
    {{/each}}
    {{/if}}
</div>
