{{> header}}
<div class="container">
    <div class="content-header">
        {{> alert}}
        <div class="content-title">{{#if host}}{{host}}{{else}}Unknown Host{{/if}} {{#inArray page-category 'contest'}}Map Contests{{else}}Tournaments{{/inArray}}</div>
        <div class="content-subtitle">
            <p>List of {{#inArray page-category 'contest'}}map contests{{else}}tournaments{{/inArray}} hosted by the {{#if host}}{{#if host-site}}<a href="{{host-site}}">{{host}}</a>{{else}}{{host}}{{/if}}{{else}}Unknown Host{{/if}}.</p>
        </div>
    </div>
    <div class="section leagues center">
    {{#tournaments}}
        <a href="{{#if disabled}}#{{else}}/{{#inArray page-category 'contest'}}contests{{else}}leagues{{/inArray}}/{{@root.host-reference}}/{{id}}{{/if}}">
            {{#if heading}}
            <div class="league-banner {{#if disabled}}hide{{/if}}" style="background: url('../../assets/img/{{#inArray page-category 'contest'}}contest/{{id}}/banner.jpg{{else}}{{#inArray page-category 'league'}}tournament/banners/{{id}}.jpg{{/inArray}}{{/inArray}}');background-position:center">{{name}}</div>
            {{else}}
            <img class="league-banner-custom {{#if disabled}}hide{{/if}}" src="../../assets/img/{{#inArray page-category 'contest'}}contest/{{id}}/banner.png{{else}}{{#inArray page-category 'league'}}tournament/banners/{{id}}.png{{/inArray}}{{/inArray}}">
            {{/if}}
        </a>
    {{/tournaments}}
    </div>
</div>
{{> footer}}
</body>
</html>
