{{> header}}
<div class="container">
    <div class="content-header">
        {{> alert}}
        <div class="content-title">{{name}}</div>
        <div class="content-subtitle">Information about {{#if announcement}}<a href="{{announcement}}" target="_blank">{{name}}</a>{{else}}{{name}}{{/if}} contest hosted by {{#if host}}{{host}}{{else}}an unknown host{{/if}}.</div>
    </div>

    <!-- Contest banner -->
    <div class="center">
        {{#if heading}}
        <div class="league-banner" style="background: url('../../assets/img/contest/{{id}}/banner.jpg');background-position:center">{{name}}</div>
        {{else}}
        <img class="league-banner-custom" src="../../assets/img/contest/{{id}}/banner.png">
        {{/if}}
    </div>

    <!-- Contest winners -->
    <div class="league-results row center">
        {{#if first_place}}
        <div class="league-position col-sm-4">
            <div class="fa fa-star"></div>
            <div class="league-team">{{second_place}}</div>
            <div class="league-team-position">2nd place</div>
        </div>
        <div class="league-position league-position-first col-sm-4">
            <span class="fa fa-trophy"></span>
            <div class="league-team">{{first_place}}</div>
            <div class="league-team-position">1st place</div>
        </div>
        <div class="league-position col-sm-4">
            <div class="fa fa-star"></div>
            <div class="league-team">{{third_place}}</div>
            <div class="league-team-position">3rd place</div>
        </div>
        {{else}}
        <div class="league-position league-position-first col-sm-12">
            <span class="fa fa-exclamation-triangle"></span>
            <div class="league-team">This contest has not concluded!</div>
            <div class="league-team-position">Information on this page may not be confirmed</div>
        </div>
        {{/if}}
    </div>

    <!-- Contest information -->
    <div class="league-info-section large">Contest Information</div>
    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm well-custom-green">
                <div class="league-info-section">Dates and Times</div>
                <table class="league-info-table">
                    <tbody>
                        {{#stages}}
                        <tr>
                            <td>{{stage}}</td>
                            <td>{{date}}</td>
                        </tr>
                        {{/stages}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well well-sm well-custom-green">
                <div class="league-info-section">Scoring</div>
                <table class="league-info-table">
                    <tbody>
                        {{#each criteria}}
                        <tr>
                            <td style="font-weight:400"><strong>{{this.label}}</strong> out of <code>{{this.max}}</code> {{#if this.weight}}(weighted {{this.weight}}%){{/if}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        {{#if panels}}
        {{#panels}}
        <div class="col-md-{{#is size 'full'}}12{{else}}6{{/is}}">
            <div class="well well-sm well-custom-blue">
                <div class="league-info-section">{{#if label}}{{label}}{{else}}Misc Information{{/if}}</div>
                <table class="league-info-table">
                    <tbody>
                        {{#if rows}}
                        {{#rows}}
                        <tr>
                            {{#if label}}
                            <td>{{label}}</td>
                            <td>{{{content}}}</td>
                            {{else}}
                            <td colspan="2" style="font-weight:400">{{{content}}}</td>
                            {{/if}}
                        </tr>
                        {{/rows}}
                        {{else}}
                        <tr>
                            <td>This panel has no information.</td>
                        </tr>
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
        {{/panels}}
        {{/if}}
    </div>

    <!-- Contest submissions -->
    <div class="league-info-section large">Submissions</div>
    <div class="row">
        {{#submissions}}
        {{> map-thumbnail}}
        {{/submissions}}
    </div>
    
</div>
{{> footer}}
<script>
    $('.progress-bar').each(function(i, obj) {
        var score_current = $(this).attr('aria-valuenow')
        var score_max = $(this).attr('aria-valuemax')
        var score_percentage = Math.floor((score_current / score_max) * 100)
        $(this).css({ 
            'width': score_percentage + '%',
            'background-color': 'rgba(21, 57, 177, ' + score_percentage / 100 + ')'
        });
    });    
</script>
</body>
</html>
