<html>
    <head>
        <title>{{#title}}{{./title}}{{/title}}</title>
        <!-- Page meta data -->
        <meta charset=" UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="{{description}}" name="description">
        <meta content="{{#title}}{{./title}}{{/title}}" property="og:title">
        <meta content="{{description}}" name="og:description">
        <meta content="website" property="og:type">
        <meta content="ResourcePile" property="og:site_name">
        <meta content="https://mcresourcepile.github.io/" property="og:url">
        <meta content="https://mcresourcepile.github.io/assets/img/logo-whitebg.jpg" property="og:image">
        <meta content="summary" name="twitter:card">
        <meta content="{{#title}}{{./title}}{{/title}}" name="twitter:title">
        <meta content="{{description}}" name="twitter:description">
        <meta content="https://mcresourcepile.github.io/assets/img/logo-whitebg.jpg" name="twitter:image">
        <!-- Page stylesheets -->
        <link href="/assets/css/bootstrap.css" rel="stylesheet">
        <link href="/assets/css/main.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="/assets/favicon.ico">
        {{{css_includes}}}
        <!-- Page script files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/js.cookie.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-91801520-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-K9MLTDB');</script>
        {{{scripts}}}
    </head>
    <body {{{body-attrs}}}>
        <!-- Page navigation -->
        {{#page-category}}
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index"><span class="fa fa-folder-open" style="padding-right:6px;" aria-hidden="true"></span> ResourcePile</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown {{#if maps}}{{#unless contest}}active{{/unless}}{{/if}}">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"><i class="fa fa-cubes"></i> Maps <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/maps/overcast">Overcast Collection</a></li>
                                <li><a href="/maps/pgm">PGM Collection</a></li>
                                <li><a href="/maps/stratus">Stratus Collection</a></li>
                                <li><a href="/maps/avicus">Avicus Collection</a></li>
                            </ul>
                        </li>
                        <li class="dropdown {{#if contests}}active{{/if}}">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"><i class="fa fa-map"></i> Map Contests <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/contests/overcast">Overcast Network</a></li>
                                <li><a href="/contests/stratus">Stratus Network</a></li>
                            </ul>
                        </li>
                        <li class="dropdown {{#if league}}{{#unless contest}}active{{/unless}}{{/if}}">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"><i class="fa fa-trophy"></i> Tournaments <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/leagues/overcast">Overcast Network</a></li>
                                <li><a href="/leagues/pgm">PGM Community</a></li>
                                <li><a href="/leagues/stratus">Stratus Network</a></li>
                                <li><a href="/leagues/avicus"><i class="fa fa-shield"></i> Avicus Network</a></li>
                            </ul>
                        </li>
                        <li class="dropdown {{#if stats}}active{{/if}}">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"><i class="fa fa-bar-chart"></i> Statistics <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><p class="navbar-menu-title">Overcast</p></li>
                                <li><a href="/stats/overcast/bow">Bow Records</a></li>
                                <li><a href="/stats/overcast/miscellaneous">Miscellaneous</a></li>
                                <li><a href="/stats/overcast/objective">Objective Leaderboards</a></li>
                                <li><a href="/stats/avicus/bow">Bow Records</a></li>
                            </ul>
                        </li>
                        <li><a href="/markdown/wiki"><span class="fa fa-globse"></span> Wiki</a></li>
                        <li class="{{#if updates}}active{{/if}}"><a href="/updates"><span class="fa fa-newspaper-o"></span> Updates</a></li>
                    </ul>
                    {{#or auth maps}}
                    {{#unless contest}}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="navbar-right"><a href="/admin/auth"><span class="fa fa-github-alt"></span> GitHub API: <span class="auth-enabled label label-success" style="display: none;">Authenticated</span><span class="auth-disabled label label-danger" data-toggle="tooltip" data-placement="bottom" title="Authenticate in order to download maps without a limit">Unauthenticated</span></a></li>
                    </ul>
                    {{/unless}}
                    {{/or}}
                </div>
            </div>
        </div>
        <div {{#unless home}}class="content-background {{#if full}}content-background-full{{/if}}"{{/unless}}>
        {{/page-category}}
