<html>
    <head>
        <title>{{title}} - ResourcePile</title>
        <!-- Page meta data -->
        <meta charset=" UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="{{#if description}}{{description}}{{else}}{{#if subtitle}}{{subtitle}}{{else}}{{tagline}}{{/if}}{{/if}}" name="description">
        <meta content="{{title}} - ResourcePile" property="og:title">
        <meta content="{{#if description}}{{description}}{{else}}{{#if subtitle}}{{subtitle}}{{else}}{{tagline}}{{/if}}{{/if}}" name="og:description">
        <meta content="website" property="og:type">
        <meta content="ResourcePile" property="og:site_name">
        <meta content="https://mcresourcepile.github.io/" property="og:url">
        <meta content="https://mcresourcepile.github.io/assets/img/logo-whitebg.jpg" property="og:image">
        <meta content="summary" name="twitter:card">
        <meta content="{{title}} - ResourcePile" name="twitter:title">
        <meta content="{{#if description}}{{description}}{{else}}{{#if subtitle}}{{subtitle}}{{else}}{{tagline}}{{/if}}{{/if}}" name="twitter:description">
        <meta content="https://mcresourcepile.github.io/assets/img/logo-whitebg.jpg" name="twitter:image">
        <!-- Page stylesheets -->
        <link href="/assets/favicon.ico" rel="shortcut icon">
        {{#each settings.include.important.stylesheets}}
        <link href="{{this}}" rel="stylesheet">
        {{/each}}
        {{#each settings.include.stylesheets}}
        <link href="{{this}}" rel="stylesheet">
        {{/each}}
        <!-- Page script files -->
        {{#each settings.include.important.scripts}}
        <script src="{{this}}"></script>
        {{/each}}
        {{#each settings.include.scripts}}
        <script src="{{this}}"></script>
        {{/each}}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-91801520-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-K9MLTDB');</script>
    </head>
    <body {{#if settings.full}}class="background-splash" id="wrapper"{{/if}}>
        <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <span class="fa fa-folder-open" style="padding-right: 5px;" aria-hidden="true"></span> ResourcePile
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown{{#inArray page-category 'collections'}} active{{/inArray}}">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"><i class="fas fa-cubes"></i> Maps</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/maps/overcast">Overcast Collection</a>
                                <a class="dropdown-item" href="/maps/pgm">PGM Collection</a>
                                <a class="dropdown-item" href="/maps/stratus">Stratus Collection</a>
                                <a class="dropdown-item" href="/maps/avicus">Avicus Collection</a>
                                <a class="dropdown-item" href="/maps/rfw">RFW Collection</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown{{#inArray page-category 'contest'}} active{{/inArray}}">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"><i class="fas fa-medal"></i> Contests</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/contests/overcast">Overcast Network</a>
                                <a class="dropdown-item" href="/contests/stratus">Stratus Network</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown{{#inArray page-category 'league'}} active{{/inArray}}">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"><i class="fas fa-trophy"></i> Tournaments</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/leagues/overcast">Overcast Network</a>
                                <a class="dropdown-item" href="/leagues/pgm">PGM Community</a>
                                <a class="dropdown-item" href="/leagues/stratus">Stratus Network</a>
                                <a class="dropdown-item" href="/leagues/avicus">Avicus Network</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown{{#inArray page-category 'stats'}} active{{/inArray}}">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"><i class="fas fa-chart-bar"></i> Statistics</a>
                            <div class="dropdown-menu">
                                <p class="navbar-menu-title">Overcast</p>
                                <a class="dropdown-item" href="/stats/overcast/bow">Bow Records</a>
                                <a class="dropdown-item" href="/stats/overcast/miscellaneous">Miscellaneous</a>
                                <a class="dropdown-item" href="/stats/overcast/objective">Objective Leaderboards</a>
                                <p class="navbar-menu-title">Stratus</p>
                                <a class="dropdown-item" href="/stats/stratus/bow">Bow Records</a>
                                <p class="navbar-menu-title">Avicus</p>
                                <a class="dropdown-item" href="/stats/avicus/miscellaneous">Miscellaneous</a>
                           </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/addon-project/wiki"><i class="far fa-newspaper"></i> Wiki</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item{{#inArray page-category 'preferences'}} active{{/inArray}}">
                            <a class="nav-link" href="/admin/preferences"><img src="" class="user-avatar"> <span class="user-username"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div {{#unless settings.full}}class="content-background"{{/unless}}>
            {{#unless settings.full}}
            <div class="container">
                {{#unless settings.full}}
                {{> site_alerts}}
                {{/unless}}
                {{#if settings.header}}
                <div class="content-header">
                    <div class="content-title">{{title}}</div>
                    {{#if subtitle}}
                    <div class="content-subtitle">{{subtitle}}</div>
                    {{/if}}
                </div>
                {{else}}
                {{#unless settings.full}}
                <div class="content-buffer"></div>
                {{/unless}}
                {{/if}}
                {{#if body}}
                <p>{{{body}}}</p>
                {{/if}}
            {{/unless}}
            <!-- Start page content -->
