{{> navigation_header}}
<div class="center">
    {{#if no_custom_banner}}
    <div class="league-banner" style="background: url('../../assets/img/tournament/banners/{{snakecase (lowercase title)}}.jpg');background-position:center">{{title}}</div>
    {{else}}
    <img class="league-banner-custom" src="../../assets/img/tournament/banners/{{snakecase (lowercase title)}}.png">
    {{/if}}
</div>
{{#results}}
{{#if first_place}}
<div class="center">
    <div class="league-position league-position-first">
        <i class="fas fa-trophy"></i>
        <div class="league-team">{{first_place}}</div>
        <div class="league-team-position">1<sup>st</sup> place</div>
    </div>
    <div class="row">
        <div class="league-position col-sm-6">
            <i class="fas fa-star"></i>
            <div class="league-team">{{second_place}}</div>
            <div class="league-team-position">2<sup>nd</sup> place</div>
        </div>
        <div class="league-position col-sm-6">
            <i class="fas fa-star-half-alt"></i>
            <div class="league-team">{{third_place}}</div>
            <div class="league-team-position">3<sup>rd</sup> place</div>
        </div>
    </div>
    {{#if challonge}}
    <a class="tournament-expand-results collapsed" data-expanded="false" data-toggle="collapse" href="#resultsCollapse"></a>
    {{else}}
    {{#if panels}}
    <a class="tournament-expand-results collapsed" data-expanded="false" data-toggle="collapse" href="#resultsCollapse"></a>
    {{/if}}
    {{/if}}
</div>
<div class="collapse" id="resultsCollapse">
    <div class="league-results">
        {{#if panels}}
        {{#panels}}
        <div class="row">
            <div class="col-md-{{#is size 'full'}}12{{else}}6{{/is}}">
                <div class="well well-sm well-custom-blue">
                    <div class="league-info-section">{{#if label}}{{label}}{{else}}Misc Information{{/if}}</div>
                    <table class="league-info-table">
                        <tbody>
                            {{#if rows}}
                            {{#rows}}
                            <tr>
                                {{#if label}}
                                <td>{{label}}</td>
                                <td>{{{content}}}</td>
                                {{else}}
                                <td colspan="2" style="font-weight:400">{{{content}}}</td>
                                {{/if}}
                            </tr>
                            {{/rows}}
                            {{else}}
                            <tr>
                                <td>This panel has no information.</td>
                            </tr>
                            {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{/panels}}
        {{/if}}
        {{#if challonge}}
        {{#challonge}}
        <div class="challonge-bracket">
            {{#if description}}
            <span>{{description}}</span>
            {{/if}}
            <a href="{{url}}" target="_blank">
                <i class="fas fa-external-link-alt"></i>
            </a>
            <iframe src="{{url}}/module" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
        </div>
        {{/challonge}}
        {{/if}}
    </div>
</div>
{{else}}
<div class="center">
    <div class="league-position league-position-first">
            <i class="fas fa-exclamation-triangle"></i>
            <h3>This tournament has not concluded!</h3>
            <h5>Information on this page may not be final.</h5>
        </div>
</div>
{{/if}}
{{/results}}
<div class="league-info-section large">Tournament Information</div>
<div class="row">
    <div class="col-md-6">
        <div class="well well-sm well-custom-green">
            <div class="league-info-section">Details</div>
            <table class="league-info-table">
                <tbody>
                    {{#if announcement}}
                    <tr>
                        <td>Announcement Page</td>
                        <td><a href="{{announcement}}">{{announcement}}</a></td>
                    </tr>
                    {{/if}}
                    {{#if method}}
                    <tr>
                        <td>Method</td>
                        <td>{{method}}</td>
                    </tr>
                    {{/if}}
                    {{#if gamemodes}}
                    <tr>
                        <td>Gamemodes</td>
                        <td>
                            {{#each gamemodes}}
                            {{#if (lookup @root.settings.maps.tags this)}}{{lookup (lookup @root.settings.maps.tags this) 'display'}}{{else}}{{capitalize this}}{{/if}}{{#unless @last}},{{/unless}}
                            {{/each}}
                        </td>
                    </tr>
                    {{/if}}
                    {{#if teams}}
                    <tr>
                        <td>Teams</td>
                        <td>
                            <a href="#teams">{{teams}} <i class="fas fa-chevron-down"></i></a>
                        </td>
                    </tr>
                    {{/if}}
                    {{#if teamsize}}
                    <tr>
                        <td>Team Size</td>
                        <td>{{teamsize}}</td>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
    {{#if stages}}
    <div class="col-md-6">
        <div class="well well-sm well-custom-green">
            <div class="league-info-section">Dates and Times</div>
            <table class="league-info-table">
                <tbody>
                    {{#stages}}
                    <tr>
                        <td>{{stage}}</td>
                        <td>{{date}}</td>
                    </tr>
                    {{/stages}}
                </tbody>
            </table>
        </div>
    </div>
    {{/if}}
    {{#if panels}}
    {{#panels}}
    <div class="col-md-{{#is size 'full'}}12{{else}}6{{/is}}">
        <div class="well well-sm well-custom-purple">
            <div class="league-info-section">{{#if label}}{{label}}{{else}}Misc Information{{/if}}</div>
            <table class="league-info-table">
                <tbody>
                    {{#if rows}}
                    {{#rows}}
                    <tr>
                        {{#if label}}
                        <td>{{label}}</td>
                        <td>{{{content}}}</td>
                        {{else}}
                        <td colspan="2" style="font-weight:400">{{{content}}}</td>
                        {{/if}}
                    </tr>
                    {{/rows}}
                    {{else}}
                    <tr>
                        <td>This panel has no information.</td>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
    {{/panels}}
    {{/if}}
</div>
{{#if maps}}
<div class="league-info-section large">Map Pool <small>{{length maps}}</small></div>
<div class="dynamic">
    {{#maps}}
    {{> page_maps_thumbnail_advanced}}
    {{/maps}}
</div>
{{/if}}
{{#if groups}}
<div class="league-info-section large" id="teams">Teams</div>
<div class="row">
    {{#groups}}
    <div class="col-md-3">
        <div class="well well-sm well-custom-red tournament-teams-table">
            <div class="league-info-section">{{#if name}}{{name}}{{/if}} <small>{{length teams}} teams</small></div>
            <table class="table table-striped">
                {{#if seeded}}
                <thead>
                    <th>Seed</th>
                    <th>Team Name</th>
                </thead>
                {{/if}}
                <tbody>
                    {{#teams}}
                    <tr>
                        {{#if seed}}
                        <td><b>{{seed}}</b></td>
                        {{/if}}
                        <td>{{name}}</td>
                    </tr>
                    {{/teams}}
                </tbody>
            </table>
        </div>
    </div>
    {{/groups}}
</div>
{{/if}}
{{> navigation_footer}}
