<div class="col-sm-6 col-lg-3 map-thumbnail center">
    <div id="{{slug}}" class="thumbnail map-float{{#inArray @root.data.new slug}} map-glow-new{{/inArray}}{{#inArray @root.data.popular slug}} map-glow-popular{{/inArray}}{{#inArray @root.page-category 'contest'}}{{#is position '1'}} map-glow-contest-first{{/is}}{{#is position '2'}} map-glow-contest-second{{/is}}{{#is position '3'}} map-glow-contest-third{{/is}}{{/inArray}}">
        <div class="map-image lazy" data-src="{{#inArray @root.page-category 'tournaments'}}../../assets/img/{{#inArray @root.page-category 'contest'}}contest/{{snakecase (lowercase @root.title)}}/maps{{else}}tournament/shared/maps{{/inArray}}/{{slug}}.png{{else}}https://raw.githubusercontent.com/MCResourcePile/{{@root.settings.maps.group}}-maps{{#is @root.settings.maps.group 'overcast'}}-{{findGroup slug}}{{/is}}/master/maps/{{slug}}/map.png{{/inArray}}">

            <div class="map-banner">
                <a class="map-header" {{#inArray @root.page-category 'maps'}}href="https://mcresourcepile.github.io/maps/{{@root.settings.maps.group}}?s={{slug}}"{{/inArray}} data-toggle="tooltip" data-placement="top" title="{{name}}"><strong>{{#if name}}{{name}}{{else}}Untitled Map{{/if}}</strong><span class="tag_hidden">{{slug}}</span></a>
                {{#if contest}}
                <a href="/contests/{{#is @root.settings.maps.group 'pgm'}}overcast{{else}}{{@root.settings.maps.group}}{{/is}}/{{contest}}#{{slug}}" class="pull-right external-thread-size" data-toggle="tooltip" data-placement="top" title="{{#is @root.settings.maps.group 'pgm'}}Overcast{{else}}{{sentence @root.settings.maps.group}}{{/is}} contest submission"><i class="external-thread fa fa-map"></i></a>
                {{/if}}
                {{#if discussion}}
                <a href="{{discussion}}" target="_blank" class="pull-right external-thread-size" data-toggle="tooltip" data-placement="top" title="Discussion"><i class="external-thread fa fa-comments-o"></i></a>
                {{/if}}
                {{#if cardinal}}
                <a class="pull-right external-thread-size" data-toggle="tooltip" data-placement="top" title="Tested&nbsp;with&nbsp;Cardinal"><i class="external-thread fa fa-certificate"></i></a>
                {{/if}}
                {{#is position '1'}}
                <a class="pull-right external-thread-size" data-toggle="tooltip" data-placement="top" title="1st&nbsp;place&nbsp;winner"><i class="external-thread fa fa-trophy"></i></a>
                {{/is}}
                {{#is position '2'}}
                <a class="pull-right external-thread-size" data-toggle="tooltip" data-placement="top" title="2nd&nbsp;place&nbsp;runner&nbsp;up"><i class="external-thread fa fa-trophy"></i></a>
                {{/is}}
                {{#is position '3'}}
                <a class="pull-right external-thread-size" data-toggle="tooltip" data-placement="top" title="3rd&nbsp;place"><i class="external-thread fa fa-trophy"></i></a>
                {{/is}}
                <span style="display:block;margin-top:-{{#inArray @root.page-category 'tournaments'}}4{{else}}8{{/inArray}}px;">
                    {{#if tags}}
                    {{#each tags}}
                    <li class="game-tag"><a class="game-link map-tag" href="?s={{this}}">{{#if (lookup @root.settings.maps.tags this)}}{{lookup (lookup @root.settings.maps.tags this) 'display'}}</a><span class="tag-hidden">{{lookup (lookup @root.settings.maps.tags this) 'keywords'}}</span>{{else}}{{capitalize this}}</a>{{/if}}</li>
                    {{/each}}
                    {{else}}
                    {{#if gamemode}}
                    <li class="game-tag"><span class="game-link map-tag">{{gamemode}}</span></li>
                    {{else}}
                    <li class="game-tag"><span class="game-link map-tag">Unknown tags</span></li>
                    {{/if}}
                    {{/if}}
                </span>
            </div>
            <div class="map-overlay">
                <div class="stats">
                    <div class="stat main"><span class="stat-downloads-unique" data-map="{{clean name}}">0</span> unique downloads</div>
                    <div class="stat"><span class="stat-downloads-total" data-map="{{clean name}}">0</span> total downloads</div>
                    <div class="stat"><span class="stat-downloads-recent" data-map="{{clean name}}">0</span> recent</div>
                </div>
            </div>
            <div class="map-labels">
                {{#inArray @root.page-category 'maps'}}
                {{#inArray @root.page-category 'contest'}}
                <span class="label {{#is position '1'}}map-label-contest-first{{else}}{{#is position '2'}}map-label-contest-second{{else}}{{#is position '3'}}map-label-contest-third{{else}}label-default{{/is}}{{/is}}{{/is}} map-label">{{ordinalize position}} place</span>
                {{/inArray}}
                {{#inArray @root.page-category 'collections'}}
                {{#inArray @root.data.new slug}}
                <a href="?s=new" class="label label-primary map-label">New</a>
                {{/inArray}}
                {{#inArray @root.data.popular slug}}
                <a href="?s=popular" class="label label-danger map-label">Popular</a>
                {{/inArray}}
                {{#if sourced}}
                <span class="label label-default map-label">Unlicensed</span>
                {{else}}
                {{#if commercial}}
                <a href="?s=by-sa" class="label label-success map-label" data-toggle="tooltip" data-placement="top" title="This map allows commercial use">Commercial</a>
                {{else}}
                <a href="?s=by-nc-sa" class="label label-warning map-label" data-toggle="tooltip" data-placement="top" title="This map does not allow commercial use">Noncommercial</a>
                {{/if}}
                {{/if}}
                {{/inArray}}
                {{/inArray}}
                {{#inArray @root.page-category 'tournaments'}}
                <span class="label label-info map-label">{{stage}}</span>
                {{/inArray}}
            </div>
        </div>
        {{#inArray @root.page-category 'maps'}}
        <div class="map-authors">
            <span class="map-author-name">by</span>
            {{#if authors}}
            {{#authors}}
            <li class="game-tag author-tag">{{#if username}}<a class="map-author-name" href="{{#inArray @root.page-category 'contest'}}/maps/{{@root.settings.maps.group}}{{/inArray}}?s={{uuid}}">{{username}}<span class="tag_hidden">{{formatUUID uuid}}</span></a>{{else}}<span class="map-author-name">Ghost</span>{{/if}}</li>
            {{/authors}}
            {{else}}<span class="map-author-name">Ghost</span>
            {{/if}}
        </div>
        {{#inArray @root.page-category 'contest'}}
        <div class="map-scores">
            {{#scores}}
            {{#if score}}
            <div class="progress" data-toggle="tooltip" data-placement="top" title="{{properties @root.criteria this.criteria 'label'}} ({{score}} / {{properties @root.criteria this.criteria 'max'}})">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{score}}" aria-valuemin="0" aria-valuemax="{{properties @root.criteria this.criteria 'max'}}">{{properties @root.criteria this.criteria 'label'}} ({{score}} / {{properties @root.criteria this.criteria 'max'}})</div>
            </div>
            {{/if}}
            {{/scores}}
        </div>
        {{/inArray}}
        {{#inArray @root.page-category 'tournaments'}}{{else}}
        <div style="padding-top:2%;" class="center">
            {{#if locked}}
            <span class="btn map-link-private map-button-span" role="button" data-toggle="tooltip" data-placement="top" title="This map has been locked"><i class="fa fa-lock"></i></span>
            {{else}}
            <button class="btn map-link map-button" role="button" data-toggle="modal" data-target="#download-{{slug}}"><i class="fa fa-download"></i></button>
            {{#unless xml}}
            <span class="btn map-link-disabled map-button"><i class="fa fa-code"></i></span>
            {{else}}
            <a id="{{name}}" href="https://github.com/MCResourcePile/{{@root.settings.maps.group}}-maps{{#is @root.settings.maps.group 'overcast'}}-{{findGroup slug}}{{/is}}/raw/master/maps/{{slug}}/map.xml" target="_blank" class="btn map-link map-button click-xml" role="button"><i id="{{name}}" class="fa fa-code click-xml"></i></a>
            {{/unless}}
            {{/if}}
            <a id="{{name}}" href="https://raw.githubusercontent.com/MCResourcePile/{{@root.settings.maps.group}}-maps{{#is @root.settings.maps.group 'overcast'}}-{{findGroup slug}}{{/is}}/master/maps/{{slug}}/map.png" target="_blank" class="btn map-link map-button-sm click-image" role="button" style="display:none"><i id="{{name}}" class="fa fa-file-image-o"></i></a>
        </div>
        <div class="map-dropdown center">
            <div class="collapse" id="map-dropdown-{{slug}}">
                <div class="stats">
                    <div class="stat main"><span class="stat-downloads-unique" data-map="{{clean name}}">0</span> unique downloads</div>
                    <div class="stat"><span class="stat-downloads-total" data-map="{{clean name}}">0</span> total downloads</div>
                    <div class="stat"><span class="stat-downloads-recent" data-map="{{clean name}}">0</span> recent</div>
                </div>
            </div>
            <a class="toggle" data-toggle="map-dropdown-{{slug}}"><i class="fa fa-caret-down"></i></a>
        </div>
        <div class="modal fade" id="download-{{slug}}" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Downloading files for {{#if name}}{{name}}{{else}}Untitiled Map{{/if}}</h4>
                        <div class="map-authors">
                            <span class="map-author-name">created by</span>
                            {{#if authors}}
                            {{#authors}}
                            <li class="game-tag">{{#if username}}<img src="https://crafatar.com/avatars/{{#if uuid}}{{uuid}}{{else}}{{username}}{{/if}}?size=16&overlay" style="border-radius:3px"> <a class="map-author-name" href="?s={{uuid}}">{{username}}</a>{{else}}<img class="map-author-avatar" src="https://crafatar.com/avatars/MHF_Question?size=16"> <span class="map-author-name">Ghost</span>{{/if}}</li>
                            {{/authors}}
                            {{else}}<img class="map-author-avatar" src="https://crafatar.com/avatars/MHF_Question?size=16&overlay"> <span class="map-author-name">Ghost</span>
                            {{/if}}
                        </div>
                    </div>
                    <div class="modal-body">
                        {{#if sourced}}
                        {{#if name}}{{name}}{{else}}Untitiled Map{{/if}} has no associated license attached to it. We strongly recommend getting in contact with its authors ({{#authors}}<li class="game-tag">{{#if username}}{{username}}{{else}}Ghost{{/if}}</li>{{/authors}}) before using {{#if name}}{{name}}{{else}}Untitiled Map{{/if}} for purposes other than private use. Please be considerate when using this map and please respect the wishes of the authors.
                        {{else}}
                        {{#if name}}{{name}}{{else}}Untitiled Map{{/if}} has been licensed under the <a href="https://creativecommons.org/licenses/by{{#unless commercial}}-nc{{/unless}}-sa/4.0/" target="_blank">Creative Commons Attribution{{#unless commercial}}-NonCommercial{{/unless}}-ShareAlike 4.0</a> (CC BY{{#unless commercial}}-NC{{/unless}}-SA) license.
                        This includes all files and documents in the following download.
                        {{/if}}
                        <div class="row map-regulations">
                            <div class="col-xs-12 col-md-6 regulation-group allow">
                                <h6>Permissions</h6>
                                {{#if sourced}}
                                <span class="regulation none" data-toggle="tooltip" data-placement="top" title="This material has no associated licenses"><i class="fa fa-question-circle" aria-hidden="true"></i> Unlicensed</span>
                                {{else}}
                                {{#if commercial}}
                                <span class="regulation" data-toggle="tooltip" data-placement="top" title="Allows use in commercialised environments (eg. servers with donations)"><i class="fa fa-check-circle" aria-hidden="true"></i> Commercial Use</span>
                                {{else}}
                                <span class="regulation deny" data-toggle="tooltip" data-placement="top" title="Material must not be used in commercialised environments (eg. servers with donations)"><i class="fa fa-times-circle" aria-hidden="true"></i> Commercial Use</span>
                                {{/if}}
                                <span class="regulation" data-toggle="tooltip" data-placement="top" title="Allows remixing and modification of the original source material"><i class="fa fa-check-circle" aria-hidden="true"></i> Modification</span>
                                <span class="regulation" data-toggle="tooltip" data-placement="top" title="Allows re-distribution of the original or modified source material"><i class="fa fa-check-circle" aria-hidden="true"></i> Distribution</span>
                                {{/if}}
                            </div>
                            <div class="col-xs-12 col-md-6 regulation-group conditions">
                                <h6>Conditions</h6>
                                {{#if sourced}}
                                <span class="regulation none" data-toggle="tooltip" data-placement="top" title="This material has no associated licenses"><i class="fa fa-question-circle" aria-hidden="true"></i> Unlicensed</span>
                                {{else}}
                                {{#unless commercial}}
                                <span class="regulation" data-toggle="tooltip" data-placement="top" title="Material must not be used in commercialised environments (eg. servers with donations)"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Noncommercial Use</span>
                                {{/unless}}
                                <span class="regulation" data-toggle="tooltip" data-placement="top" title="Material must have appropriate and clear credit to the original creators"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Attribution</span>
                                <span class="regulation" data-toggle="tooltip" data-placement="top" title="Material must be distributed under the same license (CC BY{{#unless commercial}}-NC{{/unless}}-SA)"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Share-Alike</span>
                                <span class="regulation" data-toggle="tooltip" data-placement="top" title="Click here for full license details"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <a href="https://creativecommons.org/licenses/by{{#unless commercial}}-nc{{/unless}}-sa/4.0/legalcode" target="_blank">License notice</a></span>
                                {{/if}}
                            </div>
                            <a href="https://creativecommons.org/licenses/by{{#unless commercial}}-nc{{/unless}}-sa/4.0/legalcode" target="_blank">
                                <img src="https://i1.wp.com/mirrors.creativecommons.org/presskit/buttons/88x31/png/by{{#unless commercial}}-nc{{/unless}}-sa.png?resize=85%2C30">
                            </a>
                        </div>
                        You will be downloading the version of {{#if name}}{{name}}{{else}}Untitiled Map{{/if}} that has been provided to ResourcePile, not the original. {{#if cardinal}}This map has been tested and works on a Cardinal server. <i>Edits may have been made to the map for it to work as expected.</i>{{/if}} {{#if discussion}}If you would prefer to download this map from the original location, please visit the map's <a href="{{discussion}}" target="_blank">discussion thread</a>.{{/if}}
                        <div class="alert alert-info alert-sm map-download-tip" role="alert">
                            {{#inArray @root.page-category 'pgm_server'}}
                            This map has been designed and tested to be used with <a href="https://github.com/OvercastNetwork/ProjectAres" target="_blank">Overcast's open source plugins</a> and we recommend using those to have the best experience with this map.
                            {{else}}
                            This map has been designed and tested to be used with <a href="https://github.com/Avicus/AvicusNetwork" target="_blank">Avcius' open source plugins</a> and we recommend using those to have the best experience with this map.
                            {{/inArray}}
                        </div>
                        <div class="auth-disabled alert alert-danger alert-sm" role="alert">Your download is not authenticated. Consider <a href="/admin/preferences">authenticating your download</a> so you can download more maps without a limit.</div>
                    </div>
                    <div class="modal-footer">
                        <div class="map-download-pending">
                            <small>
                                {{#unless sourced}}
                                By clicking 'Download' you agree to follow the conditions of the <a href="https://creativecommons.org/licenses/by{{#unless commercial}}-nc{{/unless}}-sa/4.0/legalcode" target="_blank">CC BY{{#unless commercial}}-NC{{/unless}}-SA</a> license.<br>
                                If you do not agree with these terms, click 'Close' <strong>now</strong>. 
                                {{/unless}}
                                More information about map downloads can be found <a href="https://mcresourcepile.github.io/policies/maps" target="_blank">here</a>.
                            </small>
                        </div>
                        <div class="map-download-started" style="display:none;">
                            <b>Your download will begin shortly...</b>
                            <div class="progress" style="margin-top:8px;margin-bottom:16px;">
                                <div id="compile-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        {{#if sourced}}
                        {{#is sourced true}}
                        {{#if discussion}}
                        <a type="button" id="{{name}}" slug="{{slug}}" href="{{discussion}}" target="_blank" class="btn map-link click-download-external">Original Download</a>
                        {{else}}
                        <button type="button" class="btn disabled map-link click-download-external" data-toggle="tooltip" data-placement="top" title="Original download is not available for this map">Original Download</button>
                        {{/if}}
                        {{else}}
                        <a type="button" id="{{name}}" slug="{{slug}}" href="{{sourced}}" target="_blank" class="btn map-link click-download-external">Original Download</a>
                        {{/is}}
                        {{/if}}
                        {{#if download}}
                        <button type="button" id="{{name}}" slug="{{slug}}" path="https://github.com/MCResourcePile/{{@root.settings.maps.group}}-maps{{#is @root.settings.maps.group 'overcast'}}-{{findGroup slug}}{{/is}}/tree/master/maps/{{slug}}" license="{{#if sourced}}none{{else}}{{#unless commercial}}noncommercial{{else}}commercial{{/unless}}{{/if}}" class="btn map-link click-download">Download</button>
                        {{else}}
                        <button type="button" class="btn disabled map-link" data-toggle="tooltip" data-placement="top" title="Download is not available for this map">Download</button>
                        {{/if}}
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="text-transform:none">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {{/inArray}}
        {{/inArray}}
    </div>
</div>
