{{> navigation_header}}
<div class="row">
    {{#stats}}
    <div class="{{#if full}}col-md-12{{else}}col-md-4{{/if}}">
        <div class="card border-{{color}}">
            <h5 class="card-header text-{{color}} border-{{color}}"><i class="{{icon}}" style="font-size: 28px; margin-right: 5px;"></i> {{name}}</h5>
            <div class="card-body">
                {{#if custom}}
                <ul>
                    {{#each data}}
                    <li>{{{this}}}</li>
                    {{/each}}
                </ul>
                {{else}}
                <ol>
                    {{#data}}
                    <li>
                        {{#unless ../non-player}}
                        <img src="https://crafatar.com/avatars/{{#if uuid}}{{uuid}}{{else}}{{username}}{{/if}}?size=16&default=MHF_Steve&overlay">
                        {{/unless}}
                        <strong>{{name}}</strong> - {{number}}
                    </li>
                    {{/data}}
                </ol>
                {{/if}}
            </div> 
            {{#if information}}
            <div class="card-footer">
            {{{information}}}
            </div>
            {{/if}}
        </div>
    </div>
    {{/stats}}
</div>
{{> navigation_footer}}