<div class="img-thumbnail map-search{{#if settings.maps.advanced_menu.dynamic}} map-search-dynamic{{/if}}">
    <div class="center">
        <span id="searchable-count"></span>
    </div>
    <input type="text" id="search" class="fuzzy-search form-control record-search-box" placeholder="Search {{@root.settings.maps.advanced_menu.placeholder}}">
    <div class="filters">
        <b>Filters</b>
        <small>Use filters to narrow your query when searching for specific {{@root.settings.maps.advanced_menu.placeholder}}.</small>
        {{#each settings.maps.advanced_menu.groups}}
        <div class="group">
            {{#if title}}
            <b>{{title}}</b>
            {{/if}}
            {{#if tags}}
            {{#each tags}}
            <span class="filter">{{#if (lookup @root.settings.maps.tags this)}}{{lookup (lookup @root.settings.maps.tags this) 'display'}}{{else}}{{capitalize this}}{{/if}}</span>
            {{/each}}
            {{/if}}
            {{#if slider}}
            {{#slider}}
            {{min}}
            <input id="slider" type="text" value="" data-slider-min="{{min}}" data-slider-max="{{max}}" data-slider-step="{{step}}" data-slider-value="{{#if range}}[{{min}},{{max}}]{{else}}{{max}}{{/if}}">
            {{max}}
            {{/slider}}
            {{/if}}
        </div>
        {{/each}}
        <div class="group search-options">
            <b>Search Options</b>
            <small>Use filter options to alter how {{@root.settings.maps.advanced_menu.placeholder}} are filtered.</small>
            <span class="filter-option-toggle">
                <span class="filter filter-option active" data-option="match" data-toggle="all">Match All Filters</span>
                <span class="filter filter-option" data-option="match" data-toggle="any">Match Any Filter</span>
            </span>
            <span class="filter filter-option" data-option="invert">Invert Filters</span>
        </div>
    </div>
</div>
