{{> navigation_header}}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link{{#inArray page-category 'rev_website'}} active{{/inArray}}" href="/revisions/website">Website</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle{{#inArray page-category 'rev_maps'}} active{{/inArray}}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Maps
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/revisions/maps/overcast">Overcast Collection</a>
            <a class="dropdown-item" href="/revisions/maps/pgm">PGM Collection</a>
            <a class="dropdown-item" href="/revisions/maps/stratus">Stratus Collection</a>
            <a class="dropdown-item" href="/revisions/maps/avicus">Avicus Collection</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link{{#inArray page-category 'rev_addon'}} active{{/inArray}}" href="/revisions/addonproject">Addon Project</a>
    </li>
</ul>
{{#each settings.revisions.repositories}}
<h5 style="margin-top: 10px;"><strong>Viewing:</strong> <a href="https://github.com/{{user}}/{{repo}}" target="_blank">{{repo}}</a></h5>
<div id="commits-{{replace repo "." "-"}}"></div>
<script type="text/javascript">
    $(function() {
        $('#commits-{{replace repo "." "-"}}').githubInfoWidget({
            user: '{{user}}',
            repo: '{{repo}}',
            branch: '{{branch}}',
            last: {{@root.settings.revisions.last}},
            limitMessageTo: {{@root.settings.revisions.characters}}
        }, highlightAuthors);
    });
</script>
{{/each}}
{{> navigation_footer}}
