{{> navigation_header}}
<div id="searchable-collection" class="row">
    <div class="col-md-3 col-md-push-9">
        {{> page_search_menu_advanced}}
    </div>
    <div class="col-md-9 col-md-pull-3{{#if @root.settings.tournaments.no_banner}} no-banners{{/if}}">
        <div class="tm-banner-options thumbnail">
            <span class="active" id="display-banners"><i class="fas fa-images"></i> Display Banners</span>
            <a href="/admin/preferences#preference-show-tm-banners" target="_blank">
                <span><i class="fas fa-cog"></i> Preferences</span>
            </a>
        </div>
        <div class="list">
            {{#each (arrReverse tournaments)}}
            {{#unless hidden}}
            <div class="tm-banner-row">
                <div class="tm-labels">
                    {{#information}}
                    {{#if type}}
                    <span class="tm-label click-search" data-query="{{type}}">{{type}} <strong>#{{number}}</strong></span>
                    {{/if}}
                    {{#if dates}}
                    <span class="tm-label" data-toggle="tooltip" data-placement="top" title="{{dates}}"><i class="far fa-calendar"></i> {{year}}</span>
                    {{else}}
                    <span class="tm-label"><i class="far fa-calendar"></i> {{year}}</span>
                    {{/if}}
                    {{#if winner}}
                    <span class="tm-label click-search" data-query="{{winner}}"><i class="fas fa-trophy"></i> {{winner}}</span>
                    {{else}}
                    <span class="tm-label"><i class="fas fa-hourglass-half"></i> In Progress</span>
                    {{/if}}
                    {{/information}}
                </div>
                <a href="/leagues/{{@root.settings.tournaments.host}}/{{snakecase (lowercase name)}}">
                    <div class="tm-name">{{#if full-name}}{{full-name}}{{else}}{{name}}{{/if}}</div>
                    <div class="tm-tags">
                        {{#each (sort tags)}}
                        <span class="tm-tag">{{#if (lookup @root.settings.maps.tags this)}}{{lookup (lookup @root.settings.maps.tags this) 'display'}}{{else}}{{capitalize this}}{{/if}}</span>{{#unless @last}},{{/unless}}
                        {{/each}}
                        <div class="tags hidden">{{#information}}{{#if winner}}{{winner}},{{/if}}{{type}},{{/information}}{{#each (sort tags)}}{{#if (lookup @root.settings.maps.tags this)}}{{lookup (lookup @root.settings.maps.tags this) 'display'}}{{else}}{{capitalize this}}{{/if}}{{#unless @last}},{{/unless}}{{/each}}</div>
                    </div>
                    {{#unless @root.settings.tournaments.no_banner}}
                    {{#if default_banner}}
                    <div class="league-default-banner lazy" data-bg="url('../../assets/img/tournament/banners/default/{{default_banner}}.jpg')" style="background-position: center; background-size: cover;">{{name}}</div>
                    {{else}}
                    <img class="league-banner lazy" data-src="../../assets/img/tournament/banners/{{@root.settings.tournaments.host}}/{{snakecase (lowercase name)}}.png">
                    {{/if}}
                    {{/unless}}
                </a>
            </div>
            {{/unless}}
            {{/each}}
        </div>
    </div>
</div>
{{> navigation_footer}}