{{> navigation_header}}
{{#if data.featured.enabled}}{{> page_maps_featured}}{{/if}}
<div class="thumbnail">
    <form name="search_form" class="record-search-container">
        <input type="search" id="search" name="s" value="" class="form-control record-search-box" placeholder="Search maps">
    </form>
    {{#if settings.maps.menu}}
    <div class="game-mode-navigation row" data-source="{{settings.maps.group}}">
        {{#every 2 settings.maps.menu}}
        <div class="col-xs-12 col-md-4">
            {{#each this}}
            <div class="col-xs-6 col-md-6">
                <div class="game-mode-selection-header">{{#if column}}{{column}}{{else}}Game Types{{/if}}</div>
                {{#each tags}}
                <a class="game-mode-button" href="?s={{this}}">{{#if (lookup @root.settings.maps.tags this)}}{{lookup (lookup @root.settings.maps.tags this) 'display'}}{{else}}{{capitalize this}}{{/if}}</a>
                {{/each}}
            </div>
            {{/each}}
        </div>
        {{/every}}
    </div>
    {{/if}}
</div>
<div class="total-maps center">Loading maps collection...</div>
<div id="maps-output">
    <div class="dynamic">
        {{#data}}
        {{#each (sortBy maps "name")}}
        {{#if download}}
        {{> page_maps_thumbnail}}
        {{else}}
        {{#if sourced}}
        {{#is sourced true}}
        <div id="{{slug}}" class="no-download"></div>
        {{else}}
        {{> page_maps_thumbnail}}
        {{/is}}
        {{/if}}
        {{/if}}
        {{/each}}
        {{/data}}
    </div>
</div>
<div class="modal fade" id="download-complete-message" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header center">
                <h4 class="modal-title">Your download has started</h4>
            </div>
            <div class="modal-body">
                Thank you for downloading this map from ResourcePile. Please respect the included license and wishes of the authors when using this map in both public and private environments. Without them ResourcePile would not be able to host such a wonderful collection of maps to our community.
                <br>
                If you find any issues with the map, please report them over at our <a href="https://github.com/MCResourcePile/MCResourcePile.github.io/issues/new" target="_blank">GitHub issues tracker</a>.
                <div class="well well-sm" style="margin-top:12px;">
                    You currently have <span class="api-request-remaining"></span> out of <span class="api-request-limit"></span> requests left to the GitHub API.<br>
                    This means that you can download approximately <span class="api-request-approximate"></span> more maps before you must wait <span class="api-request-reset"></span> for the limit to reset.
                </div>
                <div class="modal-section-head">Suggested Maps</div>
                <div class="modal-section-body">
                    <div class="map-suggestions row"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" style="text-transform:none">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="download-opened" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Your download has been opened in a new window</h4>
            </div>
            <div class="modal-body">
                You have been directed to the location of the original download for this map. Please note that if using this map on a server running {{#inArray @root.page-category 'pgm_server'}}Overcast's{{else}}Avicus'{{/inArray}} game plugins that there may be unresolved errors. As we have no control over these downloads we cannot fix these problems and hold no responsibility towards them.
                <div class="well well-sm" style="margin-top:12px;margin-bottom:-16px;">
                    You currently have <span class="api-request-remaining"></span> out of <span class="api-request-limit"></span> requests left to the GitHub API.<br>
                    This means that you can download approximately <span class="api-request-approximate"></span> more maps before you must wait <span class="api-request-reset"></span> for the limit to reset.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="download-error-message" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">An error has occurred</h4>
            </div>
            <div class="modal-body">
                Something went wrong. The error that occurred has been described below. Please try again, but if the issue persists please report an issue on our <a href="https://github.com/MCResourcePile/MCResourcePile.github.io/issues/new" target="_blank">Issues Tracker</a>.
                <br><br>
                Error output:
                <pre id="download-error-output"></pre>
                <div class="well well-sm" style="margin-top:12px;margin-bottom:-16px;">
                    You currently have <span class="api-request-remaining"></span> out of <span class="api-request-limit"></span> requests left to the GitHub API.<br>
                    This means that you can download approximately <span class="api-request-approximate"></span> more maps before you must wait <span class="api-request-reset"></span> for the limit to reset.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="download-rate-limit-message" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">You've hit the rate limit</h4>
            </div>
            <div class="modal-body">
                Looks like you've hit GitHub's rate limit. <a href="/admin/auth">Authenticate your download with GitHub</a> if you would like to download more maps now. Alternatively you can wait an hour for your rate to reset.
                <div class="well well-sm" style="margin-top:12px;margin-bottom:-16px;">
                    You currently have <span class="api-request-remaining"></span> out of <span class="api-request-limit"></span> requests left to the GitHub API.<br>
                    This means that you can download approximately <span class="api-request-approximate"></span> more maps before you must wait <span class="api-request-reset"></span> for the limit to reset.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{> navigation_footer}}
