<div class="thumbnail">
    <form name="search_form" class="record-search-container">
        <input type="search" id="search" name="s" value="" class="form-control record-search-box" placeholder="Search maps">
    </form>
    {{#if settings.maps.menu}}
    <div class="game-mode-navigation row" data-source="{{settings.maps.group}}">
        {{#every 2 settings.maps.menu}}
        <div class="col-xs-12 col-md-4">
            {{#each this}}
            <div class="col-xs-6 col-md-6">
                {{#if column}}
                <div class="game-mode-selection-header">{{column}}</div>
                {{#each tags}}
                <a class="game-mode-button" href="?s={{this}}">{{#if (lookup @root.settings.maps.tags this)}}{{lookup (lookup @root.settings.maps.tags this) 'display'}}{{else}}{{capitalize this}}{{/if}}</a>
                {{/each}}
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{/every}}
    </div>
    {{/if}}
</div>
