<div class="col img-thumbnail map-thumbnail center{{#inArray @root.data.new slug}} map-glow-new{{/inArray}}{{#inArray @root.data.popular slug}} map-glow-popular{{/inArray}}{{#inArray @root.page-category 'contest'}}{{#is position '1'}} map-glow-contest-first{{/is}}{{#is position '2'}} map-glow-contest-second{{/is}}{{#is position '3'}} map-glow-contest-third{{/is}}{{/inArray}}">
    <div class="map-thumbnail-selector">
        <div class="map-thumbnail-header">
            <img class="image lazy" data-src="{{#inArray @root.page-category 'tournaments'}}../../assets/img/{{#inArray @root.page-category 'contest'}}contest/{{snakecase (lowercase @root.title)}}/maps{{else}}tournament/shared/maps{{/inArray}}/{{slug}}.png{{else}}https://raw.githubusercontent.com/MCResourcePile/{{@root.settings.maps.group}}-maps{{#is @root.settings.maps.group 'overcast'}}-{{findGroup slug}}{{/is}}/{{#unless @root.settings.maps.downloads}}images/maps/{{slug}}.png{{else}}master/maps/{{slug}}/map.png{{/unless}}{{/inArray}}">
            <div class="banner" data-toggle="tooltip" data-placement="top" title="{{name}}">
                <div class="title">
                    <a{{#inArray @root.page-category 'maps'}} data-query="{{slug}}" class="s-title click-search"{{else}} class="s-title"{{/inArray}}>{{#if name}}{{name}}{{else}}{{slug}}{{/if}}</a>
                </div>
                <div class="sub-title">
                    {{#if tags}}
                    {{#each tags}}
                    <li class="game-tag map-tag s-tag">{{#if (lookup @root.settings.maps.tags this)}}{{lookup (lookup @root.settings.maps.tags this) 'display'}}<span class="hidden">{{lookup (lookup @root.settings.maps.tags this) 'keywords'}}</span>{{else}}{{capitalize this}}{{/if}}{{#unless @last}},{{/unless}}</li>
                    {{/each}}
                    {{else}}
                    {{#if gamemode}}
                    <li class="game-tag map-tag">{{gamemode}}</li>
                    {{else}}
                    <li class="game-tag map-tag">Unknown tags</li>
                    {{/if}}
                    {{/if}}
                    {{#inArray @root.page-category 'collections'}}
                    <div class="hidden tags">{{slug}},{{#inArray @root.data.new slug}}New,{{/inArray}}{{#inArray @root.data.popular slug}}Popular,{{/inArray}}{{#inArray @root.data.rotations.micro slug}}Mirco,{{/inArray}}{{#inArray @root.data.rotations.mini slug}}Mini,{{/inArray}}{{#inArray @root.data.rotations.medium slug}}Medium,{{/inArray}}{{#inArray @root.data.rotations.mega slug}}Mega,{{/inArray}}{{#inArray @root.data.rotations.mammoth slug}}Mammoth,{{/inArray}}{{#if sourced}}Unlicensed,{{else}}{{#if commercial}}Commercial,{{else}}Noncommercial,{{/if}}{{/if}}{{#each (sort tags)}}{{#if (lookup @root.settings.maps.tags this)}}{{lookup (lookup @root.settings.maps.tags this) 'display'}}{{else}}{{capitalize this}}{{/if}}{{#unless @last}},{{/unless}}{{/each}}</div>
                    {{/inArray}}
                </div>
                <div class="icon-alerts">
                    {{#if (lookup @root.settings.maps.environments environment)}}
                    {{#with (lookup @root.settings.maps.environments environment)}}
                    {{#if this.prompt}}
                    <a class="pull-right external-thread-size" data-toggle="tooltip" data-placement="top" title="{{this.prompt}}"><i class="fa fa-exclamation-circle"></i></a>
                    {{/if}}
                    {{/with}}
                    {{/if}}
                    {{#if contest}}
                    <a href="/contests/{{#is @root.settings.maps.group 'pgm'}}overcast{{else}}{{@root.settings.maps.group}}{{/is}}/{{contest}}" data-toggle="tooltip" data-placement="top" title="{{#is @root.settings.maps.group 'pgm'}}Overcast{{else}}{{sentence @root.settings.maps.group}}{{/is}} contest submission"><i class="fa fa-map"></i></a>
                    {{/if}}
                    {{#if discussion}}
                    <a href="{{discussion}}" target="_blank" data-toggle="tooltip" data-placement="top" title="Discussion"><i class="fa fa-comments-o"></i></a>
                    {{/if}}
                    {{#if cardinal}}
                    <a data-toggle="tooltip" data-placement="top" title="Tested&nbsp;with&nbsp;Cardinal"><i class="fa fa-certificate"></i></a>
                    {{/if}}
                    {{#is position '1'}}
                    <a data-toggle="tooltip" data-placement="top" title="1st&nbsp;place&nbsp;winner"><i class="fa fa-trophy"></i></a>
                    {{/is}}
                    {{#is position '2'}}
                    <a data-toggle="tooltip" data-placement="top" title="2nd&nbsp;place&nbsp;runner&nbsp;up"><i class="fa fa-trophy"></i></a>
                    {{/is}}
                    {{#is position '3'}}
                    <a data-toggle="tooltip" data-placement="top" title="3rd&nbsp;place"><i class="fa fa-trophy"></i></a>
                    {{/is}}
                </div>
            </div>
            <div class="labels">
                {{#inArray @root.page-category 'collections'}}
                {{#inArray @root.data.new slug}}
                <a href="?f=New" class="badge badge-primary">New</a>
                {{/inArray}}
                {{#inArray @root.data.popular slug}}
                <a href="?f=Popular" class="badge badge-danger">Popular</a>
                {{/inArray}}
                {{#inArray @root.data.rotations.micro slug}}
                <a href="?s=popular" class="badge badge-secondary">Micro</a>
                {{/inArray}}
                {{#inArray @root.data.rotations.mini slug}}
                <a href="?s=popular" class="badge badge-secondary">Mini</a>
                {{/inArray}}
                {{#inArray @root.data.rotations.medium slug}}
                <a href="?s=popular" class="badge badge-secondary">Medium</a>
                {{/inArray}}
                {{#inArray @root.data.rotations.mega slug}}
                <a href="?s=popular" class="badge badge-secondary">Mega</a>
                {{/inArray}}
                {{#inArray @root.data.rotations.mammoth slug}}
                <a href="?s=popular" class="badge badge-secondary">Mammoth</a>
                {{/inArray}}
                {{#if @root.settings.maps.downloads}}
                {{#if sourced}}
                <span class="badge badge-secondary">Unlicensed</span>
                {{else}}
                {{#if commercial}}
                <a href="?f=Commercial" class="badge badge-success" data-toggle="tooltip" data-placement="top" title="This map allows commercial use">Commercial</a>
                {{else}}
                <a href="?f=Noncommercial" class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="This map does not allow commercial use">Noncommercial</a>
                {{/if}}
                {{/if}}
                {{/if}}
                {{/inArray}}
                {{#inArray @root.page-category 'contest'}}
                <span class="badge {{#is position '1'}}map-label-contest-first{{else}}{{#is position '2'}}map-label-contest-second{{else}}{{#is position '3'}}map-label-contest-third{{else}}badge-secondary{{/is}}{{/is}}{{/is}}">{{#if position}}{{ordinalize position}}{{else}}-{{/if}} place</span>
                {{/inArray}}
                {{#inArray @root.page-category 'tournaments'}}
                <span class="badge badge-info">{{stage}}</span>
                {{/inArray}}
            </div>
        </div>
        {{#inArray @root.page-category 'maps'}}
        {{#or @root.settings.maps.downloads @root.settings.maps.contest}}
        {{> map_thumbnail_body}}
        {{/or}}
        {{/inArray}}
    </div>
</div>

