{{> navigation_header}}
<div id="searchable-collection" class="row">
    <div class="col-md-3 col-md-push-9">
        {{> page_search_menu_advanced}}
    </div>
    <div class="col-md-9 col-md-pull-3 list">
        {{#tournaments}}
        {{#unless hidden}}
        <div class="tm-banner-row">
            <div class="tm-labels">
                {{#information}}
                {{#if type}}
                <a class="click-search" data-query="{{type}}">
                    <span class="tm-label">{{type}} #{{number}}</span>
                </a>
                {{/if}}
                {{#if dates}}
                <span class="tm-label" data-toggle="tooltip" data-placement="top" title="{{dates}}"><i class="far fa-calendar"></i> {{year}}</span>
                {{else}}
                <span class="tm-label"><i class="far fa-calendar"></i> {{year}}</span>
                {{/if}}
                {{#if winner}}
                <a class="click-search" data-query="{{winner}}">
                    <span class="tm-label"><i class="fas fa-trophy"></i> {{winner}}</span>
                </a>
                {{else}}
                <span class="tm-label"><i class="fas fa-hourglass-half"></i> In Progress</span>
                {{/if}}
                {{/information}}
            </div>
            <a href="/leagues/{{@root.settings.tournaments.host}}/{{snakecase (lowercase name)}}">
                <div class="tm-name">{{#if full-name}}{{full-name}}{{else}}{{name}}{{/if}}</div>
                <div class="tm-tags">
                    {{#each (sort tags)}}
                    <span class="tm-tag">{{#if (lookup @root.settings.maps.tags this)}}{{lookup (lookup @root.settings.maps.tags this) 'display'}}{{else}}{{capitalize this}}{{/if}}</span>{{#unless @last}},{{/unless}}
                    {{/each}}
                    <div class="tags hidden">{{#information}}{{#if winner}}{{winner}},{{/if}}{{type}},{{/information}}{{#each (sort tags)}}{{#if (lookup @root.settings.maps.tags this)}}{{lookup (lookup @root.settings.maps.tags this) 'display'}}{{else}}{{capitalize this}}{{/if}}{{#unless @last}},{{/unless}}{{/each}}</div>
                </div>
                {{#if default_banner}}
                <div class="league-default-banner" style="background: url('../../assets/img/tournament/banners/default/{{default_banner}}.jpg'); background-position: center; background-size: cover;">{{name}}</div>
                {{else}}
                <img class="league-banner" src="../../assets/img/tournament/banners/{{@root.settings.tournaments.host}}/{{snakecase (lowercase name)}}.png">
                {{/if}}
            </a>
        </div>
        {{/unless}}
        {{/tournaments}}
    </div>
</div>
{{> navigation_footer}}