{{> navigation_header}}
<div id="maps-collection" class="maps-output row center">
    <div class="col-md-3 col-md-push-9">
        <div class="thumbnail map-search">
            <input type="text" id="search" class="fuzzy-search form-control record-search-box" placeholder="Search maps">
            <div class="filters">
                <b>Filters</b>
                <small>Use filters to narrow your query when searching for specific maps</small>
                <div class="group">
                    <span class="filter">New</span>
                    <span class="filter">Popular</span>
                    <span class="filter">Commercial</span>
                    <span class="filter">Noncommercial</span>
                </div>
                <div class="group">
                    <b>Game Modes</b>
                    <span class="filter">Arcade</span>
                    <span class="filter">Capture Points</span>
                    <span class="filter">Capture the Wool</span>
                    <span class="filter">Capture the Flag</span>
                    <span class="filter">Destroy the Core</span>
                    <span class="filter">Destroy the Monument</span>
                    <span class="filter">Free-for-all</span>
                    <span class="filter">Ghost Squadron</span>
                    <span class="filter">King of the Hill</span>
                    <span class="filter">Race for Wool</span>
                    <span class="filter">Team Deathmatch</span>
                    <span class="filter">Skywars</span>
                </div>
                <div class="group">
                    <b>Addons</b>
                    <span class="filter">Attack/Defend</span>
                    <span class="filter">Blitz</span>
                    <span class="filter">Micro</span>
                    <span class="filter">Rage</span>
                    <span class="filter">TNT</span>
                </div>
                <div class="group">
                    <b>Editions</b>
                    <span class="filter">Christmas</span>
                    <span class="filter">Halloween</span>
                    <span class="filter">Ranked</span>
                    <span class="filter">Tournament</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-md-pull-3 dynamic list">
        {{#each (sortBy data.maps "name")}}
        {{> page_maps_thumbnail_advanced}}
        {{/each}}
    </div>
</div>
{{> navigation_footer}}
