{{> navigation_header}}
<div class="section leagues center">
    {{#tournaments}}
    <a href="{{#if disabled}}#{{else}}/{{#inArray @root.page-category 'contest'}}contests{{else}}leagues{{/inArray}}/{{@root.settings.maps.group}}/{{snakecase (lowercase name)}}{{/if}}">
        {{#if heading}}
        <div class="league-banner {{#if disabled}}hide{{/if}}" style="background: url('../../assets/img/{{#inArray @root.page-category 'contest'}}contest/{{snakecase (lowercase name)}}/banner.jpg{{else}}{{#inArray @root.page-category 'league'}}tournament/banners/{{snakecase (lowercase name)}}.jpg{{/inArray}}{{/inArray}}');background-position:center">{{name}}</div>
        {{else}}
        <img class="league-banner-custom {{#if disabled}}hide{{/if}}" src="../../assets/img/{{#inArray @root.page-category 'contest'}}contest/{{snakecase (lowercase name)}}/banner.png{{else}}{{#inArray @root.page-category 'league'}}tournament/banners/{{snakecase (lowercase name)}}.png{{/inArray}}{{/inArray}}">
        {{/if}}
    </a>
    {{/tournaments}}
</div>
{{> navigation_footer}}
