{{> navigation_header}}
{{#if order}}
{{#order}}
<nav>
    <ul class="pager tm-pager">
        <div class="row">
            <div class="col-xs-4">
                {{#if last}}
                <li class="previous">
                    <a href="/leagues/{{@root.settings.tournaments.host}}/{{snakecase (lowercase last)}}"><i class="fas fa-long-arrow-alt-left"></i> Last: {{@root.order.last}}</a>
                </li>
                {{else}}
                <li class="previous disabled">
                    <a><i class="fas fa-long-arrow-alt-left"></i> Last</a>
                </li>
                {{/if}}
            </div>
            <div class="col-xs-4">
                <li class="pager-center">
                    <p>{{type}} #{{number}}</p>
                </li>
            </div>
            <div class="col-xs-4">
                {{#if next}}
                <li class="next">
                    <a href="/leagues/{{@root.settings.tournaments.host}}/{{snakecase (lowercase next)}}">Next: {{@root.order.next}} <i class="fas fa-long-arrow-alt-right"></i></a>
                </li>
                {{else}}
                <li class="next disabled">
                    <a>Next <i class="fas fa-long-arrow-alt-right"></i></a>
                </li>
                {{/if}}
            </div>
        </div>
    </ul>
</nav>
{{/order}}
{{/if}}
<div class="center">
    {{#if @root.settings.tournaments.default_banner}}
    <div class="league-default-banner" style="background: url('../../assets/img/tournament/banners/default/{{@root.settings.tournaments.default_banner}}.jpg'); background-position: center; background-size: cover;">{{title}}</div>
    {{else}}
    <img class="league-banner" src="../../assets/img/tournament/banners/{{@root.settings.tournaments.host}}/{{snakecase (lowercase title)}}.png">
    {{/if}}
</div>
{{#results}}
<div class="center">
    {{#if first_place}}
    <div class="league-position league-position-first">
        <i class="fas fa-trophy"></i>
        <div class="league-team">{{first_place}}</div>
        <div class="league-team-position">1<sup>st</sup> place</div>
    </div>
    <div class="row">
        <div class="league-position col-sm-6">
            <i class="fas fa-star"></i>
            <div class="league-team">{{second_place}}</div>
            <div class="league-team-position">2<sup>nd</sup> place</div>
        </div>
        <div class="league-position col-sm-6">
            <i class="fas fa-star-half-alt"></i>
            <div class="league-team">{{third_place}}</div>
            <div class="league-team-position">3<sup>rd</sup> place</div>
        </div>
    </div>
    {{else}}
    <div class="league-position league-position-first">
        <i class="fas fa-exclamation-triangle"></i>
        <h3>This tournament has not concluded!</h3>
        <h5>Information on this page may not be final.</h5>
    </div>
    {{/if}}
    {{#or challonge panels}}
    <a class="tournament-expand-results collapsed" data-expanded="false" data-toggle="collapse" href="#resultsCollapse">Show Full Results</a>
    {{/or}}
</div>
{{#or challonge panels}}
<div class="collapse" id="resultsCollapse">
    <div class="league-results">
        {{#if panels}}
        {{#panels}}
        <div class="row">
            <div class="col-md-{{#is size 'full'}}12{{else}}6{{/is}}">
                <div class="well well-sm well-custom-blue">
                    <div class="league-info-section">{{#if label}}{{label}}{{else}}Misc Information{{/if}}</div>
                    <table class="league-info-table">
                        <tbody>
                            {{#if rows}}
                            {{#rows}}
                            <tr>
                                {{#if label}}
                                <td>{{label}}</td>
                                <td>{{{content}}}</td>
                                {{else}}
                                <td colspan="2" style="font-weight:400">{{{content}}}</td>
                                {{/if}}
                            </tr>
                            {{/rows}}
                            {{else}}
                            <tr>
                                <td>This panel has no information.</td>
                            </tr>
                            {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{/panels}}
        {{/if}}
        {{#if challonge}}
        {{#challonge}}
        <div class="challonge-bracket">
            {{#if description}}
            <span>{{description}}</span>
            {{/if}}
            <a href="{{url}}" target="_blank">
                <i class="fas fa-external-link-alt"></i>
            </a>
            <iframe src="{{url}}/module" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
        </div>
        {{/challonge}}
        {{/if}}
    </div>
</div>
{{/or}}
{{/results}}
<div class="league-info-section large">Tournament Information</div>
<div class="row">
    <div class="col-md-6">
        <div class="well well-sm well-custom-green">
            <div class="league-info-section">Details</div>
            <table class="league-info-table">
                <tbody>
                    {{#if announcement}}
                    <tr>
                        <td>Announcement Page</td>
                        <td><a href="{{announcement}}">{{announcement}}</a></td>
                    </tr>
                    {{/if}}
                    {{#if method}}
                    <tr>
                        <td>Method</td>
                        <td>{{method}}</td>
                    </tr>
                    {{/if}}
                    {{#if gamemodes}}
                    <tr>
                        <td>Gamemodes</td>
                        <td>
                            {{#each (sort gamemodes)}}
                            {{#if (lookup @root.settings.maps.tags this)}}{{lookup (lookup @root.settings.maps.tags this) 'display'}}{{else}}{{capitalize this}}{{/if}}{{#unless @last}},{{/unless}}
                            {{/each}}
                        </td>
                    </tr>
                    {{/if}}
                    {{#if teams-count}}
                    <tr>
                        <td>Teams</td>
                        <td>
                            <a href="#teams">{{teams-count}} <i class="fas fa-chevron-down"></i></a>
                        </td>
                    </tr>
                    {{/if}}
                    {{#if teamsize}}
                    <tr>
                        <td>Team Size</td>
                        <td>{{teamsize}}</td>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
    {{#if stages}}
    <div class="col-md-6">
        <div class="well well-sm well-custom-green">
            <div class="league-info-section">Dates</div>
            <table class="league-info-table">
                <tbody>
                    {{#stages}}
                    <tr>
                        <td>{{stage}}</td>
                        <td>{{date}}</td>
                    </tr>
                    {{/stages}}
                </tbody>
            </table>
        </div>
    </div>
    {{/if}}
    {{#if panels}}
    {{#panels}}
    <div class="col-md-{{#is size 'full'}}12{{else}}6{{/is}}">
        <div class="well well-sm well-custom-purple">
            <div class="league-info-section">{{#if label}}{{label}}{{else}}Misc Information{{/if}}</div>
            <table class="league-info-table">
                <tbody>
                    {{#if rows}}
                    {{#rows}}
                    <tr>
                        {{#if label}}
                        <td>{{label}}</td>
                        <td>{{{content}}}</td>
                        {{else}}
                        <td colspan="2" style="font-weight:400">{{{content}}}</td>
                        {{/if}}
                    </tr>
                    {{/rows}}
                    {{else}}
                    <tr>
                        <td>This panel has no information.</td>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
    {{/panels}}
    {{/if}}
</div>
{{#if maps}}
<div class="league-info-section large">Map Pool <small>{{length maps}} maps</small></div>
<div class="dynamic">
    {{#maps}}
    {{> page_maps_thumbnail_advanced}}
    {{/maps}}
</div>
{{/if}}
{{#if teams}}
<div id="teams">
    <div class="league-info-section large">Teams <small>{{teams-count}}</small></div>
    {{#gte (length teams) 2}}
    <ul class="nav nav-tabs tm-teams-tabs" role="tablist">
        {{#teams}}
        <li {{#if @first}}class="active"{{/if}}>
            <a href="#{{snakecase (lowercase name)}}" role="tab" data-toggle="tab">{{name}}</a>
        </li>
        {{/teams}}
    </ul>
    <div class="checkbox tm-teams-fade-checkbox">
        <label>
            <input type="checkbox" id="team-fade-checkbox" checked>
            Fade teams that did not advance
        </label>
    </div>
    <div class="tab-content">
        {{#teams}}
        <div role="tabpanel" class="tab-pane{{#if @first}} active{{/if}}{{#if advances}} tm-group-advances{{/if}}" id="{{snakecase (lowercase name)}}">
            {{> team_section}}
        </div>
        {{/teams}}
    </div>
    {{else}}
    {{#teams}}
    {{> team_section}}
    {{/teams}}
    {{/gte}}
</div>
{{/if}}
{{> navigation_footer}}