<div class="{{#inArray page-category 'home'}}index-alerts{{else}}content-alert{{/inArray}}">
    <noscript>
        <div class="alert alert-danger alert-global" role="alert">Please enable JavaScript in your browser. Many features of this site rely on JavaScript and will not work without it.</div>
    </noscript>
    <div id="sync-settings-alert" class="alert alert-danger alert-global" role="alert" style="display:none">We've changed the way we handle site preferences, so we are syncing your settings to the new format. <strong>Please do not leave this page until this is done.</strong></div>
    {{#if settings.alerts.enabled}}
    {{#each settings.alerts.messages}}
    <div id="alert-{{hyphenate (lowercase (truncate message 12))}}" class="alert alert-{{#if class}}{{class}}{{else}}info{{/if}} alert-global" role="alert">
        {{{message}}}
        {{#if dismissible}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="font-size:18px;"><span aria-hidden="true">&times;</span></button>
        <script>$("#alert-{{hyphenate (lowercase (truncate message 12))}}").on("closed.bs.alert",function(){Cookies.set("alert-{{hyphenate (lowercase (truncate message 12))}}-hidden",!0,{expires:365})}),Cookies.get("alert-{{hyphenate (lowercase (truncate message 12))}}-hidden")&&$("#alert-{{hyphenate (lowercase (truncate message 12))}}").alert("close");</script>
        {{/if}}
    </div>
    {{/each}}
    {{/if}}
</div>
