<div id="map-download-display" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex flex-column">
                <h5 class="modal-title">
                    Downloading
                    <a class="font-weight-bold" data-entry="map-name"></a>
                </h5>
                <div class="map-authors" data-entry="map-authors"></div>
            </div>
            <div class="modal-body">
                <div class="auth-disabled alert alert-danger modal-alert">Your download is not authenticated. Consider <a class="alert-link" href="/admin/preferences">authenticating your download</a> so you can download more maps without a limit.</div>
                <div class="row">
                    <div class="col-lg-9">
                        <div class="modal-section">
                            <div class="modal-section-header">Licence</div>
                            <div class="modal-section-body">
                                <div data-license="by-sa">
                                    <div class="row map-regulations">
                                        <div class="col-12 col-lg-6 regulation-group">
                                            <span class="font-weight-bold" data-entry="map-name"></span>
                                            has been provided to ResourcePile under the <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0</a> (CC BY-SA) International license. This license lets you remix, adapt, and build upon the map even for commercial purposes, as long as you credit the original authors and license their new creations under identical terms.
                                        </div>
                                        <div class="col-12 col-lg-3 regulation-group allow">
                                            <h6>Permissions</h6>
                                            <span class="regulation" data-toggle="tooltip" data-placement="top" title="Allows use in commercialised environments (eg. servers with donations)"><i class="fa fa-check-circle" aria-hidden="true"></i> Commercial Use</span>
                                            <span class="regulation" data-toggle="tooltip" data-placement="top" title="Allows remixing and modification of the original source material"><i class="fa fa-check-circle" aria-hidden="true"></i> Modification</span>
                                            <span class="regulation" data-toggle="tooltip" data-placement="top" title="Allows re-distribution of the original or modified source material"><i class="fa fa-check-circle" aria-hidden="true"></i> Distribution</span>
                                        </div>
                                        <div class="col-12 col-lg-3 regulation-group conditions">
                                            <h6>Conditions</h6>
                                            <span class="regulation" data-toggle="tooltip" data-placement="top" title="Material must have appropriate and clear credit to the original creators"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Attribution</span>
                                            <span class="regulation" data-toggle="tooltip" data-placement="top" title="Material must be distributed under the same license (CC BY-SA)"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Share-Alike</span>
                                            <span class="regulation" data-toggle="tooltip" data-placement="top" title="Click here for full license details"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" target="_blank">Full license notice</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div data-license="by-nc-sa">
                                    <div class="row map-regulations">
                                        <div class="col-12 col-lg-6 regulation-group">
                                            <span class="font-weight-bold" data-entry="map-name"></span>
                                            has been provided to ResourcePile under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 4.0</a> (CC BY-NC-SA) International license. This license lets you remix, adapt, and build upon the map, but <strong>not</strong> for commercial purposes, as long as you credit the original authors and license their new creations under identical terms.
                                        </div>
                                        <div class="col-12 col-md-3 regulation-group allow">
                                            <h6>Permissions</h6>
                                            <span class="regulation deny" data-toggle="tooltip" data-placement="top" title="Material must not be used in commercialised environments (eg. servers with donations)"><i class="fa fa-times-circle" aria-hidden="true"></i> Commercial Use</span>
                                            <span class="regulation" data-toggle="tooltip" data-placement="top" title="Allows remixing and modification of the original source material"><i class="fa fa-check-circle" aria-hidden="true"></i> Modification</span>
                                            <span class="regulation" data-toggle="tooltip" data-placement="top" title="Allows re-distribution of the original or modified source material"><i class="fa fa-check-circle" aria-hidden="true"></i> Distribution</span>
                                        </div>
                                        <div class="col-12 col-md-3 regulation-group conditions">
                                            <h6>Conditions</h6>
                                            <span class="regulation" data-toggle="tooltip" data-placement="top" title="Material must not be used in commercialised environments (eg. servers with donations)"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Noncommercial Use</span>
                                            <span class="regulation" data-toggle="tooltip" data-placement="top" title="Material must have appropriate and clear credit to the original creators"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Attribution</span>
                                            <span class="regulation" data-toggle="tooltip" data-placement="top" title="Material must be distributed under the same license (CC BY-NC-SA)"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Share-Alike</span>
                                            <span class="regulation" data-toggle="tooltip" data-placement="top" title="Click here for full license details"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode" target="_blank">Full license notice</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div data-license="unlicensed">
                                    <div class="row map-regulations">
                                        <div class="col-12 col-lg-6 regulation-group">
                                            <span class="font-weight-bold" data-entry="map-name"></span>
                                            does not have any license attached to it and has instead been sourced from a publicly available download published by the original author. ResourcePile strongly advises contacting the original author to obtain permission to use this map for anything other than private, personal use. Please be considerate when using this map and respect the original author.
                                        </div>
                                        <div class="col-12 col-lg-3 regulation-group allow">
                                            <h6>Permissions</h6>
                                            <span class="regulation none" data-toggle="tooltip" data-placement="top" title="This material has no associated licenses"><i class="fa fa-question-circle" aria-hidden="true"></i> Unlicensed</span>
                                        </div>
                                        <div class="col-12 col-lg-3 regulation-group conditions">
                                            <h6>Conditions</h6>
                                            <span class="regulation none" data-toggle="tooltip" data-placement="top" title="This material has no associated licenses"><i class="fa fa-question-circle" aria-hidden="true"></i> Unlicensed</span>
                                        </div>
                                    </div>
                                </div>
                                <small class="text-muted">This is not legal advice.</small>
                            </div>
                        </div>
                        <div class="modal-section" data-body="disclaimer">
                            <div class="modal-section-header">Disclaimer</div>
                            <div class="modal-section-body" data-entry="disclaimer"></div>
                        </div>
                        <div class="modal-section" data-body="sponsor" style="display:none">
                            <div class="modal-section-header">Sponsor</div>
                            <div class="modal-section-body">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <img data-entry="sponsor-image" width="120">
                                    </div>
                                    <div class="col-lg-10">
                                        <h6 style="font-size: 0.9rem;">Map provided by <span class="font-weight-bold" data-entry="sponsor-name"></span>.</h6>
                                        <div data-entry="sponsor-description"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="modal-section">
                            <div class="modal-section-header">Tags</div>
                            <div class="modal-section-body" data-entry="map-tags"></div>
                        </div>
                        <div class="modal-section">
                            <div class="modal-section-header">Preview</div>
                            <div class="modal-section-body center">
                                <img class="map-download-preview" src="/assets/img/404.png" data-entry="map-image">
                            </div>
                        </div>
                        <div class="modal-section map-download-stats" style="display:none">
                            <div class="modal-section-header">Download Statistics</div>
                            <div class="modal-section-body">
                                <div class="stat"><span data-entry="map-stats-total">0</span> total</div>
                                <div class="stat"><span data-entry="map-stats-unique">0</span> unique</div>
                                <div class="stat"><span data-entry="map-stats-recent">0</span> last 30 days</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-block">
                <div class="map-download-pending">
                    <small class="d-block">By clicking "Download" you agree to follow the conditions of the <a target="_blank" data-entry="map-license"></a> license. If you no not agree with these terms and conditions of use, click "Cancel" <strong>now</strong>.</small>
                    <small class="d-block">More information regarding map downloads and our map usage agreement can be found <a href="https://mcresourcepile.github.io/policies/maps" target="_blank">here</a>.</small>
                </div>
                <div class="map-download-started" style="display:none;">
                    <b>Your download will begin shortly...</b>
                    <div class="progress" style="margin-top:8px;margin-bottom:16px;">
                        <div id="compile-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <div>
                        <button class="btn btn-primary map-link click-download" data-entry="download">Download</button>
                        <a class="btn btn-primary map-link click-download-external" data-download-type="external">External Download</a>
                        <a class="btn btn-primary map-link click-download-external" data-download-type="source">Download Source</a>
                        <a class="btn btn-primary map-link click-download-external" data-download-type="discussion">Release Page</a>
                    </div>
                    <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
