<div class="modal fade center" id="map-image-display" tabindex="-1" role="dialog">
    <div class="modal-dialog img-thumbnail map-thumbnail collapse-image-thumbnail collapse-immune">
        <div class="map-thumbnail-header">
            <img class="image map-image" src="/assets/img/404.png">
            <div class="banner">
                <div class="title map-title">Unknown map image</div>
            </div>
        </div>
        <div class="map-thumbnail-body">
            <button class="btn btn-danger map-button-span" type="button" data-dismiss="modal" style="margin-top:3px;">Close</button>
        </div>
    </div>
</div>
