<div class="col">
  <div class="mr-thumbnail">
    <div class="mr-header">
      <img class="mr-header-image lazy" src="{{source.image_url}}"/>
      <div class="mr-header-banner">
        <div class="mr-header-title">{{name}}</div>

      </div>
    </div>
    <div class="mr-body">
      <div class="mr-authors">

      </div>
      <div class="mr-buttons">
        <a class="btn btn-primary" role="button" data-toggle="download-modal">
          <i class="fa fa-download"/>
        </a>
        <a href="{{source.github_url}}/map.xml" target="_blank" class="btn btn-primary" role="button" data-toggle="download-modal">
          <i class="fa fa-code"/>
        </a>
      </div>
    </div>
  </div>
</div>
