<div class="buttons">
    {{#if locked}}
    <span class="btn map-link-private map-button-span" role="button" data-toggle="tooltip" data-placement="top" title="This map has been locked"><i class="fa fa-lock"></i></span>
    {{else}}
    <span class="btn map-link map-button" role="button" data-toggle="download-modal" data-slug="{{slug}}" data-repo="{{#if repo}}{{repo}}{{else}}{{@root.settings.maps.default_repo}}{{/if}}" data-environment="{{#if environment}}{{environment}}{{else}}{{@root.settings.maps.default_environment}}{{/if}}" data-external-download="{{#if (isString download)}}{{download}}{{/if}}" data-source="{{#if (isString sourced)}}{{sourced}}{{/if}}" data-discussion="{{#if discussion}}{{discussion}}{{/if}}"><i class="fa fa-download"></i></span>
    {{#unless xml}}
    <span class="btn map-link-disabled map-button"><i class="fa fa-code"></i></span>
    {{else}}
    <a id="{{name}}" href="https://github.com/{{#if repo}}{{repo}}{{else}}{{@root.settings.maps.default_repo}}{{/if}}/raw/master/maps/{{slug}}/map.xml" target="_blank" class="btn map-link map-button click-xml" role="button" {{#if (lookup @root.settings.maps.environments environment)}}{{#with (lookup @root.settings.maps.environments environment)}}{{#if this.prompt}}data-toggle="tooltip" data-placement="top" title="{{this.prompt}}"{{/if}}{{/with}}{{/if}}><i id="{{name}}" class="fa fa-code click-xml"></i></a>
    {{/unless}}
    {{/if}}
    <a id="{{name}}" thumbnail="https://raw.githubusercontent.com/{{#if repo}}{{repo}}{{else}}{{@root.settings.maps.default_repo}}{{/if}}/master/maps/{{slug}}/map.png" class="btn map-link map-button map-button-sm click-image" role="button" style="display:none"><i id="{{name}}" class="fa fa-file-image"></i></a>
</div>
