{{#if @root.data.featured.enabled}}
{{#isEmpty @root.data.featured.maps}}
{{else}}
<div class="collection-thumbnail map-glow-featured">
    <div class="collection-head">
        <div class="row">
            <div class="col-12 col-sm-8">
                <div class="collection-title">{{#if data.featured.title}}{{data.featured.title}}{{else}}Featured Maps{{/if}}</div>
                {{#if data.featured.description}}
                <div class="collection-description">{{{data.featured.description}}}</div>
                {{/if}}
            </div>
            <div class="col-12 col-sm-4">
                <span id="collection-buttons" class="center float-right"></span>
            </div>
        </div>
    </div>
    <div class="collection-body">
        <div class="collection-maps">
            {{#withSort data.maps 'name'}}
            {{#contains @root.data.featured.maps slug}}
            <div class="col-sm-6 col-lg-3 img-thumbnail map-thumbnail center collapse-immune{{#inArray @root.page-category 'collections'}}{{#inArray @root.data.new slug}} map-glow-new{{/inArray}}{{#inArray @root.data.popular slug}} map-glow-popular{{/inArray}}{{/inArray}}" style="margin: 8px 8px 18px 6px; width: 270px; outline: none;">
                <div class="map-thumbnail-selector">
                    <div class="map-thumbnail-header">
                        <img class="image" src="{{#inArray @root.page-category 'tournaments'}}../../assets/img/{{#inArray @root.page-category 'contest'}}contest/{{snakecase (lowercase @root.title)}}/maps{{else}}tournament/shared/maps{{/inArray}}/{{slug}}.png{{else}}https://raw.githubusercontent.com/{{#if source.repository}}{{source.repository}}{{else}}{{@root.settings.maps.defaults.source.repository}}{{/if}}/{{#if source.branch}}{{source.branch}}{{else}}{{@root.settings.maps.defaults.source.branch}}{{/if}}{{#if source.path}}{{source.path}}{{else}}{{@root.settings.maps.defaults.source.path}}{{/if}}/{{slug}}/map.png{{/inArray}}">
                        <div class="banner" data-toggle="tooltip" data-placement="top" title="{{name}}">
                            <div class="title">
                                <a{{#inArray @root.page-category 'maps'}} data-query="{{slug}}" class="s-title click-search"{{else}} class="s-title"{{/inArray}}>{{#if name}}{{name}}{{else}}{{slug}}{{/if}}</a>
                            </div>
                            <div class="sub-title">
                                {{#if tags}}
                                {{#each tags}}
                                <li class="game-tag map-tag s-tag">{{#if (lookup @root.settings.maps.tags this)}}{{lookup (lookup @root.settings.maps.tags this) 'display'}}<span class="hidden">{{lookup (lookup @root.settings.maps.tags this) 'keywords'}}</span>{{else}}{{capitalize this}}{{/if}}{{#unless @last}},{{/unless}}</li>
                                {{/each}}
                                {{/if}}
                            </div>
                        </div>
                        <div class="labels">
                            {{#inArray @root.data.new slug}}
                            <a href="?f=New" class="badge badge-primary">New</a>
                            {{/inArray}}
                            {{#if @root.settings.maps.downloads}}
                            {{#unless sourced}}
                            {{#if commercial}}
                            <span class="badge badge-success" data-toggle="tooltip" data-placement="top" title="This map allows commercial use">Commercial</span>
                            {{else}}
                            <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="This map does not allow commercial use">Noncommercial</span>
                            {{/if}}
                            {{/unless}}
                            {{/if}}
                            {{#if sponsor}}
                            {{#if (lookup @root.settings.maps.sponsors sponsor)}}
                            {{#with (lookup @root.settings.maps.sponsors sponsor)}}
                            <span class="badge badge-info" data-toggle="tooltip" data-placement="top" title="Map provided by {{this.name}}">{{this.name}}</span>
                            {{/with}}
                            {{/if}}
                            {{/if}}
                        </div>
                    </div>
                    {{> map_thumbnail_body}}
                </div>
            </div>
            {{/contains}}
            {{/withSort}}
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>
$(document).ready(function(){
  $('.collection-maps').slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000,
      variableWidth: true,
      appendArrows: '#collection-buttons',
      responsive: [
        {
            breakpoint: 1200,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 1
            }
        },
        {
            breakpoint: 990,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 1
            }
        },
        {
            breakpoint: 600,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1
            }
        }
    ]
  });
});
</script>
{{/isEmpty}}
{{/if}}
