<div class="col img-thumbnail map-thumbnail center{{#inArray @root.page-category 'collections'}}{{#inArray @root.data.new slug}} map-glow-new{{/inArray}}{{#inArray @root.data.popular slug}} map-glow-popular{{/inArray}}{{/inArray}}{{#inArray @root.page-category 'contest'}}{{#is position '1'}} map-glow-contest-first{{/is}}{{#is position '2'}} map-glow-contest-second{{/is}}{{#is position '3'}} map-glow-contest-third{{/is}}{{/inArray}}">
    <div class="map-thumbnail-selector">
        <div class="map-thumbnail-header">
            <img class="image lazy" data-src="{{#inArray @root.page-category 'tournaments'}}../../assets/img/{{#inArray @root.page-category 'contest'}}contest/{{snakecase (lowercase @root.title)}}/maps{{else}}tournament/shared/maps{{/inArray}}/{{slug}}.png{{else}}https://raw.githubusercontent.com/{{#if source.repository}}{{source.repository}}{{else}}{{@root.settings.maps.defaults.source.repository}}{{/if}}/{{#if source.branch}}{{source.branch}}{{else}}{{@root.settings.maps.defaults.source.branch}}{{/if}}{{#if source.path}}{{source.path}}{{else}}{{@root.settings.maps.defaults.source.path}}{{/if}}/{{slug}}/map.png{{/inArray}}">
            <div class="banner" data-toggle="tooltip" data-placement="top" title="{{name}}">
                <div class="title">
                    <a{{#inArray @root.page-category 'maps'}} data-query="{{slug}}" class="s-title click-search"{{else}} class="s-title"{{/inArray}}>{{#if name}}{{name}}{{else}}{{slug}}{{/if}}</a>
                </div>
                <div class="sub-title">
                    {{#if tags}}
                    {{#each tags}}
                    <li class="game-tag map-tag s-tag">{{#if (lookup @root.settings.maps.tags this)}}{{lookup (lookup @root.settings.maps.tags this) 'display'}}<span class="hidden">{{lookup (lookup @root.settings.maps.tags this) 'keywords'}}</span>{{else}}{{capitalize this}}{{/if}}{{#unless @last}},{{/unless}}</li>
                    {{/each}}
                    {{else}}
                    {{#if gamemode}}
                    <li class="game-tag map-tag">{{gamemode}}</li>
                    {{else}}
                    <li class="game-tag map-tag">Unknown tags</li>
                    {{/if}}
                    {{/if}}
                    {{#inArray @root.page-category 'collections'}}
                    <div class="hidden tags">{{slug}},{{#if sponsor}}{{lookup (lookup @root.settings.maps.sponsors sponsor) 'name'}},{{/if}}{{#inArray @root.data.new slug}}New,{{/inArray}}{{#inArray @root.data.popular slug}}Popular,{{/inArray}}{{#unless sourced}}{{#if commercial}}Commercial,{{else}}Noncommercial,{{/if}}{{/unless}}{{#each (sort tags)}}{{#if (lookup @root.settings.maps.tags this)}}{{lookup (lookup @root.settings.maps.tags this) 'display'}}{{else}}{{capitalize this}}{{/if}}{{#unless @last}},{{/unless}}{{/each}},{{#if proto}}{{proto}}{{/if}}</div>
                    {{/inArray}}
                </div>
                <div class="icon-alerts">
                    {{#if (lookup @root.settings.maps.environments environment)}}
                    {{#with (lookup @root.settings.maps.environments environment)}}
                    {{#if this.prompt}}
                    <a class="pull-right external-thread-size" data-toggle="tooltip" data-placement="top" title="{{this.prompt}}"><i class="fa fa-exclamation-circle"></i></a>
                    {{/if}}
                    {{/with}}
                    {{else}}
                    {{#if (lookup @root.settings.maps.environments @root.settings.maps.defaults.environment)}}
                    {{#with (lookup @root.settings.maps.environments @root.settings.maps.defaults.environment)}}
                    {{#if this.prompt}}
                    <a class="pull-right external-thread-size" data-toggle="tooltip" data-placement="top" title="{{this.prompt}}"><i class="fa fa-exclamation-circle"></i></a>
                    {{/if}}
                    {{/with}}
                    {{/if}}
                    {{/if}}
                    {{#if contest}}
                    <a href="/contests/{{#is @root.settings.maps.group 'pgm'}}overcast{{else}}{{@root.settings.maps.group}}{{/is}}/{{contest}}" data-toggle="tooltip" data-placement="top" title="{{#is @root.settings.maps.group 'pgm'}}Overcast{{else}}{{sentence @root.settings.maps.group}}{{/is}} contest submission"><i class="fa fa-map"></i></a>
                    {{/if}}
                    {{#if discussion}}
                    <a href="{{discussion}}" target="_blank" data-toggle="tooltip" data-placement="top" title="Discussion"><i class="fa fa-comments"></i></a>
                    {{/if}}
                    {{#if cardinal}}
                    <a data-toggle="tooltip" data-placement="top" title="Tested&nbsp;with&nbsp;Cardinal"><i class="fa fa-certificate"></i></a>
                    {{/if}}
                    {{#is position '1'}}
                    <a data-toggle="tooltip" data-placement="top" title="1st&nbsp;place&nbsp;winner"><i class="fa fa-trophy"></i></a>
                    {{/is}}
                    {{#is position '2'}}
                    <a data-toggle="tooltip" data-placement="top" title="2nd&nbsp;place&nbsp;runner&nbsp;up"><i class="fa fa-trophy"></i></a>
                    {{/is}}
                    {{#is position '3'}}
                    <a data-toggle="tooltip" data-placement="top" title="3rd&nbsp;place"><i class="fa fa-trophy"></i></a>
                    {{/is}}
                </div>
            </div>
            <div class="labels">
                {{#inArray @root.page-category 'collections'}}
                {{#inArray @root.data.new slug}}
                <a href="?f=New" class="badge badge-primary">New</a>
                {{/inArray}}
                {{#if @root.settings.maps.downloads}}
                {{#unless sourced}}
                {{#if commercial}}
                <span class="badge badge-success" data-toggle="tooltip" data-placement="top" title="This map allows commercial use">Commercial</span>
                {{else}}
                <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="This map does not allow commercial use">Noncommercial</span>
                {{/if}}
                {{/unless}}
                {{/if}}
                {{/inArray}}
                {{#if sponsor}}
                {{#if (lookup @root.settings.maps.sponsors sponsor)}}
                {{#with (lookup @root.settings.maps.sponsors sponsor)}}
                <span class="badge badge-info" data-toggle="tooltip" data-placement="top" title="Map provided by {{this.name}}">{{this.name}}</span>
                {{/with}}
                {{/if}}
                {{/if}}
                {{#if version}}
                <span class="badge" style="background-color:#454851;color:white"  data-toggle="tooltip" data-placement="top" title="Map version {{version}}">v{{version}}</span>
                {{/if}}
                {{#if proto}}
                <span class="badge" style="background-color:#A657AE;color:white" data-toggle="tooltip" data-placement="top" title="XML protocol version {{proto}}">{{proto}}</span>
                {{/if}}
                {{#inArray @root.page-category 'contest'}}
                <span class="badge {{#is position '1'}}map-label-contest-first{{else}}{{#is position '2'}}map-label-contest-second{{else}}{{#is position '3'}}map-label-contest-third{{else}}badge-secondary{{/is}}{{/is}}{{/is}}">{{#if position}}{{ordinalize position}}{{else}}-{{/if}} place</span>
                {{/inArray}}
                {{#inArray @root.page-category 'tournaments'}}
                <span class="badge badge-info">{{stage}}</span>
                {{/inArray}}
            </div>
        </div>
        {{#inArray @root.page-category 'maps'}}
        {{#or @root.settings.maps.downloads @root.settings.maps.contest}}
        {{> map_thumbnail_body}}
        {{/or}}
        {{/inArray}}
    </div>
</div>

