<div class="tm-banner-row">
    <div class="tm-labels">
        {{#information}}
        {{#if type}}
        <span class="tm-label click-search" data-query="{{type}}">{{type}} <strong>#{{number}}</strong></span>
        {{/if}}
        {{#if dates}}
        <span class="tm-label" data-toggle="tooltip" data-placement="top" title="{{dates}}"><i class="far fa-calendar"></i> {{year}}</span>
        {{else}}
        <span class="tm-label"><i class="far fa-calendar"></i> {{year}}</span>
        {{/if}}
        {{#if winner}}
        <span class="tm-label click-search" data-query="{{winner}}"><i class="fas fa-trophy"></i> {{winner}}</span>
        {{else}}
        <span class="tm-label"><i class="fas fa-hourglass-half"></i> In Progress</span>
        {{/if}}
        {{/information}}
    </div>
    <a href="/{{@root.settings.tournaments.type}}/{{@root.settings.tournaments.host}}/{{snakecase (lowercase name)}}">
        <div class="tm-name">{{#if full-name}}{{full-name}}{{else}}{{name}}{{/if}}</div>
        <div class="tm-tags">
            {{#each (sort tags)}}
            <span class="tm-tag">{{#if (lookup @root.settings.maps.tags this)}}{{lookup (lookup @root.settings.maps.tags this) 'display'}}{{else}}{{capitalize this}}{{/if}}</span>{{#unless @last}},{{/unless}}
            {{/each}}
            <div class="tags hidden">{{#information}}{{#if winner}}{{winner}},{{/if}}{{type}},{{/information}}{{#each (sort tags)}}{{#if (lookup @root.settings.maps.tags this)}}{{lookup (lookup @root.settings.maps.tags this) 'display'}}{{else}}{{capitalize this}}{{/if}}{{#unless @last}},{{/unless}}{{/each}}</div>
        </div>
        {{#unless @root.settings.tournaments.no_banner}}
        {{#if overlay}}
        <div class="image-banner-default lazy" data-bg="url('{{@root.settings.tournaments.img_src}}{{banner_path}}')" style="background-position: center; background-size: cover;" title="{{name}}">{{name}}</div>
        {{else}}
        <img class="image-banner-custom lazy" data-src="{{@root.settings.tournaments.img_src}}{{banner_path}}">
        {{/if}}
        {{/unless}}
    </a>
</div>
